<cus-header title="Offers" notification-count="0"></cus-header>

<ion-content >
<div style="background-color:#E8E8E8" >

       <ion-item no-padding no-lines class="creditbox">
        <img src="assets/icon/credit_ico.png"  class="coinimg" >
        <span class="SlideTitle" *ngIf="Credit_Points2>0"  >Your Bonus Credit Balance :
            <span  *ngIf="waveShowingAccount==true" item-right >
                <span class="tooltip t1">
                  <i class="icon3 icon-chat grey" style="margin-left: 5vw">
                      <span class="dot dot-left"></span>
                      <span class="dot"></span>
                      <span class="dot dot-right"></span>
                    </i>
                </span>
              </span> 
              <span *ngIf="waveShowingAccount==false">
           <span id="myCurrentPint" name="myCurrentPint" ion-text  *ngIf="Credit_Points2>0"  class="PriceTxt">£{{Credit_Points2}} </span>
              </span>
          </span>
          <span *ngIf="waveShowingAccount==false">
        <span class="SlideTitle" *ngIf="Credit_Points2==0" style="color:#2F76D1 !important" (tap)="mgmPage()">GET CREDIT</span>
          </span> 
      </ion-item>

    <ion-slides initialSlide=0 spaceBetween={{spaceBetween}}>
      <ion-slide *ngFor="let product of credit_product let id=index">
        <ion-card class="SlideSpace" id={{id}} *ngIf="!product.resultshow && !product.erroeshow && check">
          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <p class="SlidePrice" [style.color]="product?.product_color"> £{{product?.jackpot}}</p>
              </ion-col>
            </ion-row>
            <ion-row class="SpaceBetweenRow">
              <ion-col col-12>
                <p class="SlideSubTitle">{{product?.name | uppercase}}</p>
              </ion-col>
            </ion-row>
            <ion-row class="SlideContentBorderTop" style="margin-top: 5%">
              <ion-col col-12>
                <p class="SlideSubTitle" style="color:#333333">Choose Draw day</p>
              </ion-col>
            </ion-row>
            <ion-row class="SpaceBetweenRow">
              <ion-col *ngFor="let draw of  product?.draw_group|keys ; let i = index">
                <button ion-button class="slide1FontColor" [ngStyle]="(i == position  )?{'background-color': product?.product_color}:{'background-color':  '#AAAAAA'}"
                  (tap)="drawday(i)">{{draw}}</button>
              </ion-col>

            </ion-row>
            <ion-row class="SlideContentBorderTop">
              <ion-col col-12>
                <p class="SlideSubTitle" style="color:#333333">Number Of Lines <span style="font-size: x-large">{{(product?.line_group| keys)[product.sliderrange?product.sliderrange:credit_filter_line]}}</span></p>
              </ion-col>
            </ion-row>

            <!-- <ion-row>
             <div  *ngFor="let line of  product?.line_group| keys;  let i = index">
                    <p  class="linebadge" [ngStyle]="(line == credit_filter_line )?{'background': product?.product_color, 'color':'#ffffff'}:{'background':  '#ffffff','color':'#AAAAAA'}"  (click)="credit_line(line)" >{{line}}</p> 
                  </div>   
          </ion-row> -->

            <ion-item no-lines>
              <ion-range class="rangeslider" *ngIf="!sliders" mode="ios" min="0" max="{{(product?.line_group|keys).length-1}}" snaps="true" (ionChange)="watchSlider(product,id,product?.index)"
              [(ngModel)]="slider">
              <ion-label [ngStyle]="{'color':'#AAAAAA','font-family': 'lato-regular','font-size':'x-large'}" range-left>{{(product?.line_group| keys)[0]}}</ion-label>
              <ion-label [ngStyle]="{'color':'#AAAAAA','font-family': 'lato-regular','font-size':'x-large'}" range-right>{{(product?.line_group| keys)[(product?.line_group| keys).length-1]}}</ion-label>
            </ion-range>

            <ion-range class="rangeslider" *ngIf="sliders" mode="ios" min="0" max="{{(product?.line_group|keys).length-1}}" snaps="true" (ionChange)="watchSlider(product,id,product?.index)"
            [(ngModel)]="product.sliderrange">
            <ion-label [ngStyle]="{'color':'#AAAAAA','font-family': 'lato-regular','font-size':'x-large'}" range-left>{{(product?.line_group| keys)[0]}}</ion-label>
            <ion-label [ngStyle]="{'color':'#AAAAAA','font-family': 'lato-regular','font-size':'x-large'}" range-right>{{(product?.line_group| keys)[(product?.line_group| keys).length-1]}}</ion-label>
            </ion-range>
            </ion-item>
           

               <!-- <ion-row *ngFor="let item of credit_offer | filter:{ line:parseInt((product?.line_group| keys)[credit_filter_line]), draw:(product?.draw_group|keys)[credit_filter_draw], game:product?.name|capitalizeFirst};let i=index;">
                <ion-col col-12 *ngIf="i<1 && !sliders">
                  <p class="SlideSubTitle SlideLastText"> Total at 30p per Line : <span ion-text color="bonus">£{{item?.prize}}</span></p>
                </ion-col>
                 </ion-row> -->

                </ion-grid>
            <div *ngFor="let items of credit_offer | filter:{ line:parseInt((product?.line_group| keys)[credit_filter_line]), draw:(product?.draw_group|keys)[credit_filter_draw]};let j=index;" style="margin-top: 10px;width: 100%;text-align: center"> 
              <span  *ngIf="j<1">
                <button ion-button class="BuyBtn" *ngIf="Credit_Points2>0" style="float: none" (tap)="buyCreditOffer(items?.offer_id,product)"><span style="font-size: large">BUY NOW</span></button>
                <button ion-button class="BuyBtn" disabled="disabled" *ngIf="Credit_Points2==0" style="float: none" (tap)="buyCreditOffer(items?.offer_id,product)"><span style="font-size: large">BUY NOW</span></button>
              </span>
            </div>
            <div  *ngFor="let item of credit_offer | filter:{ line:parseInt((product?.line_group| keys)[product.sliderrange ? product.sliderrange : credit_filter_line]), draw:(product?.draw_group|keys)[credit_filter_draw], game:product?.name|capitalizeFirst};let i=index;" style="margin-top: 5%;width: 100%;text-align: center">
              <span *ngIf="i<1">
                <p class="SlideSubTitle SlideLastText"> for 
                  <span #spanCredit  id="mySpan{{id}}" ion-text color="bonus" style="font-size: medium" >£{{item?.prize}} </span>
                  
                   <!-- <input type="text" [(ngModel)]="item.prize" (onModelChange)  (change)="Onblur($event)" > -->
                   credit</p>
              </span>
            </div>

         

          <!-- buynow  button click  if successfully   show this -->
        </ion-card>
        <!-- <ion-card *ngIf="product.resultshow" id={{id}} class="buycard">
          <button ion-button icon-only style="background:#F8F8F8; border-radius:50%">
                        <ion-icon style="width:50px; "><img src="assets/icon/check_icon.png"> </ion-icon>
                      </button>
          <ion-row text-center>
            <ion-col col-12 class="messagecolor">
              Syndicate {{buyoffer?.syndicate_name}} created! what you want to do next?
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <button ion-button outline round color="light" (click)="moveToSyndicate()">VIEW TICKETS</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <button ion-button outline round color="light" (click)="getmoreline(id)">GET More Lines</button>
            </ion-col>
          </ion-row>
          
        </ion-card>
        <ion-card *ngIf="product.erroeshow" id={{id}} class="errorcard">
          <button ion-button icon-only style="background:#F8F8F8; border-radius:50%">
                        <ion-icon style="width:50px; "><img src="assets/icon/failed_icon.png"> </ion-icon>
                      </button>
                  <ion-row text-center>
                    <ion-col col-12 class="messagecolor">
                    An error as occured. please try again 
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                        <button ion-button outline round color="light" (click)="tryagain(id)">TRY AGAIN</button>
                    </ion-col>
                  </ion-row>
              </ion-card>  -->
          </ion-slide>     
      </ion-slides>      
 </div>
</ion-content>
