
<ion-content>	
	<img class="lotto-logo center" src="assets/img/logo@3x.png" alt="Logo" >
	
	<h3 text-center>Welcome back</h3>
	
	<form #loginForm="ngForm" (ngSubmit)="submitLogin()">

	<ion-grid>
		<ion-row >
		<ion-col col-2>
			<ion-item *ngIf="selectedCountry" class="remove-inner" (click)="presentPopover($event)">
				<!-- <span item-right ion-button clear icon-right class="{{'flag-icon flag-icon-' + selectedCountry[1] }}" width="16" height="16" > -->
				<span item-right ion-button clear width="16" height="16" >
				{{selectedCountry.country_name}}</span>
				<ion-icon item-right name="arrow-down" class="small-icon"></ion-icon>
			</ion-item>
		</ion-col>
		<ion-col col-10 #popoverText>
			<ion-item>
				<ion-input type="tel" name="mobile" [(ngModel)]="login.mobile" placeholder="Enter your mobile number" required></ion-input>
			</ion-item>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col col-10>
			<ion-item>
				<ion-input #input name="password" [(ngModel)]="login.free_reg_pwd" [attr.minlength]=6 type="password" placeholder="Enter your password" required></ion-input>
			</ion-item>
		</ion-col>
		<ion-col col-2>
			<ion-item>
				<ion-icon item-right *ngIf="showPass" name="ios-eye" (click)="showPassword(input)"></ion-icon>
				<ion-icon item-right *ngIf="!showPass" name="ios-eye-off" (click)="showPassword(input)"></ion-icon>
			</ion-item>
		</ion-col>
	</ion-row>

	</ion-grid>

	<p *ngIf="warningPhone" class="warning"><ion-icon name="ios-warning-outline"> </ion-icon> Please enter a valid mobile number</p>

		<div padding>
			<button class="center auth-button" type="submit" ion-button text-center large full color="secondary" round>LOGIN</button>
			
		</div>
		<p><a text-center class="center" (click)="forgotPassPopup=true;" >Forgot your password?</a></p>
	</form>

</ion-content>






<div class="popup" *ngIf="forgotPassPopup" style="z-index: 102;">
	<ion-backdrop (click)="forgotPassPopup=!forgotPassPopup;" disable-activated="" style="opacity: .5;" role="presentation" tappable=""></ion-backdrop>
  
    <div class="popover-content center" >
    	<ion-card >
    		<div *ngIf="forgotPassPopupConfirm" class="forgot-pass-confirmed">
    			<img class="lotto-logo center" src="assets/icon/check.svg" alt="Check" width="100" height="100" />
    			<p text-center color="light">A password reminder has been sent to your mobile.</p>

    			<div padding>
					<button class="center auth-button" ion-button outline round color="light" (click)="forgotPassPopup=false;">Back to login</button>
				</div>
    		</div>

    		<div *ngIf="!forgotPassPopupConfirm" >
    		<p text-center padding>Enter the mobile number for your account to receive a password reminder</p>

			<form #loginForm="ngForm" (ngSubmit)="submitMobile()">
				<ion-grid>
					<ion-row >
					<ion-col col-2>
						<ion-item class="remove-inner" (click)="presentPopoverMobile($event)">
							<span *ngIf="selectedCountry" item-right ion-button clear icon-right class="{{'flag-icon flag-icon-' + selectedCountry[1] }}" width="16" height="16" ></span><ion-icon item-right name="arrow-down" class="small-icon"></ion-icon>
						</ion-item>
					</ion-col>
					<ion-col col-10 #popoverText>
						<ion-item>
							<ion-input type="tel" name="mobile" [(ngModel)]="login.mobile" placeholder="Enter your mobile number" required></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>

				</ion-grid>

				<p *ngIf="warningPhonePopup" class="warning"><ion-icon name="ios-warning-outline"> </ion-icon> Please enter a valid mobile number</p>

				<div padding>
					<button class="center" type="submit" ion-button text-center padding color="secondary">RECOVER PASSWORD</button>
					<p><a text-center class="center" (click)="forgotPassPopup=false;"><ion-icon name="ios-arrow-round-back"></ion-icon> Back to login.</a></p>
				</div>
			</form>
    		</div>
		</ion-card>
    </div>

</div>

