page-login {
  	a{
        color: map-get( $colors-light, links);
		text-decoration: none;
	}
    h3{
        margin-bottom: 3rem;
    }
	.grid, .col{
		padding: 0;
	}
    .button-large-md{
        font-size: 2.2rem;
    }
    .tabs-md .tabbar {
        background-color: #304d85;
        border-bottom: 1px solid #ccc;

        .tab-highlight{
          height: 4px;
          background-color: #FFFFFF;
        }

        .tab-button {
            max-width: 100%;
            text-transform: uppercase;
            font-weight: bold;
            color: #fff !important;
            min-height: 48px;
          }
    }

	.item-md{
        padding-left: 0;
        padding-right: 0;
        font-size: 1.4rem;
    }
    .item-md [item-right]{
        margin: 0 .2em;
    }
    .item-md ion-icon [item-left], .item-md ion-icon [item-right]{
        margin: 0;
    }
	.lotto-logo {
		padding: 1em;
	}
    .warning{
    	margin: 0;
    	padding: 1em;
    	margin-top: .6em;
    	background-color: rgba(255,0,0,.1);
    	color: red;
    }
    .auth-button{
        margin: 0 1em;
        width: calc(100% - 2em);
        max-height: 2.6em;
    }

    .showpassword{
		position: relative;
		right:0.7em;
		bottom: 2em;
	}
    
    .small-icon{
        font-size: 1.2em;
        padding-top: .6em;
    }
    .remove-inner.item-md.item-block{

        .input-wrapper{
            display: inline-table;
        }
    }

    .popup{
        .popover-content{
            p{
                padding: .6em;
            }
            position: relative;
            margin-top: 55%;
            padding-left: 1em;
            padding-right: 1em;

            .popup-content{
                padding-right: 2em;
                padding-left: 2em;
            }
            
            ion-card{
                background-color: #f8f8f8;
            }

            .forgot-pass-confirmed{
                height: 100%;
                width: 90%;
                color: white;
                padding: 15px;
                background: #18a455;
                position: absolute;
                z-index: 1;
                border-radius: 3px;
            }
        }
    }







}
