page-login {
  	a{
        color: map-get( $colors-light, links);
		text-decoration: none;
	}
    h3{
        margin-bottom: 3rem;
    }
	.grid, .col{
		padding: 0;
	}
    .button-large-md{
        font-size: 2.2rem;
    }
    .tabs-md .tabbar {
        background-color: #304d85;
        border-bottom: 1px solid #ccc;

        .tab-highlight{
          height: 4px;
          background-color: #FFFFFF;
        }

        .tab-button {
            max-width: 100%;
            text-transform: uppercase;
            font-weight: bold;
            color: #fff !important;
            min-height: 48px;
          }
    }

	.item-md{
        padding-left: 0;
        padding-right: 0;
        font-size: 1.4rem;
    }
    .item-md [item-right]{
        margin: 0 .2em;
    }
    
    .item-md ion-icon [item-left], .item-md ion-icon [item-right]{
        margin: 0;
    }
	.lotto-logo {
		padding: 1em;
	}
    .warning{
    	margin: 0;
    	padding: 1em;
    	margin-top: .6em;
    	background-color: rgba(255,0,0,.1);
    	color: red;
    }
    .auth-button{
        margin: 0 1em;
        width: calc(100% - 2em);
        max-height: 2.6em;
    }

    .showpassword{
		position: relative;
		right:0.7em;
		bottom: 2em;
	}
    
    .small-icon{
        font-size: 1.2em;
        padding-top: .6em;
    }
    .remove-inner.item-md.item-block{

        .input-wrapper{
            display: inline-table;
        }
    }

    .popup{
        .popover-content{
            p{
                padding: .6em;
            }
            position: relative;
            margin-top: 55%;
            padding-left: 1em;
            padding-right: 1em;

            .popup-content{
                padding-right: 2em;
                padding-left: 2em;
            }
            
            ion-card{
                background-color: #f8f8f8;
            }

            .forgot-pass-confirmed{
                height: 100%;
                width: 90%;
                color: white;
                padding: 15px;
                background: #18a455;
                position: absolute;
                z-index: 1;
                border-radius: 3px;
            }
        }
    }

    /*- --------- style guide.css ----------- */

    a:active,
a:focus,button:active,
button:focus,  {
  outline:0;
  -moz-outline-style: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
outline: none !important;}
.title
{
    color: #000000;
    font-size: 28px;
    font-weight: 900;
    font-family:'lato';
}

.headline
{
    color: #000000;
    font-size: 20px;
    text-transform: capitalize;
    font-family:'lato';
    text-align: center;

}

.header
{
    color: #000000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    font-family: 'lato';
}

.subheader
{
    color: #000000;
    font-size: 14px;
    font-weight: 900;
    font-family:'lato';
}

.page_title
{
    color: #000000;
    font-size: 14px;
    font-family:'lato';
}

.font_body1
{
    color: #000000;
    font-size: 14px;
    font-family:'lato';
}

.font_body2
{
    color: #000000;
    font-size: 12px;
    font-family:'lato';
}

.caption, .subtitle
{
    color: #000000;
    font-size: 10px;
    font-weight:normal;
    font-family:'lato';
}

.labels
{
    color: #000000;
    font-size: 8px;
    font-weight: normal;
    font-family:'lato';
}

.font_primary
{
    color: #333333;

}

.font_secoundry
{
    color: #AAAAAA;
 
}

.font_links
{
    color: #2F76D1;

}

.font_games
{
    color: #FF9933;
  
}


.font_c-green
{
    color: #00A651;
 
}

.font_ligt-red
{
    color: #FF3366;
 
}

.font_ligt-blue
{
    color: #2f76d1;
 
}

.font_dark-blue
{
    color: #1F4C87;
 
}

.theme_dark
{
    background: #333333;
}


.theme_dark .font_primary
{
    color: #F8F8F8;

}

.theme_dark .font_links
{
    color: #E7D011;

}

.theme_dark .font_count
{
    color: #FF0000;

}

.theme_dark .title {
    color: #F8F8F8;
    font-size: 28px;
    font-weight: 900;
    font-family: 'lato';
}


.theme_ligt-blue
{
    background: #2F76D1;
}


.theme_ligt-blue .font_primary
{
    color: #F8F8F8;

}



.theme_ligt-blue .font_count
{
    color: #FF0000;

}

.theme_ligt-blue .title {
    color: #F8F8F8;
    font-size: 28px;
    font-weight: 900;
    font-family: 'lato';
}

.theme_ligt-blue .font_notification
{
    color: #FF0000;

}


.btn {
  display:block;
  margin: auto;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-family: 'lato';
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
}
.btn-block {
    display: block;
    width: 100%;
}


.btn-login {
    color: #fff;
    background-color: #00A651;
    border-color: #00A651;
    border-radius: 100px;
    padding: 10px 12px;
    width: 100%;
    font-size: 15px;
    letter-spacing: 1px;
}


.btn-login:hover,
.btn-login:focus,
.btn-login.focus,
.btn-login:active,
.btn-login.active
 {
  color: #fff;
  background-color: #028642;
  border-color: #028642;
}

.btn-login:active,
.btn-login.active,
 {
  background-image: none;
}


.btn-join {
    color: #fff;
    background-color: #00A651;
    border-color: #00A651;
    border-radius: 100px;
    padding: 10px 12px;
    width: 100%;
    font-size: 15px;
    letter-spacing: 1px;
}


.btn-join:hover,
.btn-join:focus,
.btn-join.focus,
.btn-join:active,
.btn-join.active
 {
  color: #fff;
  background-color: #028642;
  border-color: #028642;
}

.btn-join:active,
.btn-join.active,
 {
  background-image: none;
}


.btn-positive {
    color: #fff;
    background-color: #00A651;
    border-color: #00A651;
    border-radius: 3px;
    height: 34px;
    letter-spacing: 1px;
}


.btn-positive:hover,
.btn-positive:focus,
.btn-positive.focus,
.btn-positive:active,
.btn-positive.active
 {
  color: #fff;
  background-color: #028642;
  border-color: #028642;
}

.btn-positive:active,
.btn-positive.active,
 {
  background-image: none;
}

.btn-negative {
    color: #fff;
    background-color: #990033;
    border-color: #990033;
    border-radius: 3px;
    height: 34px;
    letter-spacing: 1px;
}


.btn-negative:hover,
.btn-negative:focus,
.btn-negative.focus,
.btn-negative:active,
.btn-negative.active
 {
  color: #fff;
  background-color: #b5013d;
  border-color: #990033;
}

.btn-negative:active,
.btn-negative.active,
 {
  background-image: none;
}

.btn-functional {
    color: #fff;
    background-color: #2F76D1;
    border-color: #2F76D1;
    border-radius: 3px;
    height: 34px;
   letter-spacing: 1px;
}


.btn-functional:hover,
.btn-functional:focus,
.btn-functional.focus,
.btn-functional:active,
.btn-functional.active
 {
  color: #fff;
  background-color: #2b69b9;
  border-color: #2b69b9;
}

.btn-functional:active,
.btn-functional.active,
 {
  background-image: none;
}


.btn-deactive {
    color: #028642;
    background-color: transparent;
    border-color: #028642;
    border-radius: 3px;
    height: 34px;
   letter-spacing: 1px;
}


.btn-deactive:hover,
.btn-deactive:focus,
.btn-deactive.focus,
.btn-deactive:active,
.btn-deactive.active
 {
  color: #fff;
  background-color: #028642;
  border-color: #028642;
}

.btn-deactive:active,
.btn-deactive.active,
 {
  background-image: none;
}

.btn-lucky-dip {
    color: #fff;
    background-color: #2F76D1;
    border-color: #2F76D1;
    border-radius: 3px;
    height: 23px;
   letter-spacing: 1px;
   padding: 1px 12px
}


.btn-lucky-dip:hover,
.btn-lucky-dip:focus,
.btn-lucky-dip.focus,
.btn-lucky-dip:active,
.btn-lucky-dip.active
 {
  color: #fff;
  background-color: #2b69b9;
  border-color: #2b69b9;
}

.btn-lucky-dip:active,
.btn-lucky-dip.active,
 {
  background-image: none;
}

.btn-clear {
    color: #333333;
    background-color: #E8E8E8;
    border-color: #B7B7B7;
    border-radius: 3px;
    height: 23px;
   letter-spacing: 1px;
   padding: 1px 12px
}


.btn-clear:hover,
.btn-clear:focus,
.btn-clear.focus,
.btn-clear:active,
.btn-clear.active
 {
  color: #333333;
  background-color: #E8E8E8;
  border-color: #B7B7B7;
}

.btn-clear:active,
.btn-clear.active,
 {
  background-image: none;
}

/*--------------btn-reward--------------*/
.btn-reward {
    color: #fff;
    background-color: #2F76D1;
    border-color: #2F76D1;
    border-radius: 3px;
    height: 30px;
   letter-spacing: 1px;
}


.btn-reward:hover,
.btn-reward:focus,
.btn-reward.focus,
.btn-reward:active,
.btn-reward.active
 {
  color: #fff;
  background-color: #2b69b9;
  border-color: #2b69b9;
}

.btn-reward:active,
.btn-reward.active,
 {
  background-image: none;
}


/*-----btn-credit--------*/

.btn-credit {
    color: #fff;
    background-color: #FF3366;
    border-color: #FF3366;
    border-radius: 3px;
    height: 30px;
   letter-spacing: 1px;
}


.btn-credit:hover,
.btn-credit:focus,
.btn-credit.focus,
.btn-credit:active,
.btn-credit.active
 {
  color: #fff;
  background-color: #ff4372;
  border-color: #ff4372;
}

.btn-credit:active,
.btn-credit.active,
 {
  background-image: none;
}


/*------------btn-cash--------------*/
.btn-cash {
    color: #fff;
    background-color: #00A651;
    border-color: #00A651;
    border-radius: 3px;
    height: 30px;
   letter-spacing: 1px;
}


.btn-cash:hover,
.btn-cash:focus,
.btn-cash.focus,
.btn-cash:active,
.btn-cash.active
 {
  color: #fff;
  background-color: #028642;
  border-color: #028642;
}

.btn-cash:active,
.btn-cash.active,
 {
  background-image: none;
}


/*--------------btn-increase--------------*/
.btn-increase {
    color: #fff;
    background-color: #2F76D1;
    border-color: #2F76D1;
    height: 22px;
    width: 22px;
    border-radius: 100px;
    padding: 0px;
  
}

.btn-increase:hover,
.btn-increase:focus,
.btn-increase.focus,
.btn-increase:active,
.btn-increase.active
 {
  color: #fff;
  background-color: #2b69b9;
  border-color: #2b69b9;
}

.btn-increase:active,
.btn-increase.active,
 {
  background-image: none;
}

/*--------------btn-notification--------------*/
.btn-notification {
   
    color: #F8F8F8;
    background-color: transparent;
    border: solid 2px #F8F8F8;
    border-radius: 100px;
    height: 30px;
    letter-spacing: 1px;
    padding: 4px 12px;
}


.btn-notification:hover,
.btn-notification:focus,
.btn-notification.focus,
.btn-notification:active,
.btn-notification.active
 {
  color: #F8F8F8;
  background-color:transparent;
  border-color: #F8F8F8;
}

.btn-notification:active,
.btn-notification.active,
 {
  background-image: none;
}


.grey-1
{
    background: #FFFFFF;
}
.grey-2
{
    background: #F8F8F8;

    } 

    .grey-3
    {
        background: #E8E8E8;

        }
        .grey-4
        {
             background: #D8D8D8;

            }
            .grey-5
            {
                 background: #B7B7B7;
                }
                .grey-6
                {
                     background: #AAAAAA;
                    }
                    .grey-7
                    {
                         background: #333333;

                    }

                    .c-Royal-blue
                    {
                        background: #2F76D1 !important;
                    }

                    .c-dark-blue
                    {
                        background: #1F4C87 !important;
                    }

                    .c-green
                    {
                        background: #00A651 !important;
                    }


                    .c-pink
                    {
                        background: #FF3366 !important;
                    }
                     .c-light-pink
                    {
                        background: #FEE5E5 !important;
                    }
                    .c-yellow
                    {
                        background: #E7D011 !important;
                    }

                      .c-wine
                    {
                        background: #990033 !important;
                    }

                     .c-light-orange
                    {
                        background: #FF9933 !important;
                    }

                    .c-light-red
                    {
                        background: #FF0000 !important;
                    }

                    .c-dark-red
                    {
                        background: #C10A09 !important;
                    }

                    .c-lemon
                    {
                        background: #FFEB92 !important;
                    }

                     .c-olive
                    {
                        background: #796300 !important;
                    }
                     .c-steel-blue
                    {
                        background: #6699CC !important;
                    }

                     .c-brown-1
                    {
                        background: #FF3333 !important;
                    }
                 .t-header
                 {
                    background: #2F76D1;
                    color: #ffffff !important;
                    height: 45px;
                 }
                 .tab
                 {
                    background: #1F4C87;
                    color: #fff;
                 }

                 .main_panel
                 {
                        background: #fff;
                        margin-top: 12px;
                         border-top: solid 10PX #D8D8D8;
                          border-bottom:solid 10PX #D8D8D8;

                 }

                 .footer

                 {
                    background: #ffffff;
                     border-top: solid 10PX #D8D8D8;
                     color: #D8D8D8;
                 }
                .content {
                    margin: 10px;
                    padding: 12px 0;
}
                  .footer a
                  {
                     color: #333333;
                  }
                 .footer a:hover
                 {
                    color:#2F76D1; 
                    text-decoration: none;
                 }

}
