newArrow-Header{
    .title{
        position: relative;
        bottom: 18px;
        left: 25px;
    }
    .icon{
        position: relative;
        display: inline-block;
        font-size: 2.2em;
        top: 13px;
        left: 10px;
        color: white;
    }
}
