page-games {
    .tabbar{
        margin-top: $toolbar-md-height;
        height: $toolbar-md-height;
        // height: calc(100% - #{$toolbar-md-height});
    }

    .card-background-page {
        background-color: #E8E8E8 !important;

        ion-card {
            position: relative;
            text-align: center;
        }
    }

    ion-badge {
        background-color: gold !important;
        color: black !important;
        border-radius: 10px !important;
    }

    ion-label {
        white-space: normal !important;
    }

    .tabs-ios .tabbar, .tabs-md .tabbar {
        background-color: #304d85;
        border-bottom: 1px solid #ccc;

        .tab-highlight{
          top: auto !important;
          height: 4px;
          background-color: #FFFFFF;
        }

        .tab-button {
            max-width: 100%;
            text-transform: uppercase;
            font-weight: bold;
            color: #fff !important;
            min-height: 48px;
          }
    }


    .item-md .text-md-calm {
        color: #2F76D1 !important;
    }

    .item-md .text-md-orange {
        color: #FF9933 !important;
    }

    .item-md h2 {
        color: #333333 !important;
    }

    .item-md .text-md-primary {
        color: #2F76D1 !important;
    }

    .tabs-md-primary[tabsHighlight=true] .tab-highlight {
        top: auto !important;
        background: #F8F8F8 !important;
        height:4px!important;
    }
}
