page-prize-summary-No-syndicate {
    .main-bg {
        text-align: center;
        background: #e3e3e3;
        position: relative;
    }
    .homeTime-left{
	background-color: black;
	height: 50px;
    text-align: center;
    font-size: 12px;
    padding: 5px;
 }
 .btn-ccg {
        background: green;
    }
}