page-tabs{

	.hidehome.homeTabs > .tabbar .tab-button:first-of-type{ // HIDE HOME PAGE TAB BUTTON
		display: none;
	}
	.hide-account.homeTabs > .tabbar .tab-button:nth-child(5){ // HIDE HOME PAGE TAB BUTTON
		display: none;
	}
	.tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text{
		color: black;
		margin: 0;
		font-size: .8em;
	}
	.tabs-md[tabsHighlight=true] .tab-highlight{
		height: 3px;
		// display: none;
	}

	.tab-button-icon{
		width: 24px;
		height: 32px;
		padding: 6px 4px 2px;
	}

	.ion-ios-none, .ion-md-none, .ion-ios-none-outline,
	.ion-md-none-outline {
		display: none;
	}
	.ion-ios-home, .ion-md-home, .ion-ios-home-outline,
	.ion-md-home-outline {
		content: url(../assets/icon/home_ico.svg);
	}
	.ion-ios-home-black-outline, .ion-md-home-black-outline {
		content: url(../assets/icon/home_ico_black.svg);
	}
	
	.ion-ios-home-black, .ion-md-home-black{
		content: url(../assets/icon/home_ico_blue.svg);
	}

	.ion-ios-store, .ion-md-store{
		content: url(../assets/icon/store_ico_blue.svg);
	}
	.ion-ios-store-outline, .ion-md-store-outline {
		content: url(../assets/icon/store_ico.svg);
	}

	.ion-ios-syndicates, .ion-md-syndicates{
		content: url(../assets/icon/syndicates_ico_blue.svg);
	}
	.ion-ios-syndicates-outline, .ion-md-syndicates-outline {
		content: url(../assets/icon/syndicates_ico.svg);
	}

	.ion-ios-games, .ion-md-games{
		content: url(../assets/icon/games_ico_blue.svg);
	}
	.ion-ios-games-outline, .ion-md-games-outline {
		content: url(../assets/icon/games_ico.svg);
	}

	.ion-ios-account, .ion-md-account, .ion-ios-account-outline,
	.ion-md-account-outline {
		content: url(../assets/icon/account_ico.svg);
	}

	.ion-ios-offers, .ion-md-offers{
		content: url(../assets/icon/offers_ico_blue.svg);
	}
	.ion-ios-offers-outline, .ion-md-offers-outline {
		content: url(../assets/icon/offers_ico.svg);
	}

	.ion-ios-Menu, .ion-md-Menu{
		content: url(../assets/icon/burgerMenu.png);
		width: 10vw;
	}
	.ion-ios-Menu-outline, .ion-md-Menu-outline {
		content: url(../assets/icon/burgerMenu.png);
		width: 10vw;
	}
	a{
		padding: 0px!important;
	}	

}