<ion-content class="modal-page" text-center>

    <ion-list *ngIf="value==false && statusBuy=='Passed'" ion-fixed style=" border-radius:25px;">
        <div style="border-bottom: 0.5px solid lightgray;font-size: 18px;border-top-left-radius: 25px;border-top-right-radius: 25px; ">
            <ion-item no-lines text-center style="font-size: 18px;height: 10%; text-align: center;border-top-left-radius: 25px;border-top-right-radius: 25px;">
                Confirm Your Selection
            </ion-item>
        </div>
        <div style="border-bottom: 1px solid lightgray;height: 30%">

            <ion-item no-lines style="height: 30%">
                <ion-thumbnail item-left style="margin: 11px 0px 8px 0;">
                    <img src='{{VoucherCode}}'>
                </ion-thumbnail>

                <div item-center text-wrap>
                    <span style="font-size: 15px">{{title}}</span>
                    <br>
                    <span style="color: #E97442;font-size: 13px">TOP PRIZE $50</span>
                    <br>
                    <span style="color: #5086D4;font-size: 12px">Get for {{price}} {{price_after}}</span>
                </div>

                <div item-center item-right style="border: 1px solid #255FC7;width: 39%;text-align: center;border-radius: 200px 200px 200px 200px;z-index: 1;display: flex">
                    <p style="position: absolute;margin-top: -6%;margin-left: 11%;color: black;">qty</p>
                    <img (click)="minusCounter()" src="assets/img/minus-1.png" style="border: none;width: 30%;height: 10%;margin: 0px;border-radius: 50%;position: relative;right: 3.5px">
                    <input type='number' readonly="true" minlength="1" maxlength="5" value='{{counter}}' style="width: 37%;text-align: center;font-size: 14px;border: none; z-index: 0;background-color: white;color: black;height: 3.5vh;margin-top: 1px;">
                    <img (click)="plusCounter()" src="assets/img/plus-1.png" style="border: none;width: 30%;padding: 0px;height: 21%; margin: 0px;border-radius: 50%;position: relative;left: 6px;">

                    <!-- <input (click)="minusCounter()" type='button' value='-' style="background-color: #255FC7;color: white;border: none;width: 25%;padding: 5px; margin: 0px;border-radius: 50%;position: relative;right: 3.5px">
                
                <input (click)="plusCounter()" type='button' value='+' style="background-color: #255FC7;color: white;border: none;width: 25%;padding: 5px; margin: 0px;border-radius: 50%;position: relative;left: 4px"> -->
                </div>
            </ion-item>
        </div>
        <div style="border-bottom: 1px solid lightgray; vertical-align: middle;height: 20%">
            <ion-item no-lines text-wrap style="height: 30%">
                <ion-row style="height: 10%">
                    <ion-col col-10 style="text-align: left; font-size: 15px">
                        Total Points Needed:
                    </ion-col>
                    <ion-col col-2 style="text-align: right; color: #5086D4;">
                        {{price}}
                    </ion-col>
                </ion-row>
                <!-- <ion-row text-center style="height: 10%; vertical-align: middle">
                    <ion-col col-10 style="text-align: left;font-size: 15px">
                       Remaining Reward Points Balance:
                    </ion-col>
                    <ion-col col-2 style="text-align: right; color: #5086D4; height: 100%; display: block;">
                        300
                     </ion-col>
                </ion-row> -->


            </ion-item>
        </div>
        <ion-item text-center no-lines style="height: 30%; border-radius:0px 0px 20px 20px">
            <div style="text-align: center; padding-top: 5%;height: 10%; border-radius:0px 0px 20px 20px">
                <input type="button" value="CONFIRM" style="background-color:#249040; color: white;text-align: center;border: 0px;
                              width: 40%; height:38px;border-radius: 5px; " (click)="confirmpurchase()">
            </div>
            <div style="text-align: center; padding-top: 5%;height: 10%;border-radius: 20px">
                <p (click)="dismissPopUp()" style="text-decoration: none !important;color: #4E85D4; text-align: center; font-size: 15px;">Not Now</p>
            </div>
        </ion-item>
    </ion-list>



    <ion-list *ngIf="value==true && statusBuy=='Passed'" class="buyGameSuccess" ion-fixed>
        <button ion-button icon-only class="successIconBuyGame">
            <ion-icon style="width:70px; ">
                <img src="assets/icon/check_icon.png"> </ion-icon>
        </button>
        <p>Paymet Successful</p>
        <ion-row style="padding-top: 5%; height: 45px">
            <ion-col col-12>
                <button ion-button outline round class="moveToVoucher" color="light" (click)="closePopup()">Close</button>
            </ion-col>
        </ion-row>
    </ion-list>



    <ion-list *ngIf="!value && statusBuy=='FAILED'" class="errorcardGetGame" ion-fixed>
        <button ion-button icon-only class="failedBackgroundGetGame">
            <ion-icon style="width:50px; ">
                <img src="assets/icon/failed_icon.png"> </ion-icon>
        </button>
        <p> Payment Failed!!</p>
        <ion-row  style="padding-top: 5%; height: 45px">
            <ion-col col-12>
                <button ion-button outline round class="moveToVoucher" color="light" (click)="closePopup()">Close</button>
            </ion-col>
        </ion-row>
    </ion-list>


</ion-content>