page-my-syndicate {
     @keyframes pulse_animation {
	    0% { transform: scale(1); }
	    30% { transform: scale(1); }
	    40% { transform: scale(1.08); }
	    50% { transform: scale(1); }
	    60% { transform: scale(1); }
	    70% { transform: scale(1.05); }
	    80% { transform: scale(1); }
	    100% { transform: scale(1); }
    }
    .pulse {
	    animation-name: pulse_animation;
	    animation-duration: 5000ms;
	    transform-origin:70% 70%;
	    animation-iteration-count: infinite;
	    animation-timing-function: linear;
    }
      ion-badge {
        background-color: gold !important;
        color: black !important;
        border-radius: 10px !important;
    }
    .scroll-content {
        margin-top:3% !important;
    }
    #estate{
        margin-top: 5%;
    }
    
    @keyframes bounce {
        0%   {top:0px;}
        25%  {top:5px;}
        50%  {top:10px;}
        75%  {top:15px;}
        100% {top:20px;}
    }
    .arrow {
      position: fixed;
      left: 50%;
      margin-left:-20px;
      width: 35px;
      height: 35px;
      bottom: 20px;
      margin-top: 150%;
      opacity: 0.6;
      background-size: contain;
      animation-name: bounce;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-delay: 1s;
      animation-iteration-count: 10;
      animation-direction: alternate;
    }
    
    ion-label {
        white-space: normal !important;
    }

    .tabbar {
        background-color: #1F4C87 !important;
    }

    .item-md .text-md-calm {
        color: #2F76D1 !important;
    }

    .item-md .text-md-orange {
        color: #FF9933 !important;
    }

    .item-md h2 {
        color: #333333 !important;
    }

    .item-md .text-md-primary {
        color: #2F76D1 !important;
    }

    .tabs-md-primary[tabsHighlight=true] .tab-highlight {
        background: #F8F8F8 !important;
        height:4px!important;
    }
    .synd-card {
        margin-bottom: 10px;
        padding: 15px 15px 0px 15px;
    .c-title {
        color: white;
        font-family: lato-black;
        position: relative;
        width: 100%;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        padding: 5px;
        font-size: 16px;
        margin-top: -30px;
    }
    .card-md {
        margin: 0px;
        width: 100%;
    }
    .date-lbl {
        font-size: 14px;
        color: #B7B7B7;
        padding: 3px 0;
    }
    .pmic {
        position: absolute;
        right: 0;
        font-size: 20px;
        line-height: 22px;
        font-weight: bold;
        color: #B7B7B7;
    }
    .left {
        text-align: left;
    }
    .right {
        text-align: right;
    }
    .tkt-lbl {
        font-size: 14px;
        color: #333333;
        padding: 3px 0;
    }
    .tkt-a {
        font-size: 14px;
        color: #2f76d1;
        padding: 3px 0;
    }
    .tkt-day {
        background: #6699cc;
        padding: 3px 5px;
        color: white;
        font-size: 12px;
        border-radius: 2px;
        margin-right: 5px;
    }
    .day-lbl {
        font-size: 14px;
    }
    .grid {
        padding: 0;
    }
    .col {
        padding: 3px 0;
    }
    ion-item {
        border-bottom: 1px solid #AAAAAA;
    }
    .btn {
        height: 30px;
        background: #2f76d1;
        font-size: 12px;
        border-radius: 3px;
        min-width: 120px;
        display: inline-block;
    }
    .synd-ico {
        float: left;
        font-size: 25px;
        color: #ff9933;
    }
    .synd-f {
        line-height: 25px;
        margin-left: 5px;
        font-size: 11px;
    }
    .chat-btn {
        height: 23px;
        font-size: 12px;
        background: #c10a09;
        vertical-align: baseline;
    }
    .circle {
        // border: 1px solid #ccc;
        // border-radius: 50%;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        //padding: 5px 9px;
        color:#c10a09;
        img {
            margin-top: 4px;
            display: inline-flex;
            width: 25px;
            position: absolute;
            margin-left: -3px;
        }
    }

    .btn2 {
        height: 30px;
        background: #00A651;
        font-size: 12px;
        border-radius: 3px;
    }
    }
    .danger {
        color: white;
        background: red;
        padding: 10px;
        text-align: center;
    }
    .pad-10 {
        padding: 10px;
    }
    .sub-div {
        background: white;
        margin-top: 12px;
        text-align: center;
    }
    .f-bold {
        font-family: lato-black;
        padding: 0 25px;
    }
    .green {
        color: #14993f;
    }
    .btn-div {
        background-color: #304d85;
        padding: 10px;
        margin-bottom: 20px;
        .btn {
            height: 4.5rem;
            border-radius: 25px;
            font-size: 1.8rem;
            font-weight: 500;
            width: 100%;
            background: #14993f;
        }
    }
    ion-icon{
        
    }
    .ticketsInfoP{
        display:inline-block;
        font-size: 13px;
        color: #3E3E3E;
        padding-top: 2.5%;
        text-align: center;
        margin-left: 10%;
    }

@media only screen and (max-width: 320px) {
    .ticketsInfoP{
        display:inline-block;
        font-size: 15px;
        color: #3E3E3E;
        padding-top: 2.5%;
        text-align: center;
        margin-left: 14%;
    }
    .arrow {
        position: fixed;
        left: 50%;
        margin-left:-20px;
        width: 35px;
        height: 35px;
        bottom: 20px;
        opacity: 0.5;
        margin-top: 131%;
        background-size: contain;
        animation-name: bounce;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 1s;
        animation-iteration-count: 10;
        animation-direction: alternate;
      }
}
}