page-your-tickets {
    .toolbar-background-md { background: #255fc7; }
    .mynav { min-height: 42px; }
    .toolbar-title-md {
        color: white;
        font-size: 16px;
        font-family: lato-black;
    }
    .main-bg {
        background: #e3e3e3;
        font-family: lato-regular;
    }
    .main-c {
        margin-top: 12px;
        background: white;
    }
    ion-slide.swiper-slide.swiper-slide-next {
       width: 96% !important;
    }
    ion-slide.swiper-slide.swiper-slide-active {
        width: 96% !important;
        padding: 0 10px;
    }
    ion-slide.swiper-slide.swiper-slide-prev {
       width: 96% !important;
       margin-left: 22px;
    }
    .rAngle {
	    width: 0;
	    height: 0;
	    border-top: 60px solid #6699cc;
        border-left: 60px solid transparent;
        float: right;
    }
    .rfl {
        width: 60px;
        font-size: 10px;
        color: white;
        position: absolute;
        top: 3px;
        right: -4px;
    }
    .rfl-icon {
        -ms-transform: rotate3d(3, -1, 0, 180deg); /* IE 9 */
        -webkit-transform: rotate3d(3, -1, 0, 180deg); /* Chrome, Safari, Opera */
        transform: rotate3d(3, -1, 0, 180deg);
        font-size: 20px;
        color: white;
        position: absolute;
        top: 9px;
        right: 12px;
    }
    .top-lbl {
        font-size: 14px;
        font-family: lato-regular;
        // position: absolute;
        // left: 0;
        // right: 0;
        // top: 0px;
        // padding: 10px;
    }
    .grid-row {
        margin: 0 auto;
        width: 260px;
        .col {
            max-width: 11vw;
            padding: 3px;
        }
    }
     .input-number {
        //border: 1px solid #ccc;
        width: 33px;
        height: 33px;
        color: white;
        padding: 9px;
        font-size: 12px;
        border-radius: 5px;
        font-family: lato-black;
        text-align: center;
        background: url(../assets/img/circular.png);
        background-size: cover;
    }
    .st-input {
        background: url(../assets/img/star.png);
        background-size: cover; 
    }
    .star-icon {
        position: absolute;
        top: -3px;
        left: 4px;
        color: #e7d011;
    }
    .numberLbl {
        padding: 6px 20px;
        background: #6699CC;
        color: white;
        border-radius: 15px;
        font-size: 14px;
    }
}
