<cus-header title="Home" isHome="true"></cus-header>
<!-- 
<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <span><img class="lotto-logo center" src="assets/icon/notification_ico.svg" alt="Check" width="16" height="16" /></span>
        <ion-badge item-right mode="ios" color="badge">5</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
-->

<popup-confirm-payment #confirmPayment [existing-cards]="userCards" (onPaymentComplete)="paymentDone()"></popup-confirm-payment>

<ion-content style="top: 0.5%;">

  <ion-grid class="score-panel">
    <ion-row>
      <ion-col width-50 style="width: 100%">
        <div text-center style="width: 100%" >
         
          <div  *ngIf="waveShowing==true" >
          <span class="tooltip t1">
            <i class="icon11 icon-chat grey" style="margin-left: 47vw">
                <span class="dot dot-left"></span>
                <span class="dot"></span>
                <span class="dot dot-right"></span>
              </i>
          </span>
        </div> 
        
        <div  *ngIf="waveShowing==false && bonus_creditAPI>0" (click)="tip()" class="animated fadeIn">
             <img src="assets/icon/bc_ico.svg" alt="" width="16" height="16" />
            <span class="tooltip t1">CREDIT
              <span class="credit">£{{bonus_creditAPI}}</span>
              <div *ngIf="tip11==true">
                <span class="tooltiptext t-left">
                  <ul style="margin: 0px; text-align: justify;color: gray; padding-right: 10px">
                    <li>Bonus credit can be used to
                      <a href="">Buy MORE lottery Lines</a>
                    </li>
                    <li>If you will win less than 60p you can boost the win to
                      <strong>4x</strong> bonus credit</li>
                    <li>Bonus credit cannot be converted back into cash</li>
                  </ul>
                </span>
              </div>
            </span>
          </div>
    </div>
       <div text-center style="width: 100%" *ngIf="waveShowing==false && bonus_creditAPI==0">
          <img src="assets/icon/bc_ico.svg" alt="" width="16" height="16" />
          <span class="tooltip t1" (click)="mgmPageOpen()" style="color: cornflowerblue">GET CREDIT </span>
        </div>
      </ion-col>

      <ion-col width-50 style="width: 100%">
        <div text-center style="width: 100%">
            <!-- <div  *ngIf="waveShowing==true" >
                <span class="tooltip t1">
                  <i class="icon icon-chat grey" style="margin-left: -2vw">
                      <span class="dot dot-left"></span>
                      <span class="dot"></span>
                      <span class="dot dot-right"></span>
                    </i>
                </span>
              </div>  -->
        <div  *ngIf="waveShowing==false && reward_pointsAPI>0" (click)="tip2()" class="animated fadeIn">
          <img src="assets/icon/rwp_icon.svg" alt="" width="16" height="16" />
          <span class="tooltip t2">POINTS
            <span class="points">{{reward_pointsAPI}}</span>
            <div *ngIf="tip22==true">
              <span class="tooltiptext t-right" style="text-align: justify;padding: 10px; color: gray">
                Use your points to get
                <strong>games</strong> from the
                <a href="">games area</a>. You acquire points every time you check your tickets, by playing game, share with friends
                and in many other ways.
              </span>
            </div>
          </span>
              </div>
        </div>

        <div text-center style="width: 100%" *ngIf="waveShowing==false && reward_pointsAPI==0">
          <img src="assets/icon/rwp_icon.svg" alt="" width="16" height="16" />
          <span class="tooltip t2" style="color:cornflowerblue " (tap)="mgmPageOpen()">GET POINTS </span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- slider -->
  <!-- Dharam new slider -->
  <ion-slides class="newSlide" initialSlide="0" #mySlide (swipe)="countSlider($event)" (click)="clicked()">
    <ion-slide *ngFor="let offer of offersForYou.offer_group">
      <ion-card style="max-height:60vh;width: 80%;margin-left: 10%;margin-top: 10%;">
        <div class="card-top ">
          <div class="card-title">
            <img src="assets/img/home/ch_offers@3x.png">
            <h4>{{offersForYou.card_title}}</h4>
          </div>
        </div>

        <div class="homeContainer-header white-bg" [style.backgroundColor]="product?.product_color?product?.product_color:grey">
          <img src="{{offer?.offer_img}}" class="homeHeader-img" />
          <div class="homeOffer-title" style="color:white;font-weight: lighter" text-center>{{offer?.name | uppercase}}</div>
          <div class="homeAmount homeOffer-title" style="color:white;font-weight: 900;font-size: x-large" text-center>
            {{offer?.offer_jackpot}}
          </div>
        </div>
        <div class="homeTime-left" text-center style="text-align: center">
          <span text-center style="text-align: center">
            <img style="height: 33px;top: 7px;position: relative;width: 14%" src="assets/icon/timer.svg" />
            <span style="color:white;position:relative;bottom:40px;margin-left: 14px;">TIME LEFT: </span>
          </span>
          <div style="display: -webkit-inline-box;color: #fff;bottom: 25px; position: relative;">
            <div style="margin-right: 10px; margin-left: 15px;">
              <b style="font-size:18px">{{day}}</b>
              <br>
              <span>Days</span>
            </div>
            <div style="margin-right: 10px;">
              <b style="font-size:18px">{{hrs}}</b>
              <br>
              <span>Hrs</span>
            </div>
            <div style="margin-right: 10px;">
              <b style="font-size:18px">{{min}}</b>
              <br>
              <span>Mins</span>
            </div>
            <div style="margin-right: 10px;">
              <b style="font-size:18px">{{sec}}</b>
              <br>
              <span>Secs</span>
            </div>
          </div>
          <div class="lines-type">
            <div style="float: left;width: 50%;border-bottom: 1px solid lightgrey;border-right: 1px solid lightgrey;height: 8vh">
              <div style="margin-right: 10px;margin-top: 6px">
                <b style="font-size:18px"></b>{{offer?.line_group?.line1}}
                <br>
                <span style="color: lightgray">LINES</span>
              </div>
              <span style="float: right;bottom: 18px;position: relative;right: 12px;">
                <ion-icon ios="ios-alert" md="md-alert"></ion-icon>
              </span>
            </div>
            <div style="float: left;width: 50%;border-bottom: 1px solid lightgrey;height: 8vh">
              <div style="margin-right: 10px;margin-top: 6px">
                <b style="font-size:18px">{{offer?.type | uppercase}}</b>
                <br>
                <span style="color: lightgray">TYPE</span>
              </div>
              <span style="float: right;bottom: 18px;position: relative;right: 12px;">
                <ion-icon ios="ios-alert" md="md-alert"></ion-icon>
              </span>
            </div>
          </div>
          <div style="height:40px">
            <span>{{offer?.offer_title}}</span>
          </div>
          <button class="center" padding ion-button text-center color="secondary" style="width: 160px;height: 40px;" (click)="buyCreditOffer(offer?.offer_id,offer?.prosub_id,offer?.button_text)">
            <span style="font-size: 17px;font-weight: lighter;">
              {{offer?.button_text}}
            </span>
          </button>

        </div>
        <!-- <button class="center" style="bottom: 5vh" padding ion-button text-center clear small (click)="viewAllOffers()" >View all offers</button> -->
      </ion-card>
    </ion-slide>
    <ion-slide *ngFor="let game of gameGroup">
      <ion-card style="max-height:60vh;width: 80%;margin-left: 10%;margin-top: 10%;">
        <div class="card-top">
          <div class="card-title">
            <img src="assets/img/home/ch_games@3x.png">
            <h4>YOU HAVE GAMES TO PLAY</h4>
          </div>
        </div>
        <img class="center game-play-img" *ngIf="!game.game_icon_url" src="assets/icon/account_ico.svg" style="width: 232px;height: 100px;border: 1px solid;">
        <img class="center game-play-img" *ngIf="game.game_icon_url" src="{{game.game_icon_url}}" style="width: 232px;height: 100px;border: 1px solid;">
        <p text-center style="color: orange;font-size: 16px;font-weight: lighter;margin-top: 4px; ">{{game?.game_description1}}</p>
        <br>
        <p text-center padding-left padding-right>{{game.user_game_target}}</p>

        <div padding>
          <button class="center" padding ion-button text-center color="secondary" (click)="gameTargetLink(game.target_url)">{{game.button_label}}</button>
        </div>

      </ion-card>
    </ion-slide>
  </ion-slides>





  <!--       <a class="slider-left" href="javascript:void(0);"><i class="fa fa-arrow-left"></i></a>

      <a class="slider-right" href="javascript:void(0);"><i class="fa fa-arrow-right"></i></a>
 -->
  <!-- </div> -->

  <div style="text-align: center; width: 100%;" (click)="clicked()">
    <p *ngIf="currentSliderCount==0" style="position: absolute; height: 8%;bottom: 0%; text-align: center; width: 100%; color: gray;font-size: 16px"
      text-center>{{currentSliderCount+1}} / {{total_cards}} CARDS</p>
    <p *ngIf="!currentSliderCount==0" style="position: absolute; height: 8%;bottom: 0%; text-align: center; width: 100%; color: gray;font-size: 16px"
      text-center>{{currentSliderCount}} / {{total_cards}} CARDS</p>

  </div>




  <!-- slider end -->





  <!-- <ion-slides #home_slides loop={{sliderOptions.loop}} slidesPerView=1 effect={{sliderOptions.effect}} initialSlide=1 spaceBetween={{spaceBetween}} class="home-slides"> -->

  <!-- Slide 0 -->

  <!-- <ion-slide>

      <ion-card>
        <div class="card-top" >
          <div class="card-title">
            <img src="assets/img/home/ch_mail_alert@3x.png">
            <h4>YOU GOT MAIL!</h4>
          </div>
        </div>

        <ion-img class="center game-play-img" src="{{homeData.icon_url}}" padding width="100" height="100"></ion-img>

        <p>{{homeData.card_title}}<br>{{homeData.description}}</p>
        
        <div padding>
          <button class="center" padding ion-button text-center color="secondary" >{{homeData.button_label}}</button>
        </div>
        <button class="center" padding ion-button text-center clear small >Dismiss notice</button>
      </ion-card>

    </ion-slide> -->

  <!-- Slide 1 -->

  <!-- <ion-slide class="home-slide">

      <ion-card>
        
        <div class="card-top" >
          <div class="card-title">
            <img src="assets/img/home/ch_check_winnings@3x.png">
            <h4>IS IT YOUR LUCKY DAY?</h4>
          </div>
        </div>

        <ion-list padding>
          <ion-item>
            <p>Hatchster syndicate</p>
            <img item-right src="assets/icon/bc_ico.svg" alt="" width="16" height="16" />
            <img item-right src="assets/icon/bc_ico.svg" alt="" width="16" height="16" />
          </ion-item>
          <ion-item>
            <p>The Lions</p>
            <img item-right src="assets/icon/bc_ico.svg" alt="" width="16" height="16" />
          </ion-item>
          <ion-item>
            <p>TONY123</p>
            <img item-right src="assets/icon/bc_ico.svg" alt="" width="16" height="16" />
          </ion-item>
          <ion-item class="bottom-item">
            <span>Add 3 more to check</span>
            <button ion-button icon-left clear item-right (click)="handle('add_syndicate')">
              <ion-icon name="ios-add-circle-outline"></ion-icon>
              Add syndicate
              </button>
          </ion-item>
        </ion-list>
        
        <div padding>
          <button class="center auth-button" type="submit" ion-button text-center large full color="secondary" round >CHECK MY WINNINGS</button>
        </div>
      </ion-card>

    </ion-slide> -->

  <!-- Slide 2 -->

  <!-- <ion-slide>

      <ion-card>
        
        <div class="card-top" >
          <div class="card-title">
            <img src="assets/img/home/ch_invited@3x.png">
            <h4>YOU HAVE BEEN INVITED!</h4>
          </div>

          <div class="card-image">
            <img src="assets/img/350.png">
            <h4 text-center>Hatchster syndicate</h4>
          </div>
        </div>

        <ion-item >
          <ion-avatar padding-left item-left>
            <img src="assets/icon/account_ico.svg">
          </ion-avatar>
          <p item-content>Laura has invited you to join their syndicate with other 3 players</p>
        </ion-item>

        <div padding>
          <button class="center" padding ion-button text-center color="secondary" (click)="handle('join_syndicate')">VIEW DETAILS</button>
        </div>
      </ion-card>

    </ion-slide> -->

  <!-- Slide 2 -->

  <!-- <ion-slide>

      <ion-card>
        
        <div class="card-top" >
          <div class="card-title">
            <img src="assets/img/home/ch_invited@3x.png">
            <h4>IS IT YOUR LUCKY DAY?</h4>
          </div>

          <div class="card-image">
            <img src="assets/img/350.png">
            <h4 text-center>Hatchster syndicate</h4>
          </div>
        </div>

        <ion-item >
          <ion-avatar padding-left item-left>
            <img src="assets/icon/account_ico.svg">
          </ion-avatar>
          <p item-content>Laura has invited you to join their syndicate with other 3 players</p>
        </ion-item>
        
        <button class="center" ion-button clear >View more details</button>
        
        <ion-grid>
          <ion-row>
            <ion-col><button class="center" padding full ion-button text-center color="danger" >DECLINE</button></ion-col>
            <ion-col><button class="center" padding ion-button full text-center color="secondary" >JOIN</button></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide> -->

  <!-- Slide 3 -->
  <!-- <ion-slide>

      <ion-card>
        <div class="card-top" >
          <div class="card-title">
            <img src="assets/img/home/ch_mail_warning@3x.png">
            <h4>YOU GOT MAIL!</h4>
          </div>
        </div>

        <img class="center game-play-img" src="assets/icon/account_ico.svg" padding width="100" height="100">

        <p>You haven't bought any tickets yet<br>for Hatchster Syndicate</p>
        
        <div padding>
          <button class="center" padding ion-button text-center color="secondary" >BUY NOW</button>
        </div>
        <button class="center" padding ion-button text-center clear small >Dismiss notice</button>
      </ion-card>

    </ion-slide> -->

  <!-- Slide 5 -->

  <!-- <ion-slide>

      <ion-card>
        <div class="card-top" >
          <div class="card-title">
            <img src="assets/img/home/ch_mail_mm@3x.png">
            <h4>YOU GOT MAIL!</h4>
          </div>
        </div>

        <img class="center game-play-img" src="assets/icon/account_ico.svg" padding width="100" height="100">

        <p>#MillionaireMoments<br>Win a trip for 2 to Paris</p>
        
        <div padding>
          <button class="center" padding ion-button text-center color="secondary" >VIEW DETAILS</button>
        </div>
        <button class="center" padding ion-button text-center clear small >Dismiss notice</button>
      </ion-card>

    </ion-slide> -->


  <!-- Slide 6 -->
  <!-- <ion-slide>

      <ion-card>
        <div class="card-top" >
          <div class="card-title">
            <img src="assets/img/home/ch_mail_promo@3x.png">
            <h4>YOU GOT MAIL!</h4>
          </div>
        </div>

        <img class="center game-play-img" src="assets/icon/account_ico.svg" padding width="100" height="100">

        <p>It's a huge EuroMillions jackpot...<br>Get 20 lines for only &pound;2!</p>
        
        <div padding>
          <button class="center" padding ion-button text-center color="secondary" >VIEW DETAILS</button>
        </div>
        <button class="center" padding ion-button text-center clear small >Dismiss notice</button>
      </ion-card>

    </ion-slide> -->

  <!-- Slide 8 -->
  <!-- <ion-slide>

      <ion-card>
        <div class="card-top" >
          <div class="card-title">
            <img src="assets/img/home/ch_mail_success@3x.png">
            <h4>YOU GOT MAIL!</h4>
          </div>
        </div>

        <img class="center game-play-img" src="assets/icon/account_ico.svg" padding width="100" height="100">

        <p>All your friends are playing!<br>Ready to be a millionaire?</p>
        
        <div padding>
          <button class="center" padding ion-button text-center color="secondary" >VIEW TICKETS</button>
        </div>
        <button class="center" padding ion-button text-center clear small >Dismiss notice</button>
      </ion-card>

    </ion-slide> -->

  <!-- Slide 9 -->
  <!--     <ion-slide *ngIf="offersForYou.card_title != ''">

      <ion-card>
        <div class="card-top" >
          <div class="card-title">
            <img src="assets/img/home/ch_offers@3x.png">
            <h4>{{offersForYou.card_title}}</h4>
          </div>
        </div>
        <div *ngFor="let offer of offersForYou.offer_group | slice:0:2">
            <div *ngIf="offer.name=='lotto'">
                <ion-item margin-top class="offer-up lotto">
                    <img src="{{offer.offer_img}}">
                    <p>{{offer.offer_title}}</p>
                    <h1>{{offer.offer_jackpot}}</h1>
                </ion-item>

                <ion-item class="offer-down lotto">
                    <div class="timer-new">
                        <div class="time-left"><img src="assets/icon/timer.svg" /></div>
                        <div class="time-left"><span>TIME LEFT:</span></div>
                        <div>{{offer.countdown | date:'dd'}}<span>Days</span></div>
                        <div>{{offer.countdown | date:'hh'}}<span>Hrs</span></div>
                        <div>{{offer.countdown | date:'mm'}}<span>Mins</span></div>
                        <div>{{offer.countdown | date:'ss'}}<span>Secs</span></div>
                    </div>
                    <button item-right ion-button color="secondary" (click)="playFor()"> {{ offer.button_text }} </button>
                </ion-item>
                
            </div>

            <div *ngIf=" offer.name == 'euro'">
                <ion-item margin-top class="offer-up euro">
                    <img src="{{offer.offer_img}}">
                    <p>{{offer.offer_title}}</p>
                    <h1>{{offer.offer_jackpot}}</h1>
                </ion-item>
                
                <ion-item class="offer-down euro">
                    <div class="timer-new">
                        <div class="time-left"><img src="assets/icon/timer.svg" /></div>
                        <div class="time-left"><span>TIME LEFT:</span></div>
                        <div>{{offer.countdown | date:'dd'}}<span>Days</span></div>
                        <div>{{offer.countdown | date:'hh'}}<span>Hrs</span></div>
                        <div>{{offer.countdown | date:'mm'}}<span>Mins</span></div>
                        <div>{{offer.countdown | date:'ss'}}<span>Secs</span></div>
                    </div>
                  
                  <button item-right ion-button color="secondary" (click)="playFor()"> {{ offer.button_text }} </button>
                  
                </ion-item>
            </div>
            
        </div>
        
        <button class="center" padding ion-button text-center clear small (click)="viewAllOffers()" >View all offers</button>
      </ion-card>

    </ion-slide> -->


  <!-- Slide 9 -->
  <!--     <ion-slide *ngFor="let game of gameGroup">

      <ion-card>
        <div class="card-top" >
          <div class="card-title">
            <img src="assets/img/home/ch_games@3x.png">
            <h4>YOU HAVE GAMES TO PLAY</h4>
          </div>
        </div>

        <div class="lucky" padding padding-top>
          <h3>{{game.game_name}}</h3>
          <p>{{game.game_description1}}</p>
        </div>
        <img class="center game-play-img" *ngIf="!game.game_icon_url" src="assets/icon/account_ico.svg" padding width="100" height="100">
        <img class="center game-play-img" *ngIf="game.game_icon_url" src="{{game.game_icon_url}}" padding width="100" height="100">

        <p>{{game.user_game_target}}</p>
        
        <div padding>
          <button class="center" padding ion-button text-center color="secondary" (click)="gameTargetLink(game.target_url)">{{game.button_label}}</button>
        </div>
      </ion-card>

    </ion-slide> -->


  <!-- Slide 10 -->
  <!-- <ion-slide>

      <ion-card>        
        <div class="card-top" >
          <div class="card-title">
            <img src="assets/img/home/ch_invite@3x.png">
            <h4>PLAY WITH YOUR FRIENDS!</h4>
          </div>

          <div class="card-image">
            <img src="assets/img/350.png">
            <h4 text-center>Hatchster syndicate</h4>
          </div>  
        </div>

        <p item-content>10 current members</p>
        <ion-item >
          <ion-avatar padding-left item-left>
            <img src="assets/icon/account_ico.svg">
          </ion-avatar>
          <p>Make the most of your syndicate<br>more lines = more chances</p>
        </ion-item>

        <div padding-bottom>
          <button ion-button class="center" padding-left padding-right text-center color="secondary" (click)="handle('invite_firends')">INVITE FRIENDS</button>
        </div>
      </ion-card>

    </ion-slide> -->


  <!-- </ion-slides> -->

</ion-content>

<!-- Content end -->





<!-- <ion-footer class="footer-button">
  <div (click)="showWhatsOn()" class="center">
    <ion-icon item-left name="md-arrow-round-up"></ion-icon>
    <p item-content text-center class="center" style="font-size: initial">FIND OUT WHAT'S ON LOTTO SOCIAL</p>
  </div>
</ion-footer> -->



<!-- <div class="popup" *ngIf="whatsOn" style="z-index: 102;">
  

</div> -->

<ion-footer class="footer-button" (click)="clicked()">
  <div (click)="showWhatsOn()" class="center">
    <ion-icon item-left name="md-arrow-round-up"></ion-icon>
    <p item-content text-center class="center" style="font-size: initial">FIND OUT WHAT'S ON</p>
  </div>
</ion-footer>



<div class="popup" *ngIf="whatsOn" style="z-index: 102;">
  <ion-backdrop disable-activated="" style="opacity:.5; z-index: 10;" role="presentation"></ion-backdrop>

  <div class="popup-content animated" [ngClass]="(slideInUp) ? 'slideInUp' : 'slideOutDown' ">
    <ion-card class="big-content">
      <ion-item class="popup-header">
        <button item-left ion-button icon-only clear (click)="showWhatsOn()">
          <ion-icon name="md-close"></ion-icon>
        </button>
        <ion-label text-center style="margin: 0;font-size: initial;margin-bottom: 6px;">FIND OUT WHAT'S ON</ion-label>
      </ion-item>

      <div class="top-slides-wrapper">
        <ion-slides class="top-slides" slidesPerView=2 spaceBetween="10">
          <ion-slide *ngFor="let item of homeBlog">
            <div style="height: 30vh;max-height: 30vh;min-height: 30vh">
              <img *ngIf="item.image" src="{{item.image}}" style="width: 100%;">
              <img *ngIf="!item.image" src="assets/img/150.png" style="width: 72%;height: 157px;">
              <div class="slide-content">
                <ion-item>
                  <p item-content>{{item.content.rendered}}</p>
                </ion-item>
                <ion-item>
                  <button ion-button item-right clear small (click)="loadLink(item.link)">
                    <div>Read more
                      <ion-icon name="md-arrow-round-forward"></ion-icon>
                    </div>
                  </button>
                </ion-item>
              </div>
            </div>
          </ion-slide>
          <ion-slide style="background-color: red;height: 200px;">

          </ion-slide>


          <!-- 
              <ion-slide>
                <img src="assets/img/150.png" width="150" height="100">
                <div class="slide-content">
                  <ion-item >
                    <p item-content>This is the event on title.</p>
                  </ion-item>
                  <ion-item>
                    <button ion-button item-right clear small>
                      <div>Read more <ion-icon name="md-arrow-round-forward"></ion-icon></div>
                    </button>
                  </ion-item>
                </div>
              </ion-slide>
              <ion-slide>
                <img src="assets/img/150.png" width="150" height="100">
                <div class="slide-content">
                  <ion-item >
                    <p item-content>This is the event is the event.</p>
                  </ion-item>
                  <ion-item>
                    <button ion-button item-right clear small>
                      <div>Read more <ion-icon name="md-arrow-round-forward"></ion-icon></div>
                    </button>
                  </ion-item>
                </div>
              </ion-slide> -->
        </ion-slides>
      </div>
      <ion-slides spaceBetween=8 slidesPerView=2>
        <ion-slide style="width: 51%" *ngFor="let c of millionerImage" (tap)=openModal(c)>
          <img src="{{c.image_url}}" width="150" height="100" style="height: 18vh" >
        </ion-slide>
      </ion-slides>


      <ion-card class="popup-main" *ngIf="homeEvents" (click)="mgmOpenPage()">
        <img src="assets/img/mgm_blog_thumb.jpg">
        <ion-card-content text-center>
          £5 CREDIT FOR YOU AND YOUR FRIEND!
        </ion-card-content>
        <!-- <ion-img src="{{homeEvents.event_image}}" width="450" height="200"></ion-img> -->
        <!--   <ion-item>
                <ion-avatar item-left>
                  <span class="day">{{homeEvents.event_date | date:'dd'}}</span>
                  <span class="year">{{homeEvents.event_date | date:'yy'}}</span>
                  <span class="month">{{homeEvents.event_date | date:'MMM'}}</span>
                </ion-avatar>
                <h2>{{homeEvents.event_title}}</h2>
                <p>{{homeEvents.event_subtitle}}</p>
              </ion-item>
              <ion-item> 
                
              </ion-item>-->
        <button class="center" ion-button item-right clear small>
          <div>Find out more
            <ion-icon name="md-arrow-round-forward"></ion-icon>
          </div>
        </button>
      </ion-card>

    </ion-card>
  </div>

</div>