page-your-games {
	.content{
		margin-top: 30px;
		height: 88%;
	}
	no-internet-message{
		position: absolute;
		width: 100%;
	}
	.yourgameslist{
        margin-bottom:-6px;
    }
    .moregame{
        margin-top:10px;
        margin-bottom:10px;
	}
	.buttonStart{
		width: 71px;
		height: 34px;
	}
	
	  @keyframes pulse_animation {
	    0% { transform: scale(1); }
	    30% { transform: scale(1); }
	    40% { transform: scale(1.08); }
	    50% { transform: scale(1); }
	    60% { transform: scale(1); }
	    70% { transform: scale(1.05); }
	    80% { transform: scale(1); }
	    100% { transform: scale(1); }
    }
	  .buttonStart{
			background-color: #00A651;
			animation-name: pulse_animation;
	    animation-duration: 2000ms;
	    transform-origin:70% 70%;
	    animation-iteration-count: 5;
	    animation-timing-function: linear;
	}

}
