<!-- <cus-header title="Game" (homeClicked)="goHomePage()"></cus-header> -->

<ion-content class="card-background-page" (ionScroll)="scrollHandlerGame($event)" id="contentsGames">
    <div id="innerGames">
        <ion-list no-lines *ngFor="let  game of game_group ; let i=index" class="yourgameslist">
            <ion-item *ngIf="i < game_group?.length-1">
                <ion-thumbnail item-left>
                    <img src="{{game?.game_iconurl}}">
                    <ion-badge id="cart-badge"><span>{{game?.gameCount}}</span></ion-badge>
                    
                </ion-thumbnail>
                <h2>{{game?.game_title}}</h2>
                <p ion-text color="orange">{{game?.game_detail_group?.game_details_1 | slice:0:20 }}</p>
                <button ion-button item-right class="buttonStart" *ngIf="i==0" style="height: 34px" (click)="play(game)">START</button>
                <button ion-button item-right color="secondary" *ngIf="i!=0" style="width: 71px;height: 34px" (click)="play(game)">START</button>
            </ion-item>
            <ion-item-divider style="color:#333333!important;top:-8px!important;" *ngIf="i < game_group?.length-1">{{game?.game_detail_group?.game_details_2}}</ion-item-divider>
            <!--<ion-item>
            <ion-thumbnail item-left>
                <img src="assets/img/sample_thumb_04@3x.png">
            </ion-thumbnail>
            <h2>Lotto Woggle</h2>
            <p ion-text color="orange">TOP PRIZE: $50</p>
            <button ion-button item-right color="secondary" style="width: 80px;">PLAY</button>
        </ion-item>
        <ion-item-divider style="color:#333333!important;top:-8px!important;">This is the game description and excerpt</ion-item-divider>-->
        </ion-list>
        <!-- <ion-item class="moregame">
            <ion-thumbnail item-left>
                <img src="assets/img/sample_thumb_06@3x.png">
            </ion-thumbnail>
            <h2>Add more games to your account</h2>
            <button ion-button item-right color="secondary" *ngIf="game_group?.length<0" style="width: 71px;height: 34px;" class="buttonStart" (click)="redeem()">GET GAMES</button>
            <button ion-button item-right color="secondary" *ngIf="game_group?.length>0" style="width: 71px;height: 34px" (click)="redeem()">GET GAMES</button>
    </ion-item>
    <ion-card>
        <img src="assets/img/games_hero_001@3x.png" />
    </ion-card><nav></nav> -->
        <ion-item>
            <iframe style="width: 100%;height: 216px" src="https://www.youtube.com/embed/zBzcSQXDAdQ" frameborder="0" allowfullscreen></iframe>
        </ion-item>
    </div>
</ion-content>
<div *ngIf="down_arrow_showing==1">
    <span *ngIf="downShowing==0">
            <div class="arrow" style="z-index: 9; border: none;background-image: url('assets/img/down_arrow_pulsate.png');" id="newDiv"></div>
       </span>
</div>