page-your-games {
	.content{
		margin-top: 30px;
		height: 88%;
	}
	no-internet-message{
		position: absolute;
		width: 100%;
	}
	.yourgameslist{
        margin-bottom:-6px;
    }
    .moregame{
        margin-top:10px;
        margin-bottom:10px;
	}
	.buttonStart{
		width: 71px;
		height: 34px;
	}
	@keyframes bounce {
        0%   {top:0px;}
        25%  {top:5px;}
        50%  {top:10px;}
        75%  {top:15px;}
        100% {top:20px;}
    }
    .arrow {
      position: fixed;
      left: 50%;
      margin-left:-20px;
      width: 35px;
      height: 35px;
      bottom: 20px;
	  margin-top: 150%;
	  opacity: 0.5;
      background-size: contain;
      animation-name: bounce;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-delay: 1s;
      animation-iteration-count: 4;
      animation-direction: alternate;
    }
	
	  @keyframes pulse_animation {
	    0% { transform: scale(1); }
	    30% { transform: scale(1); }
	    40% { transform: scale(1.08); }
	    50% { transform: scale(1); }
	    60% { transform: scale(1); }
	    70% { transform: scale(1.05); }
	    80% { transform: scale(1); }
	    100% { transform: scale(1); }
    }
	  .buttonStart{
			background-color: #00A651;
			animation-name: pulse_animation;
	    animation-duration: 2000ms;
	    transform-origin:70% 70%;
	    animation-iteration-count: 5;
	    animation-timing-function: linear;
	}
	@media only screen and (max-width: 320px) {
        
           .arrow {
               position: fixed;
               left: 50%;
               margin-left:-20px;
               width: 35px;
               height: 35px;
               bottom: 20px;
               opacity: 0.5;
               margin-top: 145%;
               background-size: contain;
               animation-name: bounce;
               animation-duration: 1s;
               animation-timing-function: linear;
               animation-delay: 1s;
               animation-iteration-count: 4;
               animation-direction: alternate;
             }
       }

}
