<cus-header title="Game" (homeClicked)="goHomePage()"></cus-header>

<ion-content class="card-background-page">
    <ion-list no-lines *ngFor="let  game of game_group ; let i=index" class="yourgameslist" >
       <ion-item *ngIf="i < game_group?.length-1">
            <ion-thumbnail item-left>
                <img src="{{game?.game_iconurl}}">
            </ion-thumbnail>
            <h2>{{game?.game_title}}</h2>
            <p ion-text color="orange">{{game?.game_detail_group?.game_details_1 | slice:0:20 }}</p>
            <button ion-button item-right color="secondary" style="width: 80px;" (click)="play(game)" >PLAY</button>
        </ion-item>
        <ion-item-divider style="color:#333333!important;top:-8px!important;" *ngIf="i < game_group?.length-1">{{game?.game_detail_group?.game_details_2}}</ion-item-divider>
        <!--<ion-item>
            <ion-thumbnail item-left>
                <img src="assets/img/sample_thumb_04@3x.png">
            </ion-thumbnail>
            <h2>Lotto Woggle</h2>
            <p ion-text color="orange">TOP PRIZE: $50</p>
            <button ion-button item-right color="secondary" style="width: 80px;">PLAY</button>
        </ion-item>
        <ion-item-divider style="color:#333333!important;top:-8px!important;">This is the game description and excerpt</ion-item-divider>-->  
    </ion-list>
     <ion-item class="moregame">
            <ion-thumbnail item-left>
                <img src="assets/img/sample_thumb_06@3x.png">
            </ion-thumbnail>
            <h2>Add more games to your account</h2>
            <button ion-button item-right color="secondary" (click)="redeem()">REDEEM GAMES</button>
    </ion-item>
    <ion-card>
        <img src="assets/img/games_hero_001@3x.png" />
    </ion-card>
</ion-content>
