
page-yourvouchers {
  .scroll-content{
    overflow-y: hidden;
    margin-top: 0px!important;
  }

.headerBotton{
  width: 60%; 
  font-size: 21px; 
  background-color: #255FC7; 
  color: #D9C51B;
  
  padding-top: 0px;
}
.voucherCodeTextItem{
  padding-right: 16px;
  margin-top: -12px;
}
.voucherCodeText{
  font-size: 20px;
  margin-top: -10px; 
  color: black;
  border: 1px solid;
}
.redeemButtonDiv{
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  
}
.label-md[stacked], .label-md[floating] {
  margin-bottom: 0; 
  margin-left: 0;
  margin-top: 15px;
}
.redeemButton{
  background-color: #249040;
  text-align: center; 
  border: 0px; 
  width: 35%; 
  height: 35px;
  color: white; 
  border-radius: 5%;
}
.voucherListButton{
  background-color: #249040;
  text-align: center; 
  border: 0px;
  height: 35px;
  color: white; 
  border-radius: 8%; 
  width: 120%; 
  font-size: 16px; 
  padding:8px
}
#voucherListItem{
  border-bottom: 1px solid lightgray;
  padding-left: 5px;
  margin:0px;
  height: 80px;
 
}
.thumbnalTag{
  margin: 0px
}
.mainContent{
  background-color: #E2E2E2;
  margin-top: 10%;
  margin-bottom: 12%;
  height: 95%;
}
.firstList{

  height: 100%;
  margin-bottom: 10px;
}
.listItemButtonDiv{
  padding-right: 15px
}
.voucherCodeHeadingDiv{
  margin-top: 3%;
  text-align: center;

}
.voucherCodeHeading{
  font-size: 18px;
  
}
.voucherCodeSubHeading{
  font-size: 14px;
  margin-top: 10px;
  color: black;
}
.voucherCodeInputHeading{
  margin-top: 30px;
  color: gray;
}
.yourVoucherList{

  margin-top: 4%;
  padding-right: 16px;
  text-align: center;
}
.yourVoucherListHeading{
  font-size: 18px;
  margin-top: 15%;
  padding-top: 15%;
  
}
.yourVoucherListSubHeading{

  //border-bottom: 0px solid;
  margin-top: 4px;
  color: black;
  font-size: 14px;
  padding-top: 4px;
  
}
.thumbnailListImage{
  border-radius:50%;
  padding: 20%;
  text-align: justify;
}
.thumbnailListContent{
  color: black; 
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  text-align: left;
}
.allOfersLink{
  text-decoration: none !important;
  color: #4E85D4; 
  text-align: center;
}
.item-md ion-thumbnail[item-left] {
  margin: 8px -9px 8px -7px;
}
.item-md p {
  margin: 0px;
  padding-top: 6px;
}
.label-md {
  margin: 4px 8px 13px 0;
}
.expire_inner{
  padding-left:10px; color: red; font-size: 12px; padding-top: 3px
}
.expires{
  padding-left: 5px; padding-top: 3px
}
@media only screen and (max-width: 320px) {
  .expire_inner {
    padding-left: 10px;
    color: red;
    font-size: 11px;
    padding-top: 3px;
}
.thumbnailListContent {
  color: black;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  text-align: left;
}}

}

