
   page-yourvoucherspopups {
    .modal-page {
      position: absolute;
      overflow: hidden;
      max-width: 90%;
      width: 100vw;
      height: 60vh;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: 0;
      box-shadow: 0 16px 20px rgba(0,0,0,.4);
      background-color: #fafafa;
      border-radius: 5px;
    
      }
    .popup-img{
      height: 50px;
      width: 50px;
      margin-top: 20px;
    }
    .game-thanku-btn-transparent{
     background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      color: blue;
      margin-top: 8px;
      margin-bottom: 8px;
      font-size: 16px;
    
    }
    p{
      font-size: large;
    }
    ion-app.ios [padding] .scroll-content {
      padding: 0px;
    }
    ul{
      -webkit-padding-start: 20px;
    }
    .buycard{
      background:#00A651;
      overflow: hidden;
      position: absolute;  
      max-width: 100%;
      width: 100%;
      height: 60vh;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: 0;
      padding-top: 25%;
      border: 0;
      box-shadow: 0 16px 20px rgba(0,0,0,.4);
      border-radius: 10px;
    
  }

.messagecolor{
color:#FFFFFF;
font-size: 16px;
font-family:Lato;
padding-top: 5%;
}
.scroll-content {
 z-index: 0; 
 bottom: 0px;
}
    }