<ion-content class="modal-page" text-center>
  <ion-list *ngIf="value==false">
    <ion-label style="margin-top: 10%; font-size: 16px" text-center>Confirm you want to claim your voucher</ion-label>
    <ion-item text-wrap align-left no-lines style="padding-top: 10px">
      <div>
        <table style="width: 100%">
          <tr>
            <td style="width: 17%; padding-left: 0px;margin-left: 0px"> <img src='assets/img/voucher_ico.png' style="width: 100%"> </td>
            <td style="width: 85%; padding-left: 5px">
              <p style="text-align: left; font-size: 17px; color: black;padding-right: 5px; padding-left: 5px"><b>{{VoucherCode}}</b></p>
              <p style="text-align: left; font-size: 15px; color: black;padding-right: 5px; padding-left: 5px">{{VoucherCodeDescription}}</p>
            </td>
          </tr>
        </table>
      </div>
    </ion-item>
    <ion-item no-lines text-wrap>
      <div>
        <ul style="font-size: 14px">
          <li>5 Lotto Tickets Wednesday +</li>
          <li>5 Lotto Tickets Saturday +</li>
          <li>£1.50 Credit to buy any other lottary of your choice</li>
        </ul>
      </div>
    </ion-item>
    <ion-item text-center no-lines>
      <div style="text-align: center">
        <input type="button" value="CLAIM NOW" style="background-color:#249040; color: white;text-align: center;border: 0px;
                      width: 50%; height:35px;border-radius: 5px; " (click) = "done()" >
      </div>
        <div style="text-align: center; padding-top: 5%" >
          <p style="text-decoration: none !important;color: #4E85D4; text-align: center; font-size: 15px;" (click)="dismissPopUp()">Maybe Later </p>
        </div>
      </ion-item>

  </ion-list>
    <div class="buycard" *ngIf="!value==false">
        <button ion-button icon-only style="background:#F8F8F8; border-radius:50%; height: 70px">
                  <ion-icon style="width:70px; "><img src="assets/icon/check_icon.png"> </ion-icon>
                </button>
        <ion-row text-center>
            <ion-col col-12 class="messagecolor">
                Voucher Claimed Successfully
            </ion-col>
        </ion-row>
        <ion-row style="padding-top: 5%; height: 45px">
            <ion-col col-12>
                <button ion-button outline round style="height: 45px; font-size: 18px" color="light" (click)="moveToVouchers()">BACK TO VOUCHERS</button>
            </ion-col>
        </ion-row>
    
</div>

</ion-content>