
   page-yourvoucherspopups {
    .modal-page {
      position: absolute;
      overflow: visible;
      max-width: 90%;
      width: 100vw;
      max-height: 90vh;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: 0;
      box-shadow: 0 16px 150px rgba(0,0,0,1.4);
      background-color: #fafafa;
      border-radius: 3px;
    
      }
      .fixed-content {
        background-color: white;
        border-radius: 3px
      }
    .popup-img{
      height: 50px;
      width: 50px;
      margin-top: 20px;
    }
    .game-thanku-btn-transparent{
     background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      color: blue;
      margin-top: 8px;
      margin-bottom: 8px;
      font-size: 16px;
    
    }
    p{
      font-size: large;
    }
    ion-app.ios [padding] .scroll-content {
      padding: 0px;
    }
    ul{
      -webkit-padding-start: 20px;
    }
    .buycard{
      background:#00A651;
      overflow: hidden;
      position: relative;  
      max-width: 100%;
      width: 100%;
      min-height: 335px !important;
      padding-top: 13% !important;
      padding-bottom: 13% !important;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: 0;
      border: 0;
      box-shadow: 0 16px 150px rgba(0,0,0,1.4);
      border-radius: 10px;
    
  }

.messagecolor{
color:#FFFFFF;
font-size: 16px;
$font-family-md-base: "Lato-Regular";
$font-family-ios-base: "Lato-Regular";
$font-family-wp-base: "Lato-Regular";
padding-top: 5%;
}
.scroll-content {
 z-index: 0; 
 bottom: 0px;
}
.label-md {
  margin: 1px 8px 13px 0;
}
.errorcard{
  background:#990033;
  padding:10px;
  padding-top:40%;
  padding-bottom: 150px;
  bottom: 70px;
  border-radius: 10px;
  overflow: visible;
  position: relative;  
  max-width: 100%;
  width: 100%;
  min-height: 200px !important;
  padding-top: 13% !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0 16px 150px rgba(0,0,0,1.4);
 
}
.imgleftIcon{
  width: 17%; padding-left: 0px;margin-left: 0px
}
.imgleftIconTD{
  width: 85%; padding-left: 5px
}
.voucherCode{
  text-align: left; font-size: 17px; color: black;padding-right: 5px; padding-left: 5px
}
.voucherCodeDesc{
  text-align: left; font-size: 15px; color: black;padding-right: 5px; padding-left: 5px
}
.middleDescription{
  font-size: 15px; margin-top: -10px
}
.claimButton{
  background-color:#249040; color: white;text-align: center;border: 0px;
  width: 50%; height:35px;border-radius: 3px; 
}
.dismissLinkDiv{
  text-align: center; padding-top: 5%
}
.dismissLink{
  text-decoration: none !important;color: #4E85D4; text-align: center; font-size: 15px;
}
.successIcon{
  background:#F8F8F8; border-radius:50%; height: 70px;
}
.moveToVoucher{
  height: 45px; font-size: 18px
}
.failedBackground{
  background:#F8F8F8; border-radius:50%;width:25%;height: 70px
}
.failedMoveToVoucherButton{
  font-size: 18px;width:50%; height: 45px
}
.label-md {
  margin: 2px 0px 13px 0;
}
}