page-badges {
    .badges-main{
        
        text-align: center;
        background: white;
    }
    .pad-5 {
        padding: 5px;
    }
    .pad-10 {
        padding: 10px;
    }
    .b-border {
        border-bottom: 1px solid #ccc;
    }
    .badge-small {
        width: 15px;
        margin-right: 2px;
    }
    .left {
        text-align: left;
    }
    .text-bold {
        font-weight: bold;
    }
    .light-font {
        color: #ccc;
    }
    .pad-top-18 {
        padding-top: 18px;
    }
    .pad-tb {
        padding: 3px 0px 7px 0px;
    }
    .right {
        text-align: right;
    }
    .pad-t-25 {
        padding-top: 25px;
    }
    .btn1{
        background: #00A651;
       // width: 60%;
    }
    .btn2 {
        background: #aaaaaa
    }
    .pad-0{
        padding: 0px;
    }
  
    .scroll-content {
        margin-bottom: 40px!important;
      
    }
    @keyframes bounce {
		0%   {top:0px;}
		25%  {top:5px;}
		50%  {top:10px;}
		75%  {top:15px;}
		100% {top:20px;}
	}
	.arrow {
	  position: fixed;
	  left: 50%;
	  margin-left:-20px;
	  width: 35px;
	  height: 35px;
	  bottom: 20px;
	  margin-top: 150%;
	  background-size: contain;
	  animation-name: bounce;
      animation-duration: 1s;
      opacity: 0.5;
	  animation-timing-function: linear;
	  animation-delay: 1s;
	  animation-iteration-count: 4;
	  animation-direction: alternate;
    }
    @media only screen and (max-width: 320px) {
        
           .arrow {
               position: fixed;
               left: 50%;
               margin-left:-20px;
               width: 35px;
               height: 35px;
               bottom: 20px;
               opacity: 0.5;
               margin-top: 145%;
               background-size: contain;
               animation-name: bounce;
               animation-duration: 1s;
               animation-timing-function: linear;
               animation-delay: 1s;
               animation-iteration-count:4;
               animation-direction: alternate;
             }
       }
}