page-badges {
    .badges-main{
        margin-top: 12px;
        text-align: center;
        background: white;
    }
    .pad-5 {
        padding: 5px;
    }
    .pad-10 {
        padding: 10px;
    }
    .b-border {
        border-bottom: 1px solid #ccc;
    }
    .badge-small {
        width: 15px;
        margin-right: 2px;
    }
    .left {
        text-align: left;
    }
    .text-bold {
        font-weight: bold;
    }
    .light-font {
        color: #ccc;
    }
    .pad-top-18 {
        padding-top: 18px;
    }
    .pad-tb {
        padding: 3px 0px 7px 0px;
    }
    .right {
        text-align: right;
    }
    .pad-t-25 {
        padding-top: 25px;
    }
    .btn1{
        background: #28bb97
    }
    .btn2 {
        background: #aaaaaa
    }
    .pad-0{
        padding: 0px;
    }
}