page-recent-draw {
    .toolbar-background-md { background: #255fc7; }
    .mynav { min-height: 42px; }
    .toolbar-title-md {
        color: white;
        font-size: 16px;
        font-family: lato-black;
    }
    .main-bg {
        background: #e3e3e3;
        $font-family-md-base: "Lato-Regular";
        $font-family-ios-base: "Lato-Regular";
        $font-family-wp-base: "Lato-Regular";
    }
    .main-c {
        margin-top: 12px;
        background: white;
    }
    .b-border {
        border-bottom: 1px solid rgba(170, 170, 170, 0.45);
    }
    .tkt-day {
        background: #6699cc;
        padding: 3px 5px;
        color: white;
        font-size: 12px;
        border-radius: 2px;
        margin-right: 5px;
    }
     .btn2 {
        height: 30px;
        background: #2f76d1;
        font-size: 12px;
        border-radius: 3px;
    }
}
