<ion-header>
    <synd-cus-header1 title="Offer Product Page" notification-count="5"></synd-cus-header1>
</ion-header>
<popup-confirm-payment #confirmPayment [existing-cards]="userCards" (onPaymentComplete)="paymentDone()"></popup-confirm-payment>
<ion-content style="margin-top: -20px;height: 105%;;background-color: white!important">
    <div class="container-header white-bg" [style.backgroundColor]="product?.product_color?product?.product_color:grey">
        <img src={{product?.image}} class="header-img" />

        <ion-label class="label-md-offer">
            <div class="offer-title">{{product?.name | uppercase}}</div>

            <div class="amount offer-title">
                £{{product?.jackpot}}
            </div>
        </ion-label>
    </div>
    <div class="time-left" text-center>
        <span *ngIf="check">
            <img style="height: 33px;top: 7px;position: relative;" src="https://images.vexels.com/media/users/3/136994/isolated/lists/aa3216bc8664471a5f75363fd74c728a-timer-clock-icon.png"
            />
            <span style="color:white;position:relative;bottom:4px;margin-left: 14px;">TIME LEFT: </span>
        </span>

        <div style="display: -webkit-inline-box;color: #fff;top: 5px; position: relative;" *ngIf="check">

            <div style="margin-right: 10px; margin-left: 15px;">
                <b style="font-size:18px">{{day}}</b>
                <br>
                <span>Days</span>
            </div>
            <div style="margin-right: 10px;">
                <b style="font-size:18px">{{hrs}}</b>
                <br>
                <span>Hrs</span>
            </div>
            <div style="margin-right: 10px;">
                <b style="font-size:18px">{{mins}}</b>
                <br>
                <span>Mins</span>
            </div>
            <div style="margin-right: 10px;">
                <b style="font-size:18px">{{sec}}</b>
                <br>
                <span>Secs</span>
            </div>
        </div>
        <div></div>
    </div>



    <div class="mainContainer" text-center>

        <ion-row>
            <!-- <ion-col col-12>
                <h4>Select Your Draw day and Number of Lines</h4>
            </ion-col> -->
            <ion-col col-12>
                <h5>Select Your Draw day and Lines</h5>
                <p class="SlideSubTitleOffer" style="color:#333333">Draw day</p>
            </ion-col>
        </ion-row>

        <ion-row class="SpaceBetweenRowOffer" style=" display: flow-root;">
            <ion-col *ngFor="let draw of  product?.draw_group|keys ; let i = index">
                <button ion-button class="slide1FontColor" [ngStyle]="(i == position  )?{'background-color': product?.product_color}:{'background-color':  '#AAAAAA'}"
                    (click)="drawday(i)">{{draw}}</button>
            </ion-col>
        </ion-row>

        <ion-row class="SlideContentBorderTopOffer">
            <ion-col col-12>
                <p class="SlideSubTitleOffer" style="color:#333333">Number Of Lines
                    <span style="font-size: x-large"> {{(product?.line_group| keys)[credit_filter_line]}}</span>
                </p>
            </ion-col>
        </ion-row>

        <!-- <ion-row>
           <div  *ngFor="let line of  product?.line_group| keys;  let i = index">
                  <p  class="linebadge" [ngStyle]="(line == credit_filter_line )?{'background': product?.product_color, 'color':'#ffffff'}:{'background':  '#ffffff','color':'#AAAAAA'}"  (click)="credit_line(line)" >{{line}}</p> 
                </div>   
        </ion-row> -->

        <ion-item no-lines style="background-color: transparent" style="margin-top: 1%">
            <ion-range class="rangesliderOffer" *ngIf="!sliders" mode="ios" min="0" max="{{(product?.line_group|keys).length-1}}" snaps="true"
                (ionChange)="watchSlider()" [(ngModel)]="slider">
                <ion-label [ngStyle]="{'color':'#AAAAAA','font-family': 'lato-regular','font-size':'x-large'}" range-left>{{(product?.line_group| keys)[0]}}</ion-label>
                <ion-label [ngStyle]="{'color':'#AAAAAA','font-family': 'lato-regular','font-size':'x-large'}" range-right>{{(product?.line_group| keys)[(product?.line_group| keys).length-1]}}</ion-label>
            </ion-range>
        </ion-item>

        <div *ngFor="let items of credit_offer let j=index;">
            <span *ngIf="j<1">
                <button ion-button class="BuyBtn" style="float: none;width: 50%;border-radius: 5px;height: 40px" (click)="buyCashOffer(items)">BUY NOW</button>
            </span>
        </div>

        <div *ngFor="let item of credit_offer | filter:{ line:parseInt((product?.line_group| keys)[credit_filter_line]), draw:(product?.draw_group|keys)[credit_filter_draw], game:product?.name|capitalizeFirst};let i=index;"
            class="drawDayMargin">
            <span *ngIf="i<1">
                <p class="font-size"> Total:
                    <span ion-text style="color: #08A856;font-size: 1.2em;margin-left: 5px;margin-top: 5%"> £{{item?.prize}} </span>
                </p>
            </span>

        </div>


        <!-- 
        <div right class="tipsCorner" (click)="openTipsModal()">
                <span style="position: relative;color: white;top: 14px;">How<br>To Play</span>
            </div> -->
    </div>

    <!-- <div class="offer-of-the-day">
        <h6 text-center style="height: 13px;margin-top: 7px;">DEAL OF THE DAY! <span style="margin-left: 15px">{{Nhrs}} {{Nmins}} {{Nsec}}</span></h6>
        <ion-slides slidesPerView=3>
            <ion-slide *ngFor="let productOffer of offersForYou">
                <img src="{{productOffer.product_icon}}" class="img-responsive">
            </ion-slide>
        </ion-slides>
    </div> -->
    <!-- <ion-grid>
    <ion-row>
        <ion-col col-6 style="margin-top: 1px;text-align: center;background-color: #255FC7;height: min-content">
            <span style="color: white;font-size: 18px;top: 9%;position: relative">HOW TO PLAY</span>
            <img src="assets/img/happys.png" style="margin-top: 5%">
        </ion-col>

        <ion-col col-6 style="background-color: white;height: min-content">
            <div style="width: 100%;height: 20%;position: relative">
                <p style="margin-top: 3%;position: relative">PRICE BREAKDOWN</p>
            </div>
            <div style="width: 100%;position: relative;text-align: center;height: 19.5vh;margin-bottom: 10px;margin-top: -10px">
                <p style="margin: 0px"><span style="margin-right: 10%;font-size: 16px;text-align: left">1line</span><span style="margin-left: 14%;font-size: 16px">£0.30</span></p>
                <p style="margin: 0px"><span style="margin-right: 10%;font-size: 16px;text-align: left">2lines</span><span style="margin-left: 10%;font-size: 16px">£0.60</span></p>
                <p style="margin: 0px"><span style="margin-right: 10%;font-size: 16px;text-align: left">3lines</span><span style="margin-left: 10%;font-size: 16px">£0.90</span></p>
                <p style="margin: 0px"><span style="margin-right: 10%;font-size: 16px;text-align: left">4lines</span><span style="margin-left: 10%;font-size: 16px">£1.20</span></p>
                <p style="margin: 0px"><span style="margin-right: 10%;font-size: 16px;text-align: left">5lines</span><span style="margin-left: 10%;font-size: 16px">£1.50</span></p>
                <p style="margin: 0px"><span style="margin-right: 10%;font-size: 16px;text-align: left">10lines</span><span style="margin-left: 5%;font-size: 16px">£3.00</span></p>
            </div>
        </ion-col>
    </ion-row>
</ion-grid> -->

</ion-content>
<ion-pullup #pullup id="pullup" (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState" 
[maxHeight]="getMaximumHeight()" style="height: 10vh!important">
    <!-- <ion-pullup-tab [footer]="pullup" (tap)="toggleFooter()">
                    <ion-icon name="arrow-up" *ngIf="footerState == 0"></ion-icon>
                    <ion-icon name="arrow-down" *ngIf="footerState == 1"></ion-icon>
                </ion-pullup-tab> -->
    <ion-toolbar style="position: relative;top: 15px;" (tap)="toggleFooter()"  class="m">
        
        <span style="margin-left: 5px;z-index: 9999;color: white;font-size: 1.3em">
                HOW TO PLAY
              </span>
              <span style=" margin-top: -7px;position: absolute;margin-left: -25px;z-index: 100;color: white;font-size: 1.4em" >
                  <ion-icon style="margin-left: 27vw" *ngIf="showDown" name="arrow-down" ></ion-icon>
                  <ion-icon style="margin-left: 27vw" *ngIf="!showDown" name="arrow-up"></ion-icon>
                </span>
  
    </ion-toolbar>
    <ion-content  >
  
        <ion-grid class="myGrid">
            <ion-row>
                <ion-col col-6 style="margin-top: 1px;text-align: center;background-color: #255FC7;height: min-content">
                    <span style="color: white;font-size: 18px;top: 2%;position: relative">HOW TO PLAY</span>
                    <img src="assets/img/happys.png" style="margin-top: 5%">
                </ion-col>

                <ion-col col-6 style="background-color: white;height: min-content">
                    <div style="width: 100%;height: 20%;position: relative">
                        <p class="price">PRICE BREAKDOWN</p>
                    </div>
                    <div style="width: 100%;position: relative;text-align: center;height: 19.5vh;margin-bottom: 10px;margin-top: -10px">
                        <p style="margin: 0px">
                            <span style="margin-right: 10%;font-size: 1em;text-align: left">1line</span>
                            <span style="margin-left: 14%;font-size: 1em">£0.30</span>
                        </p>
                        <p style="margin: 0px">
                            <span style="margin-right: 10%;font-size: 1em;text-align: left">2lines</span>
                            <span style="margin-left: 10%;font-size: 1em">£0.60</span>
                        </p>
                        <p style="margin: 0px">
                            <span style="margin-right: 10%;font-size: 1em;text-align: left">3lines</span>
                            <span style="margin-left: 10%;font-size: 1em">£0.90</span>
                        </p>
                        <p style="margin: 0px">
                            <span style="margin-right: 10%;font-size: 1em;text-align: left">4lines</span>
                            <span style="margin-left: 10%;font-size: 1em">£1.20</span>
                        </p>
                        <p style="margin: 0px">
                            <span style="margin-right: 10%;font-size: 1em;text-align: left">5lines</span>
                            <span style="margin-left: 10%;font-size: 1em">£1.50</span>
                        </p>
                        <p style="margin: 0px">
                            <span style="margin-right: 10%;font-size: 1em;text-align: left">10lines</span>
                            <span style="margin-left: 5%;font-size: 1em">£3.00</span>
                        </p>
                    </div>
                </ion-col>
                <br><br><br>
            </ion-row>
        </ion-grid>

    </ion-content>
</ion-pullup>