<ion-header>
    <synd-cus-header1 title="Bonus" notification-count="5"></synd-cus-header1>
</ion-header>

<ion-content class="marg-top-12 main-bg">
    <div class="badges-main">
        <div>
            <img src="{{BadgeData?.thumbnail}}" style="width: 25%;padding: 5px;margin-left: 45px;" />
            <span class="shareIco">
                <div>
                    <ion-icon class="shareBucketicon icon icon-md ion-ios-share-outline" ios="ios-share-outline" md="ios-share-outline" style="left: 0;bottom: 0;"></ion-icon>
                </div>
                <div>SHARE</div>
            </span>
        </div>
        <div style="font-size: 17px;color: #343434;">
            <div class="">{{BadgeData?.post_title}}</div>
            <div class="light-font pad-tb">{{percentage | number:'1.0-0'}}% comleted</div>
            <div>
                <span *ngFor="let steps of BadgeData.steps">
                    <img src="https://cdn1.iconfinder.com/data/icons/n-badge-set/512/badge-14-512.png" class="badge-small" />
                </span>
            </div>
            <div>{{BadgeData?.post_content}}</div>
            <div class="separator"></div>
            <div>REWARD</div>
            <div class="dark large-font pad5"> {{BadgeData?.points}} pts</div>
            <button style="width: 40%" ion-button class="btn btn1" (click)="collect(BadgeData)" *ngIf="BadgeData.precentage=='100'">COLLECT </button>
            <div class="separator"></div>
            <div class="pad5">STEPS REQUIRED</div>
            <div style="padding: 5px 12px 25px 0
            px;">
                <span class="left">
                    <ul>
                        <li *ngFor="let step of steps">
                            <span class="left">
                                <img *ngIf="step.percentage<'100'" src="https://cdn1.iconfinder.com/data/icons/n-badge-set/512/badge-14-512.png" class="badge-small"
                                />
                                <img *ngIf="step.percentage=='100'" src="http://iconbug.com/data/15/256/3480417b5a330cdbcbf3297477dbe664.png" class="badge-small"
                                />
                                <span>
                                    {{step?.title}}
                                </span>
                            </span>
                        </li>
                    </ul>
                </span>
                <span *ngIf="BadgeData?.steps" class="green right">{{completedStepCount}}/{{BadgeData?.steps?.length}}</span>
                <span *ngIf="!BadgeData?.steps">No step found for this Badge</span>
            </div>
        </div>
    </div>

</ion-content>