page-home {
	.wrap-text {
	    white-space: normal;
	    width: 70px;
	}

	.toolbar-md{
		padding: 0;
	}
	
	.list-md {
		ion-item-sliding{
			background: none;
			.button{
				width: 70px;
			}
		}
	}


	ion-spinner * {
		color: white;
		stroke: #FFF;
		fill: #FFF;
	}
	.menuLeftBg{
		background-color: #fff !important;
	
	}
	.menu-inner{
		.content{
			background-color: #333;
		}
		.item-md.item-block .item-inner{
			border: none;
		}

		.item-md{
			color: white;
			background: none;
			padding-left: 10px;
			border-bottom: 1px solid #dedede;

			p{
				color: #fff;
			}

			ion-icon{
				background: #ff9933;
			    border-radius: 50%;
			    width: 36px;
			    height: 36px;
			    line-height: 36px;
			    text-align: center;
			}

			.label-md{
				margin: 0;
			}
			
			ion-icon[item-left] + .item-inner{
				margin-left: 0;
			}
			.notific-new{
				position: absolute;
			    color: #FF0000;
			    background-color: #E7D011;
			    top: 10px;
			    left: 10px;
			    width: 12px;
			    height: 12px;
			    border-bottom: 1px solid white;
			    border-radius: 50%;
			}

		}
		.notification-bar{
			min-height: 34px;
			color: #FFEB92;
			font-size: 1em;

			ion-icon{
				margin-right: 14px;
				background: none;
				font-size: 1.6em;
				width: auto;
				height: auto;
			}
		}

	}

	.fa-rotate-180 {
	    -webkit-transform: rotate(180deg);
	    -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	    -o-transform: rotate(180deg);
	    transform: rotate(180deg);
	}

	.rounded-background1{
		background: #ff9933;
	    border-radius: 50%;
	    width: 36px;
	    height: 36px;
	    line-height: 36px;
	    text-align: center;
	    img{
	    	margin: 6px;
	    }
	}

	.btn-delete{
		font-size: .9em;
		background-color: #C10A09;
	}
	.btn-read{
		font-size: .9em;
		color: #333;
		background-color: #FFEB92;
		white-space: normal;
		font-size: smaller;
	}
	.btn-unread{
		font-size: .9em;
		color: #fff;
		background-color: gray;
		white-space: normal;
		font-size: smaller;
	}
	.account-avatarSlide {
	  
	    img{
			margin-top: 6px;
			width: 75px;
			height: 75px;
			margin-left: 38%;
			border-radius: 50%;
			margin-bottom: 6px;
	    }
	    
	}
	.profile-pictureSlide{
		background: #e3e3e3;
		border: 3px solid #333;
	}
	.UpperPart{
		text-align: center;
		margin-top: 20px;
	}
	.avatar{
		margin: auto;
	 }
	 .color{
		 color: #333;
	 }
	 hr {
        background: gray;
        clear: both;
        float: none;
        width: 100%;
        height: 1px;
        margin: 0 0 1.4em;
        border: none;
        position: fixed;
        margin-top: -10px;
	  }
	  .item-md{
		border-bottom:1px solid gray!important;
	  }
	 .sidemenuCoupon{
		background: white;
		padding: 0px;
		width: 90%;
		margin-left: 12px;
		margin-top: 10px;
		margin-bottom: 30px;
		height: 38px;
		border-radius: 5px;
	 }
	 .shareBucketicon{
		color: #fff;
		font-size: xx-large;
		background-color: transparent !important;
		position: relative;
		bottom: 5px;
		left: 16px;
	 }

}
