<ion-menu side="right" type="push" swipeEnabled=false [content]="content" id="menu1" (ionOpen)="onOpenRightMenu()">

  <ion-content>
    
    <ion-item class="notification-bar">
      <ion-icon name="ios-log-out" (click)="closeMenu1()"></ion-icon>
      <!-- {{unreadCount}} <span class="color-white">Unread</span>
      <span item-right>Mark all as read</span> -->
    </ion-item>

    <ion-list>
      <ion-item *ngIf="messageLoading">
          <ion-spinner class="center" name="bubbles"></ion-spinner>
      </ion-item>
      
      <ion-item-sliding *ngFor="let message of messages">
        <ion-item text-wrap>
          <span item-left class="">
            <img *ngIf="message.icon_url" src="{{message.icon_url}}" alt="" width="24" height="24" />
            <img *ngIf="!message.icon_url" src="assets/icon/notification_ico.svg" alt="" width="16" height="16" />
          </span>
          <!-- <span class="notific-new"></span> -->
          <p>{{message.card_title}}</p>
        </ion-item>

        <ion-item-options side="right" (ionSwipe)="saveItem()">
          <button ion-button class="btn-delete" (click)="deleteNotification()">Delete</button>

          <button ion-button text-wrap expandable class="btn-unread" (click)="markAsUnread()"><p class="wrap-text">Mark As Unread</p></button>
        </ion-item-options>
        
      </ion-item-sliding>
      
<!-- 
      <ion-item-sliding>
        <ion-item text-wrap>
          <span item-left class="rounded-background1"><img src="assets/icon/notification_ico.svg" alt="" width="24" height="24" /></span>
          <span class="notific-new"></span>
          <p>You haven't bought any tickets yet for Hatchster Syndicate Tap to buy</p>
        </ion-item>

        <ion-item-options side="right" (ionSwipe)="saveItem()">
          <button ion-button class="btn-delete" (click)="deleteNotification()">Delete</button>

          <button ion-button text-wrap expandable class="btn-unread" (click)="markAsUnread()"><p class="wrap-text">Mark As Unread</p></button>
        </ion-item-options>
        
      </ion-item-sliding>
 -->
    </ion-list>
  </ion-content>

</ion-menu>

<ion-menu side="left" type="overlay" swipeEnabled=false [content]="content" id="menu2" (ionOpen)="onOpenLeftMenu()">
    <ion-content>
        <ion-item class="notification-bar"> </ion-item>
            <ion-list>
                <ion-item text-wrap (click)="onLeftMenuSelection('accounts')">Accounts </ion-item>
                <ion-item text-wrap (click)="onLeftMenuSelection('check_winnings')">Check My Winnings </ion-item>
                <ion-item text-wrap (click)="onLeftMenuSelection('your_badges')">Your Badges </ion-item>
                <ion-item text-wrap (click)="onLeftMenuSelection('help')">Help </ion-item>
            </ion-list>
    </ion-content>
</ion-menu>

<!-- <popup-message-details #messageDetails [existing-cards]="userCards"></popup-message-details> -->

<ion-nav #content [root]="rootPage"></ion-nav>
