<!--
  Generated template for the ChooseNumber page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header><synd-cus-header2 title="Choose your numbers" subtitle="All the numbers in your syndicate will choose their numbers.
    Choose yours manually or tap on lucky dip."></synd-cus-header2></ion-header>
 
<ion-content class="marg-top-12 main-bg">

    <div class="syndicateRow" *ngFor="let data of dataArr; let r = index;" [ngClass]="{'mbottom': r == dataArr?.length - 1}">
        <p class="desc-p"><img src="{{data.product_image}}" class="lot-img"/> Choose your {{data.product_name}} numbers</p>
        <p class="s-title"> Enter {{data.numbers}} numbers from {{data.regular_from}} to {{data.regular_to}} and {{data.bonus}} Lucky Stars from {{data.bonus_from}} to {{data.bonus_to}} </p>
        <!--<p class="s-title" *ngIf="data.name != 'EuroMillions'" > Enter 6 numbers from 1 to 59 </p>-->
        <div class="text-center">
          <ion-grid>
            <ion-row class="grid-row" style="width: auto;" *ngFor="let l of dataArr[r].lines; let i = index">
                <ion-col *ngFor="let f of dataArr[r].lines[i]; let fi = index; trackBy:trackByIndex;"> <ion-icon *ngIf="fi > data.numbers - 1" ios="ios-star"  md="md-star" class="star-icon" ></ion-icon>  <input class="input-number" type="number" pattern="\d*" maxlength = "3" onkeypress='return event.charCode >= 48 && event.charCode <= 57' (blur)="onKey(r, i, fi, data.regular_to, data.numbers, data.bonus_to, data.bonus)" [(ngModel)]="dataArr[r].lines[i][fi]" [ngClass]="{'st-input':fi > data.numbers - 1, 'derror': dataArr[r].hasError[i][fi]}" id="input{{r}}{{i}}{{fi}}"/> </ion-col>
                <!--<ion-col> <input class="input-number" type="text" pattern="\d*" maxlength="2" onkeypress='return event.charCode >= 48 && event.charCode <= 57' (blur)="onKey(r, i, 1)" [(ngModel)]="dataArr[r].lines[i][1]" [ngClass]="{'derror': dataArr[r].hasError[i][1]}"/> </ion-col>
                <ion-col> <input class="input-number" type="text" pattern="\d*" maxlength="2" onkeypress='return event.charCode >= 48 && event.charCode <= 57' (blur)="onKey(r, i, 2)" [(ngModel)]="dataArr[r].lines[i][2]" [ngClass]="{'derror': dataArr[r].hasError[i][2]}"/> </ion-col>
                <ion-col> <input class="input-number" type="text" pattern="\d*" maxlength="2" onkeypress='return event.charCode >= 48 && event.charCode <= 57' (blur)="onKey(r, i, 3)" [(ngModel)]="dataArr[r].lines[i][3]" [ngClass]="{'derror': dataArr[r].hasError[i][3]}"/> </ion-col>
                <ion-col> <input class="input-number" type="text" pattern="\d*" maxlength="2" onkeypress='return event.charCode >= 48 && event.charCode <= 57' (blur)="onKey(r, i, 4)" [(ngModel)]="dataArr[r].lines[i][4]" [ngClass]="{'derror': dataArr[r].hasError[i][4]}"/> </ion-col>
                <ion-col> <ion-icon *ngIf="data.name == 'EuroMillions'" ios="ios-star"  md="md-star" class="star-icon" ></ion-icon> <input class="input-number" [ngClass]="{ 'st-input':data.name == 'EuroMillions', 'derror': dataArr[r].hasError[i][5]}" type="text" pattern="\d*" maxlength="2" onkeypress='return event.charCode >= 48 && event.charCode <= 57' (blur)="onKey(r, i, 5)" [(ngModel)]="dataArr[r].lines[i][5]"/> </ion-col>
                <ion-col *ngIf="data.name == 'EuroMillions'"> <ion-icon *ngIf="data.name == 'EuroMillions'" ios="ios-star" md="md-star" class="star-icon" ></ion-icon> <input class="input-number" [ngClass]="{ 'st-input':data.name == 'EuroMillions', 'derror': dataArr[r].hasError[i][6]}" type="text" pattern="\d*" maxlength="2" onkeypress='return event.charCode >= 48 && event.charCode <= 57' (blur)="onKey(r, i, 6)" [(ngModel)]="dataArr[r].lines[i][6]"/> </ion-col>-->
            </ion-row>  
          </ion-grid>  
        </div>
        <p class="xs-title"> DRAWS INCLUDED: <span *ngFor="let day of data.draw_day; let di = index"><span class="tag" style="text-transform: uppercase">{{day.short}}</span></span></p>
        <p class="errorDiv" *ngIf="errArr[r] == false"><span style="content: url('./assets/img/warning.svg'); width: 12px;"></span> Please select all your numbers</p>
        <ion-grid>
            <ion-row>
                <ion-col style="text-align: right;"> <button ion-button type="button" class="btn" style="background: #2F76D1;padding: 7px 36px;" (click)="getlucky(r, data.numbers, data.regular_from, data.regular_to, data.bonus, data.bonus_from, data.bonus_to)">LUCKY DIP</button> </ion-col>
                <ion-col> <button ion-button type="button" class="btn" style="background: #B7B7B7;color: #333333;" (click)="clear(r, data.numbers, data.bonus)">CLEAR SELECTION</button> </ion-col> 
            </ion-row>
        </ion-grid>
  </div>
</ion-content>
<ion-footer>
    <div class="bottom_bar">
        <button ion-button (click)="next()" [disabled]="!dError">CONFIRM NUMBERS</button>
    </div>
</ion-footer>

