page-Help{
    .card-md p {
        margin: 0 0 -2px;
    }
    .ionContentDesign{
        background-color: #E2E2E2;margin-top: 10%;margin-bottom: 20%;
        
    }
    .cardMainDesign{
        margin: 0px;width: 100%;margin-top: 5px
    }
    .cardMainDiv{
        text-align: center;margin-top: 20px;margin-bottom: 10%;
    }
    .badgeDesing{
        background-color: green;font-size: 1.1em;margin-left: -53%;text-align: right;position: absolute;width: 21%;margin-top: -20px;padding: 5px;padding-right: 10px;font-weight: 500;border-radius: 20px
    }
    .cardHeading{
        font-size: 18px; font-weight: bold;color: #2C2C2C
    }
    @keyframes bounce {
        0%   {top:0px;}
        25%  {top:5px;}
        50%  {top:10px;}
        75%  {top:15px;}
        100% {top:20px;}
    }
    
    
   
    
    .arrow {
      position: fixed;
      left: 52%;
      margin-left:-20px;
      width: 35px;
      height: 35px;
      bottom: 20px;
      margin-top: 150%;
      opacity: 0.5;
      background-size: contain;
      animation-name: bounce;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-delay: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    .scroll-content{
       margin-bottom: 7% !important;
       bottom: 10%!important;
       
    }
    @media only screen and (max-width: 320px) {
        
           .arrow {
               position: fixed;
               left: 52%;
               margin-left:-20px;
               width: 35px;
               height: 35px;
               bottom: 20px;
               opacity: 0.5;
               margin-top: 145%;
               background-size: contain;
               animation-name: bounce;
               animation-duration: 1s;
               animation-timing-function: linear;
               animation-delay: 1s;
               animation-iteration-count: infinite;
               animation-direction: alternate;
             }
       }
   
    }