page-Help{
    .card-md p {
        margin: 0 0 -2px;
    }
    .ionContentDesign{
        background-color: #E2E2E2;margin-top: 10%;margin-bottom: 20%;
        
    }
    .cardMainDesign{
        margin: 0px;width: 100%;margin-top: 5px
    }
    .cardMainDiv{
        text-align: center;margin-top: 20px;margin-bottom: 20px
    }
    .badgeDesing{
        background-color: green;font-size: 1.1em;margin-left: -53%;text-align: right;position: absolute;width: 21%;margin-top: -20px;padding: 5px;padding-right: 10px;font-weight: 500;border-radius: 20px
    }
    .cardHeading{
        font-size: 18px; font-weight: bold;color: #2C2C2C
    }
    }