<div class="popup" *ngIf="confirmPayment" style="z-index: 102;">
  <ion-backdrop disable-activated="" style="opacity:.5; z-index: 10;" role="presentation" ></ion-backdrop>
  
    <div class="popup-content animated" [ngClass] = "(slideInUp) ? 'slideInUp' : 'slideOutDown' ">

      <div class="payment-popover">
        <p class="header" text-center>Confirm Purchase</p>
        <p text-center><!-- This is 2 line description for payment --></p>
        <ion-scroll style="width:100%;height:40vh" scrollY="true">
          <ion-list radio-group class="windows" [(ngModel)]="cardSelected" scroll="true">
            <ion-list-header text-center><span><ion-icon name="md-lock" color="secondary"></ion-icon> </span> Secure payment details</ion-list-header>
            
            <ion-item *ngFor="let card of cardsList; let i = index">
              <ion-label>Use preferred card:<br>{{card.card_type | uppercase}} ending with {{card.last4_digit}}</ion-label>
              <ion-radio value="{{i}}" item-left color="secondary" checked="{{(i==0)?true:false}}"></ion-radio> 
            </ion-item>
            <ion-item>
              <ion-label>Use a different card</ion-label>
              <ion-radio value="-1" item-left color="secondary"></ion-radio>
            </ion-item>

          </ion-list>
        </ion-scroll>
        <div><button class="center" ion-button padding color="secondary" (click)="buyNow(syndicate.total_cost)">Buy now for &pound;{{syndicate.total_cost}}</button>
        </div>

        <div>
          <button class="center" ion-button clear (click)="togglePopup()">Not now</button>
        </div>

        <div class="buy-now" *ngIf="showBuyNowView">
          <div class="outer">
            <ion-grid class="middle">
              <ion-row>
                <img class="center" src="./assets/icon/check.svg" width="70" height="70" />
              </ion-row>
              <ion-row >
                <p class="center" text-center color="light">Syndicate {{syndicate.syndicate_name}} created!<br>What you want to do next?</p>
              </ion-row>
              <ion-row>
                <button class="center" ion-button padding outline round color="light" (click)="viewTickets()">VIEW TICKETS</button>
              </ion-row>
              <ion-row>
                <button class="center" ion-button padding outline round color="light" (click)="viewOffers()">VIEW MORE OFFERS</button>
              </ion-row>
            </ion-grid>
          </div>
        </div>
        
      </div>

    </div>
</div>
