<ion-header>
    <synd-cus-header1 title="Play games" notification-count="5"></synd-cus-header1>
</ion-header>

<ion-content>
    <div text-center>
        <ion-item class="item item-block item-md orange-bg">
            <ion-thumbnail item-left>
                <img src="{{gameInfo?.game_imageurl}}" />
            </ion-thumbnail>
             <ion-label class="label label-md">
                <div class="game-title">{{gameInfo?.game_title}}</div>
                <div text-wrap>
                    {{gameInfo?.game_description}}
                </div>
            </ion-label>
        </ion-item>
    </div>
  <div class="ProgressBar-game-play item item-block item-md orange-bg">    
    <div class="prog">
    <div id="filler" class="filler" [style.width]="progressPercentage+'%'">
      <div class="step" id="step" [style.background-color]="step"></div>
      <div class="step2" id="step2" [style.background-color]="step2"></div>
      <div class="imgs"><img src="assets/icon/star_ico.svg"/></div>
    </div>
</div> 
    </div>

    <div class="game-level-bg">
        <div class="level-target-title" text-center>
            <span *ngIf="gameInfo?.game_level">Your Level {{gameInfo?.game_level}} Target</span>
             <span *ngIf="!gameInfo?.game_level">Your Level 0 Target</span>
        </div>
        <div class="game-play-score">
            <ul>
                <li *ngIf="gameInfo?.game_targetvalue">Score {{gameInfo?.game_targetvalue}}</li>
                <li *ngIf="!gameInfo?.game_targetvalue">Score 0</li>
                <li *ngIf="gameInfo?.game_duration">Finish with in {{gameInfo?.game_duration}} Sec</li>
                <li *ngIf="!gameInfo?.game_duration">Finish with in 0 Sec</li>
                <li *ngIf="gameInfo?.game_efficiencytarget">Max {{gameInfo?.game_efficiencytarget}} words</li>
                <li *ngIf="!gameInfo?.game_efficiencytarget">Max 0 words</li>
            </ul>
        </div>

        <div text-center>
            <button ion-button color="light" (click)="showBoosterModal()">
                <img src="assets/icon/booster_btn_ico@3x.png" style="margin-right: 5px"> 
               <span> Get Booster</span>
            </button>
        </div>
    </div>

    <div class="play-game-btn-container" *ngIf="gameInfo?.show_play == 'true'" text-center>
        <button ion-button color="secondary" (click)="openThankyouPage()" > Play Now</button>
    </div>

    <div class="pagination">
        <ul class="step-indicator row">
            <li class="col-xs-4">
                <a href="#" class="active">
                <span class="m-l-20" text-wrap>Recent Winners</span>
            </a>
            </li>
            <li class="col-xs-3"><b><a href="#" class="black padding-left-15">Matt<span><img src="assets/icon/arw_feed_ico.svg" class="image-setting"  /></span> <span>&#8356;50</span><span class="border-line">|</span></a></b></li>
            <li class="col-xs-2"><b><a href="#" class="black padding-left-15">Jane<span><img src="assets/icon/arw_feed_ico.svg" class="image-setting"  /></span> <span>&#8356;100</span><span class="border-line">|</span></a></b></li>
        </ul>
    </div>

    <div text-center>
        <ion-list>
            <ion-item href="#" (click)="recentWinnerTipsmodal()" detail-push>
                Recent Winner Tips
            </ion-item>
            <ion-item href="#" (click)="howToPlay()" detail-push>
                How to Play
            </ion-item>
            <ion-item href="#" (click)="gameTermsModal()" detail-push>
                Game Terms
            </ion-item>
        </ion-list>
    </div>

</ion-content>