<ion-header>
    <cus-header title="Play games" notification-count="5"></cus-header>
</ion-header>

<ion-content style="bottom: -32px">
    <div text-center class="orange-bg">
        <div >
            <img src="{{gameInfo?.game_imageurl}}" class="headerImage" />
        </div>
        <ion-list>
            <div class="game-title" *ngIf="!gameLoss">{{gameInfo?.game_title}}</div>
            <div text-wrap *ngIf="!gameLoss">
                {{gameInfo?.game_description}}
            </div>
            <div text-wrap *ngIf="gameLoss">
                <br> Game Message
            </div>
        </ion-list>
    </div>

    <div class="ProgressBar-game-play item item-block item-md orange-bg" *ngIf="!gameLoss">
        <div class="progressbarPlayGame" attr.data-perc="{{progressPercentage}}">
            <div class="barPlayGame color2"><span></span></div>
            <div class="labelPlayGame"><span></span></div>
          </div>
    </div>
    <br>
    <div class="badgesContainer" *ngIf="!gameLoss">
            <div class="badgesMain">
                    <div class="badgesCircle"><b class="badgesInnerText">BADGE</b> <br><div class="badgesOuterText">Scholar</div></div>
                    <div class="badgesCircle"><b class="badgesInnerText">BADGE</b> <br><div class="badgesOuterText">Teacher</div></div>
                    <div class="badgesCircle"><b class="badgesInnerText">BADGE</b> <br><div class="badgesOuterText">Professor</div></div>
                    <div class="badgesCircle"><b class="badgesInnerText">BADGE</b> <br><div class="badgesOuterText">Guru</div></div>
            </div>
    </div>

    <div class="game-level-bg">
        <div class="level-target-title" text-center>
            <span *ngIf="gameInfo?.game_level && !gameLoss">Your Level {{gameInfo?.game_level}} Target</span>
            <span *ngIf="gameLoss">NOT QUITE THERE...</span>
            <span *ngIf="!gameInfo?.game_level && !gameLoss">Your Level 0 Target</span>
        </div>
        <div class="game-play-score">
            <ul>
                <li *ngIf="gameInfo?.game_targetvalue && !gameLoss">Score {{gameInfo?.game_targetvalue}}</li>
                <li *ngIf="gameInfo?.game_targetvalue && gameLoss">Score {{gameInfo?.game_targetvalue}}</li>
                <li *ngIf="!gameInfo?.game_targetvalue && !gameLoss">Score 0</li>

                <li *ngIf="gameInfo?.game_duration && !gameLoss">Finish with in {{gameInfo?.game_duration}} Sec</li>
                <li *ngIf="gameInfo?.game_duration && gameLoss">Finish with in {{gameInfo?.game_duration}} Sec</li>
                <li *ngIf="!gameInfo?.game_duration && !gameLoss">Finish with in 0 Sec</li>

                <li *ngIf="gameInfo?.game_efficiencytarget && !gameLoss">Max {{gameInfo?.game_efficiencytarget}} words</li>
                <li *ngIf="gameInfo?.game_efficiencytarget && gameLoss">Max {{gameInfo?.game_efficiencytarget}} words</li>
                <li *ngIf="!gameInfo?.game_efficiencytarget && !gameLoss">Max 0 words</li>
            </ul>
            <span  class="circle_inside" (click)="showBoosterModal()" *ngIf="!gameLoss"> <img src="assets/icon/booster_btn_ico@3x.png" class="circle_inside_Img" ></span>
        </div>

        <div text-center>
            <button ion-button color="light" (click)="showBoosterModal()" *ngIf="gameLoss">
                <img src="assets/icon/booster_btn_ico@3x.png" style="margin-right: 5px"> 
               <span> Get Booster</span>
            </button>
            <button ion-button color="secondary" (click)="openThankyouPage()"> Play Now</button>
        </div>
    </div>

    <div class="play-game-loss" *ngIf="gameLoss" text-center>
        <span class="spanlossCase">Tips from Lotto Woggle conquerors</span>
        <div class="talk-bubble tri-right round btm-left">
            <div class="talktext">
                <p>bkdsjfkljcxvlkjhxcvx ZDKjfhsA ZDLKfjhsDIAK klughjDZXLfgha jihkgSDLFGiy.</p>
            </div>
        </div>
        <br>
        <br>
        <span style="color:#D8D8D8">
            <span>Matt </span><span> <img src="assets/icon/arw_feed_ico.svg" class="image-setting" /></span><span> Conqueror of level 2</span>
        </span>
        <br>
        <br>
        <button class="btn-transparent-moreTips btn-moreTips" (click)="recentWinnerTipsmodal()">View more tips</button>
    </div>

    <div class="pagination">
        <ul class="step-indicator row">
            <li class="col-xs-4">
                <a href="#" class="active">
                <span class="m-l-20" text-wrap>Recent Winners</span>
            </a>
            </li>
            <li class="col-xs-3"><b><a href="#" class="black">Matt<span><img src="assets/icon/arw_feed_ico.svg" class="image-setting"  /></span> <span>&#8356;50</span><span class="border-line">|</span></a></b></li>
            <li class="col-xs-2"><b><a href="#" class="black">Jane<span><img src="assets/icon/arw_feed_ico.svg" class="image-setting"  /></span> <span>&#8356;100</span><span class="border-line">|</span></a></b></li>
        </ul>
    </div>

    <div text-center *ngIf="!gameLoss" style="position: relative;bottom: 16px;">
        <ion-list>
            <ion-item href="#" (click)="recentWinnerTipsmodal()" detail-push>
                Recent Winner Tips
            </ion-item>
            <ion-item href="#" (click)="howToPlay()" detail-push>
                How to Play
            </ion-item>
            <ion-item href="#" (click)="gameTermsModal()" detail-push hidden>
                Game Terms
            </ion-item>
        </ion-list>
    </div>

</ion-content>