.orange-bg{
  background-color: #F27A18;
}

.game-title
{
    font-size: 22px;
    font-weight: 800;
    color:#fff;
}
.item-md.item-block.orange-bg .item-inner
{
    border-bottom: none;
}

.orange-bg .label-md
{
    margin: 0px;
}

.game-level-bg
{
    background-color: #ffebb9;
    background-image: url('../assets/icon/games_bg@3x.png');
    min-height:210px;
    width:100%;
    background-repeat: repeat-x;
    border-bottom:1px solid #F27A18;
}
.play-game-btn-container
{
    margin-top:20px;
    margin-bottom:20px;
}

.level-target-title
{
padding-top:20px;
padding-bottom:6px;
color: #B26431;
font-size: 20px;
font-weight: 600;
}

.pagination{
   background: #FBD984;
   margin-top:20px;
   margin-bottom:20px;
}

.pagination .col-xs-4 {
    width: 39.33333333%;
}
.pagination .col-xs-3 {
    width: 30.33333333%;
}
.pagination .col-xs-2{
 width: 30.33333333%;
}
.pagination .row:before {
    display: table;
    content: " ";
}
.no-margin{
    margin: 0;
}

.step-indicator {
  padding:0;
  list-style:none;
}
.step-indicator li a {
  display:block;
  text-decoration:none;
  font-size:13px;
  line-height:33px;
  position:relative;
  opacity: inherit !important;
  text-align: center;
}
.step-indicator li:nth-child(1) a::after {
  float:right;
  content:"";
  width:0;
  height:4;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 13px solid #f27a18;
  position:relative;
  right:-12px;
  z-index:8;
}
.step-indicator li a.active{
    background-color:#f27a18;
    color: #fff;
    height: 34px;
}
.m-l-20{
    margin-left:5px;
}
.black{
    color: #000;
}
.padding-left-15{
        padding: 0 0px 0 15px;
}
.image-setting{
    width:9px;height:9px;
}
.border-line{
    float: right;color: #D9A25A;
}

.game-play-score{
    margin-left: 25px;
    color: #797261;
    font-weight: bolder;
}
.game-play-score ul li{
    font-weight: bolder;
}
.ProgressBar-game-play{
    margin-top: -1px;
    height: 105px;
}
    //==progressbar design==//
.prog {
    margin-left:10px;
    width:80%;
    height:18px;
    border:3px solid #A54D1A;
    border-radius:10px;
    background-color:#A54D1A;
    font-weight:bold;
}
.filler {
    width:0%;
    border-radius:10px;
    height:12px;
    background-color:#E7D011;
}
.step{
    width: 25px;
	height: 25px;
	background: #E7D011;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 12px;
    border:3px solid #A54D1A;
    border-left:transparent;
    border-right:transparent;
    margin-left:20%;
    margin-top:-7px;
    position:absolute;
}

.step2{
    width: 25px;
    height: 25px;
    background: #E7D011;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 12px;
    border:3px solid #A54D1A;
    border-left:transparent;
    border-right:transparent;
    margin-left:55%;
    margin-top:-7px;
    position:absolute;
}

.imgs img{
    height:32px;
    margin-left:73%;
    position:absolute;
    margin-top:-13px;
}

    //==ends here prgressbar