page-syndicate-created-modal {
    .cross {
        content: url(./assets/icon/cross.svg);
    }
    .w-anc {
        border: 1px solid #fff;
        padding: 7px 20px;
        color: white;
        border-radius: 15px;
        display: inline-block;
    }
}
