
<ion-header>

  <ion-navbar color="primary">
  
<cus-header title="Offers" notification-count="0"></cus-header>
    
  </ion-navbar>
      <ion-segment [(ngModel)]="toptab" mode="md" color="primary" >
            <ion-segment-button value="offer"   class="Menu_Tab">
                OFFER FOR YOU
            </ion-segment-button>
            <ion-segment-button value="bonus"  class="Menu_Tab">
                SPEND BONUS CREDIT
            </ion-segment-button>
      </ion-segment>
</ion-header>

<popup-confirm-payment #confirmPayment [existing-cards]="userCards"></popup-confirm-payment>

<ion-content [ngSwitch]="toptab" style="background-color:#e8e8e8;">
 
  <ion-card class="Card_Padding" *ngSwitchCase="'offer'"  >
       <div class="card-title">
        <img src="assets/image/euro-banner.png" class="img-responsive">
          <div>£43,000,000 JACKPOT</div>
          <h4>GET 20 EUROMILLIONS LINES</h4>
       </div>
       <div>
      <ion-row>
        <ion-col class="Item_img">
            <div class="img-overlay">
              <img src="assets/image/euro_offers@3x.png" class="img-responsive" alt="..." />
              <div class="post-content ">
                  <p class="Title">EUROMILLIONS 20 LINE </p>
                  <p class="Price"> £43,000,000</p> 
              </div>
            </div>
          </ion-col>
        </ion-row>
        </div>
          <ion-row class="item1" text-center>
                 <ion-col  width-30 class="content-left"  ><ion-icon name="md-stopwatch"></ion-icon>    TIMELEFT</ion-col>
                <ion-col col-1  class="content-center"><div class="timeBreak">2 <span class="time">day </span></div></ion-col>
                <ion-col col-1 class="content-center"> <div class="timeBreak">11 <span class="time">hrs </span></div></ion-col>
                <ion-col col-1 class="content-center"><div class="timeBreak">48 <span class="time">min </span></div></ion-col>
                <ion-col col-1 class="content-center"><div class="timeBreak">35 <span class="time">sec </span></div></ion-col>
                <ion-col width-30><button ion-button class="BuyBtn" (click)="showPaymentOptions()">BUY FOR £4.99</button></ion-col>
          </ion-row>
          <ion-row class="item2">
              <ion-col col-1><ion-icon name="ios-remove-circle-outline" style="font-weight: bold" (click)="hideElement1 = !hideElement1"></ion-icon></ion-col>
              <ion-col col-11><h2 style="font-size: 1.2rem; color: #6297dc;">VIEW OTHER OPTIONS</h2></ion-col>
              <div [hidden]="!hideElement1">
                    <div class="itemCollapse" >
                      <ion-row>
                        <ion-col col-8>10 lines Tuesday and Friday ONGOING Syndicate</ion-col>
                        <ion-col col-4><button ion-button padding-left class="BuyBtn" >BUY FOR £5</button></ion-col>
                      </ion-row>
                    </div>
                    <div class="itemCollapse" >
                      <ion-row>
                        <ion-col col-8>10 lines Tuesday and Friday ONGOING Syndicate</ion-col>
                        <ion-col col-4><button ion-button class="BuyBtn" (click)="showPaymentOptions()">BUY FOR £4.00</button></ion-col>
                      </ion-row>
                    </div>
              </div>
          </ion-row>
        <ion-row>
          <ion-col col-12 class="Item_img">
            <div class="img-overlay">
              <img src="assets/image/lotto_offers@3x.png" class="img-responsive" alt="..." />
              <div class="post-content ">
                  <p class="Title">LOTTO 20 LINE </p>
                  <p class="Price redClr"> £43,000,000</p> 
              </div>
            </div>
          
          </ion-col>
        </ion-row>
          
          <ion-row class="item1 redClr" text-center>
                <ion-col  width-30 class="content-left"  ><ion-icon name="md-stopwatch"></ion-icon>    TIMELEFT</ion-col>
                <ion-col col-1  class="content-center"><div class="timeBreak">2 <span class="time">day </span></div></ion-col>
                <ion-col col-1 class="content-center"> <div class="timeBreak">11 <span class="time">hrs </span></div></ion-col>
                <ion-col col-1 class="content-center"><div class="timeBreak">48 <span class="time">min </span></div></ion-col>
                <ion-col col-1 class="content-center"><div class="timeBreak">35 <span class="time">sec </span></div></ion-col>
                <ion-col width-30><button ion-button class="BuyBtn" (click)="showPaymentOptions()">BUY FOR £4.99</button></ion-col>
          </ion-row>
          <ion-row class="item2" style="border-top: 1px solid rgb(223, 221, 221);border-bottom: 1px solid rgb(223, 221, 221);">
              <ion-col col-1><ion-icon name="ios-remove-circle-outline" style="font-weight: bold" (click)="hideElement2 = !hideElement2" ></ion-icon></ion-col>
              <ion-col col-11><h2 style="font-size:1.2rem;color: #6297dc;">VIEW OTHER OPTIONS</h2></ion-col>
              <div [hidden]="!hideElement2">
                    <div class="itemCollapse" >
                      <ion-row>
                        <ion-col col-8>10 lines Tuesday and Friday ONGOING Syndicate</ion-col>
                        <ion-col col-4><button ion-button padding-left class="BuyBtn" (click)="showPaymentOptions()">BUY FOR £5</button></ion-col>
                      </ion-row>
                    </div>
                    <div class="itemCollapse" >
                      <ion-row>
                        <ion-col col-8>10 lines Tuesday and Friday ONGOING Syndicate</ion-col>
                        <ion-col col-4><button ion-button class="BuyBtn" (click)="showPaymentOptions()">BUY FOR £4.00</button></ion-col>
                      </ion-row>
                    </div>
              </div>
          </ion-row>
          <ion-row>
          <ion-col col-12 class="Item_img">
            <div class="img-overlay">
              <img src="assets/image/power_offers@3x.png" alt="..." class="img-responsive" />
              <div class="post-content ">
                  <p class="Title">POWERBALL 10 LINE </p>
                  <p class="Price blackClr"> £43,000,000</p> 
              </div>
            </div>
          
          </ion-col>
        </ion-row>

          <ion-row class="item1" text-center >
                
                <ion-col  width-40 class="content-left"  ><ion-icon name="md-stopwatch"></ion-icon>    TIMELEFT</ion-col>
                <ion-col col-1  class="content-center"><div class="timeBreak">2 <span class="time">day </span></div></ion-col>
                <ion-col col-1 class="content-center"> <div class="timeBreak">11 <span class="time">hrs </span></div></ion-col>
                <ion-col col-1 class="content-center"><div class="timeBreak">48 <span class="time">min </span></div></ion-col>
                <ion-col col-1 class="content-center"><div class="timeBreak">35 <span class="time">sec </span></div></ion-col>
                <ion-col width-30><button ion-button class="BuyBtn" (click)="showPaymentOptions()">BUY FOR £4.99</button></ion-col>
          </ion-row>
          <ion-row class="item2" style="border-top: 1px solid rgb(223, 221, 221);border-bottom: 1px solid rgb(223, 221, 221);">
              <ion-col col-1><ion-icon name="ios-remove-circle-outline" style="font-weight: bold" (click)="hideElement3 = !hideElement3" ></ion-icon></ion-col>
              <ion-col col-11 ><h2 style="font-size: 1.2rem; color: #6297dc;">VIEW OTHER OPTIONS</h2></ion-col>
              <div [hidden]="!hideElement3">
                    <div class="itemCollapse" >
                      <ion-row>
                        <ion-col col-8>10 lines Tuesday and Friday ONGOING Syndicate</ion-col>
                        <ion-col col-4><button ion-button padding-left class="BuyBtn" (click)="showPaymentOptions()">BUY FOR £5</button></ion-col>
                      </ion-row>
                    </div>
                    <div class="itemCollapse" >
                      <ion-row>
                        <ion-col col-8>10 lines Tuesday and Friday ONGOING Syndicate</ion-col>
                        <ion-col col-4><button ion-button class="BuyBtn" (click)="showPaymentOptions()">BUY FOR £4.00</button></ion-col>
                      </ion-row>
                    </div>
              </div>
          </ion-row>
  </ion-card>

  <div *ngSwitchCase="'bonus'" style="background-color:#e8e8e8" >
      
       <ion-item no-padding no-lines class="creditbox">
        <img class="coins" src="assets/icon/credit_ico.png" height="10px">
        <span class="SlideTitle" >Your Bonus Credit Balance : <span ion-text style="color:#ff3366">£{{Credit_Points}}</span></span>
      </ion-item>
      <ion-slides initialSlide=0 >
          <ion-slide >
              <ion-card class="SlideSpace">
                <ion-grid>
                  <ion-row>
                    <ion-col col-12>
                        <p class="SlidePrice"> £{{credit_lines?.jackpot}}</p> 
                    </ion-col>
                  </ion-row>
                  <ion-row class="SpaceBetweenRow">
                    <ion-col col-12>
                       <p class="SlideSubTitle">{{credit_lines?.name | uppercase}}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="SlideContentBorderTop">
                    <ion-col col-12>
                      <p class="SlideSubTitle" style="color:#515050">Choose Draw day</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="SpaceBetweenRow">
                    <ion-col col-6>
                      <button ion-button class="slide1FontColor" [style.background-color]="drawdaytue" (click)="tue(credit_lines?.draw_group?.draw2)">{{credit_lines?.draw_group?.draw2}}</button>
                    </ion-col>
                    <ion-col col-6>
                      <button ion-button  [style.background-color]="drawdayfri" (click)="fri(credit_lines?.draw_group?.draw1)">{{credit_lines?.draw_group?.draw1}}</button>
                    </ion-col>
                  </ion-row>
                  <ion-row class="SlideContentBorderTop" >
                    <ion-col col-12>
                      <p class="SlideSubTitle" style="color:#515050">Choose Number Of Lines</p>
                    </ion-col>
                  </ion-row>
                  <ion-row >
                     <ion-col (click)="credit_line(credit_lines?.line_group?.line1)" ><p class="badge" >{{credit_lines?.line_group?.line1}}</p></ion-col>
                     <ion-col (click)="credit_line(credit_lines?.line_group?.line2)" ><p class="badge" >{{credit_lines?.line_group?.line2}}</p></ion-col>
                     <ion-col (click)="credit_line(credit_lines?.line_group?.line3)" ><p class="badge"  >{{credit_lines?.line_group?.line3}}</p></ion-col>
                     <ion-col (click)="credit_line(credit_lines?.line_group?.line4)" ><p class="badge" >{{credit_lines?.line_group?.line4}}</p></ion-col>
                     <ion-col (click)="credit_line(credit_lines?.line_group?.line5)" ><p class="badge" >{{credit_lines?.line_group?.line5}}</p></ion-col>
                     <ion-col (click)="credit_line(credit_lines?.line_group?.line6)" ><p class="badge" >{{credit_lines?.line_group?.line6}}</p></ion-col>
                     <ion-col (click)="credit_line(credit_lines?.line_group?.line7)" ><p class="badge" >{{credit_lines?.line_group?.line7}}</p></ion-col>                     
                    
                  </ion-row>
                  <ion-row class="SlideContentBorderTop">
                    <ion-col col-12>
                      <p class="SlideSubTitle" style="color:#d0d0d0">SUMMARY</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                      <p class="SlideSubTitle SlideLastText" >{{credit_filter_line}} {{credit_lines?.name}} Lines on {{credit_filter_day}}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngFor="let item of credit_offer | filter:{ line: credit_filter_line, draw: credit_filter_draw}" >
                    <ion-col col-12 >
                      <p class="SlideSubTitle SlideLastText" > Total at 30p per Lines : <span ion-text color="danger">£{{item?.prize}}</span></p>
                    </ion-col>
                    
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                      <button ion-button class="BuyBtn" style="float: none">BUY NOW</button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
          </ion-slide>

           <ion-slide >
              <ion-card class="SlideSpace">
                <ion-grid>
                  <ion-row>
                    <ion-col col-12>
                        <p class="SlidePrice redClr"> £{{fetch_lines?.jackpot}}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="SpaceBetweenRow">
                    <ion-col col-12>
                       <p class="SlideSubTitle">{{fetch_lines?.name | uppercase }}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="SlideContentBorderTop">
                    <ion-col col-12>
                      <p class="SlideSubTitle" style="color:#515050">Choose Draw day</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="SpaceBetweenRow">
                    <ion-col col-6>
                      <button ion-button class="slide2FontColor" [style.background-color]="drawdaywed" (click)="wed(fetch_lines?.draw_group?.draw2)">{{fetch_lines?.draw_group?.draw2}}</button>
                    </ion-col>
                    <ion-col col-6>
                      <button ion-button [style.background-color]="drawdaysat" (click)="sat(fetch_lines?.draw_group?.draw1)">{{fetch_lines?.draw_group?.draw1}}</button>
                    </ion-col>
                  </ion-row>
                  <ion-row class="SlideContentBorderTop" >
                    <ion-col col-12>
                      <p class="SlideSubTitle" style="color:#515050">Choose Number Of Lines</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                     <ion-col (click)="fetch_line(fetch_lines?.line_group?.line1)" ><p class="badge badge2">{{fetch_lines?.line_group?.line1}}</p></ion-col>
                     <ion-col (click)="fetch_line(fetch_lines?.line_group?.line2)"><p class="badge badge2">{{fetch_lines?.line_group?.line2}}</p></ion-col>
                     <ion-col (click)="fetch_line(fetch_lines?.line_group?.line3)"><p class="badge badge2">{{fetch_lines?.line_group?.line3}}</p></ion-col>
                     <ion-col (click)="fetch_line(fetch_lines?.line_group?.line4)" ><p class="badge badge2">{{fetch_lines?.line_group?.line4}}</p></ion-col>
                     <ion-col (click)="fetch_line(fetch_lines?.line_group?.line5)"  ><p class="badge badge2">{{fetch_lines?.line_group?.line5}}</p></ion-col>
                     <ion-col (click)="fetch_line(fetch_lines?.line_group?.line6)" ><p class="badge badge2">{{fetch_lines?.line_group?.line6}}</p></ion-col>
                     <ion-col (click)="fetch_line(fetch_lines?.line_group?.line7)" ><p class="badge badge2">{{fetch_lines?.line_group?.line7}}</p></ion-col>
                    
                  </ion-row>
                  <ion-row class="SlideContentBorderTop">
                    <ion-col col-12>
                      <p class="SlideSubTitle" style="color:#d0d0d0">SUMMARY</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                      <p class="SlideSubTitle SlideLastText" >{{fetch_filter_line}} {{fetch_lines?.name}} Lines on {{fetch_filter_day}}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row  *ngFor="let item of fetch_offer | filter:{line: fetch_filter_line, draw: fetch_filter_draw}">
                    <ion-col col-12>
                      <p class="SlideSubTitle SlideLastText" >Total at 30p per Lines : <span ion-text color="danger">£{{item?.prize}}</span></p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                      <button ion-button class="BuyBtn" style="float: none" (click)="showPaymentOptions()">BUY NOW</button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
          </ion-slide>

      </ion-slides>
   </div>

</ion-content>