<!--
  Generated template for the Offers page.
  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
  
<cus-header title="Offers" notification-count="0"></cus-header>
    
  </ion-navbar>
      <ion-segment [(ngModel)]="toptab" mode="md" color="primary" >
            <ion-segment-button value="offer"   class="Menu_Tab">
                OFFER FOR YOU
            </ion-segment-button>
            <ion-segment-button value="bonus"  class="Menu_Tab">
                SPEND BONUS CREDIT
            </ion-segment-button>
      </ion-segment>
</ion-header>


<ion-content [ngSwitch]="toptab" style="background-color:#e8e8e8;">
 
  <ion-card class="Card_Padding"  *ngSwitchCase="'offer'"  >
       <div class="card-title">
        <img src="assets/image/euro-banner.png" class="img-responsive">
          <div>£43,000,000 JACKPOT</div>
          <h4>GET 20 EUROMILLIONS LINES</h4>
       </div>
       <div>
      <ion-row>
        <ion-col class="Item_img">
            <div class="img-overlay">
              <img src="assets/image/euro_offers@3x.png" class="img-responsive" alt="..." />
              <div class="post-content ">
                  <p class="Title">EUROMILLIONS 20 LINE </p>
                  <p class="Price"> £43,000,000</p> 
              </div>
            </div>
          </ion-col>
        </ion-row>
        </div>
          <ion-row class="item1" text-center>
                 <ion-col  width-30 class="content-left"  ><ion-icon name="md-stopwatch"></ion-icon>    TIMELEFT</ion-col>
                <ion-col col-1  class="content-center"><div class="timeBreak">2 <span class="time">day </span></div></ion-col>
                <ion-col col-1 class="content-center"> <div class="timeBreak">11 <span class="time">hrs </span></div></ion-col>
                <ion-col col-1 class="content-center"><div class="timeBreak">48 <span class="time">min </span></div></ion-col>
                <ion-col col-1 class="content-center"><div class="timeBreak">35 <span class="time">sec </span></div></ion-col>
                <ion-col width-30><button ion-button class="BuyBtn">BUY FOR £4.99</button></ion-col>
          </ion-row>
          <ion-row class="item2">
              <ion-col col-1><ion-icon name="ios-remove-circle-outline" style="font-weight: bold" (click)="hideElement1 = !hideElement1"></ion-icon></ion-col>
              <ion-col col-11><h2 style="font-size: 1.2rem; color: #6297dc;">VIEW OTHER OPTIONS</h2></ion-col>
              <div [hidden]="!hideElement1">
                    <div class="itemCollapse" >
                      <ion-row>
                        <ion-col col-8>10 lines Tuesday and Friday ONGOING Syndicate</ion-col>
                        <ion-col col-4><button ion-button padding-left class="BuyBtn" >BUY FOR £5</button></ion-col>
                      </ion-row>
                    </div>
                    <div class="itemCollapse" >
                      <ion-row>
                        <ion-col col-8>10 lines Tuesday and Friday ONGOING Syndicate</ion-col>
                        <ion-col col-4><button ion-button class="BuyBtn">BUY FOR £4.00</button></ion-col>
                      </ion-row>
                    </div>
              </div>
          </ion-row>
        <ion-row>
          <ion-col col-12 class="Item_img">
            <div class="img-overlay">
              <img src="assets/image/lotto_offers@3x.png" class="img-responsive" alt="..." />
              <div class="post-content ">
                  <p class="Title">LOTTO 20 LINE </p>
                  <p class="Price redClr"> £43,000,000</p> 
              </div>
            </div>
          
          </ion-col>
        </ion-row>
          
          <ion-row class="item1 redClr" text-center>
                <ion-col  width-30 class="content-left"  ><ion-icon name="md-stopwatch"></ion-icon>    TIMELEFT</ion-col>
                <ion-col col-1  class="content-center"><div class="timeBreak">2 <span class="time">day </span></div></ion-col>
                <ion-col col-1 class="content-center"> <div class="timeBreak">11 <span class="time">hrs </span></div></ion-col>
                <ion-col col-1 class="content-center"><div class="timeBreak">48 <span class="time">min </span></div></ion-col>
                <ion-col col-1 class="content-center"><div class="timeBreak">35 <span class="time">sec </span></div></ion-col>
                <ion-col width-30><button ion-button class="BuyBtn">BUY FOR £4.99</button></ion-col>
          </ion-row>
          <ion-row class="item2" style="border-top: 1px solid rgb(223, 221, 221);border-bottom: 1px solid rgb(223, 221, 221);">
              <ion-col col-1><ion-icon name="ios-remove-circle-outline" style="font-weight: bold" (click)="hideElement2 = !hideElement2" ></ion-icon></ion-col>
              <ion-col col-11><h2 style="font-size:1.2rem;color: #6297dc;">VIEW OTHER OPTIONS</h2></ion-col>
              <div [hidden]="!hideElement2">
                    <div class="itemCollapse" >
                      <ion-row>
                        <ion-col col-8>10 lines Tuesday and Friday ONGOING Syndicate</ion-col>
                        <ion-col col-4><button ion-button padding-left class="BuyBtn" >BUY FOR £5</button></ion-col>
                      </ion-row>
                    </div>
                    <div class="itemCollapse" >
                      <ion-row>
                        <ion-col col-8>10 lines Tuesday and Friday ONGOING Syndicate</ion-col>
                        <ion-col col-4><button ion-button class="BuyBtn">BUY FOR £4.00</button></ion-col>
                      </ion-row>
                    </div>
              </div>
          </ion-row>
          <ion-row>
          <ion-col col-12 class="Item_img">
            <div class="img-overlay">
              <img src="assets/image/power_offers@3x.png" alt="..." class="img-responsive" />
              <div class="post-content ">
                  <p class="Title">POWERBALL 10 LINE </p>
                  <p class="Price blackClr"> £43,000,000</p> 
              </div>
            </div>
          
          </ion-col>
        </ion-row>

          <ion-row class="item1" text-center >
                
                <ion-col  width-40 class="content-left"  ><ion-icon name="md-stopwatch"></ion-icon>    TIMELEFT</ion-col>
                <ion-col col-1  class="content-center"><div class="timeBreak">2 <span class="time">day </span></div></ion-col>
                <ion-col col-1 class="content-center"> <div class="timeBreak">11 <span class="time">hrs </span></div></ion-col>
                <ion-col col-1 class="content-center"><div class="timeBreak">48 <span class="time">min </span></div></ion-col>
                <ion-col col-1 class="content-center"><div class="timeBreak">35 <span class="time">sec </span></div></ion-col>
                <ion-col width-30><button ion-button class="BuyBtn">BUY FOR £4.99</button></ion-col>
          </ion-row>
          <ion-row class="item2" style="border-top: 1px solid rgb(223, 221, 221);border-bottom: 1px solid rgb(223, 221, 221);">
              <ion-col col-1><ion-icon name="ios-remove-circle-outline" style="font-weight: bold" (click)="hideElement3 = !hideElement3" ></ion-icon></ion-col>
              <ion-col col-11 ><h2 style="font-size: 1.2rem;   color: #6297dc;">VIEW OTHER OPTIONS</h2></ion-col>
              <div [hidden]="!hideElement3">
                    <div class="itemCollapse" >
                      <ion-row>
                        <ion-col col-8>10 lines Tuesday and Friday ONGOING Syndicate</ion-col>
                        <ion-col col-4><button ion-button padding-left class="BuyBtn" >BUY FOR £5</button></ion-col>
                      </ion-row>
                    </div>
                    <div class="itemCollapse" >
                      <ion-row>
                        <ion-col col-8>10 lines Tuesday and Friday ONGOING Syndicate</ion-col>
                        <ion-col col-4><button ion-button class="BuyBtn">BUY FOR £4.00</button></ion-col>
                      </ion-row>
                    </div>
              </div>
          </ion-row>
  </ion-card>

  <ion-content  *ngSwitchCase="'bonus'" style="background-color:#e8e8e8" >
      <!--<ion-card class="Credit_balance_card">
        <ion-toggle color="danger" checked="true"></ion-toggle>
       </ion-card>-->
      <ion-item no-padding no-lines style="padding-left: 10px;margin-top: 8px;border-top: 1px solid rgb(223, 221, 221);border-bottom: 1px solid rgb(223, 221, 221);">
          
          <ion-toggle color="danger" checked="true"  item-left></ion-toggle>

          <ion-label class="SlideTitle" >Your Bonus Credit Balance : <span ion-text color="danger">£{{Credit_Points}}</span></ion-label>
      </ion-item>
      <ion-slides initialSlide=0 >
          <ion-slide >
              <ion-card class="SlideSpace">
                <ion-grid>
                  <ion-row>
                    <ion-col col-12>
                        <p class="SlidePrice"> £43,000,000</p> 
                    </ion-col>
                  </ion-row>
                  <ion-row class="SpaceBetweenRow">
                    <ion-col col-12>
                       <p class="SlideSubTitle">EUROMILLIONS</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="SlideContentBorderTop">
                    <ion-col col-12>
                      <p class="SlideSubTitle" style="color:#515050">Choose Your Draw day</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="SpaceBetweenRow">
                    <ion-col col-6>
                      <button ion-button class="slide1FontColor" [style.background-color]="drawdaytue" (click)="tue()" value="Tue">TUE</button>
                    </ion-col>
                    <ion-col col-6>
                      <button ion-button  [style.background-color]="drawdayfri" (click)="fri()">FRI</button>
                    </ion-col>
                  </ion-row>
                  <ion-row class="SlideContentBorderTop" >
                    <ion-col col-12>
                      <p class="SlideSubTitle" style="color:#515050">Choose Number Of Lines</p>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngFor="let item of credit_lines ; let i=index">
                    <ion-col (click)="line1()" *ngIf="i<1"><p class="badge" >{{item.line_group.line1}}</p></ion-col>
                    <ion-col (click)="line2()" *ngIf="i<1"><p class="badge" >{{item.line_group.line2}}</p></ion-col>
                    <ion-col (click)="line3()" *ngIf="i<1"><p class="badge"  >{{item.line_group.line3}}</p></ion-col>
                    <ion-col (click)="line4()" *ngIf="i<1"><p class="badge" >{{item.line_group.line4}}</p></ion-col>
                    <ion-col (click)="line5()" *ngIf="i<1"><p class="badge" >{{item.line_group.line5}}</p></ion-col>
                    <ion-col (click)="line6()" *ngIf="i<1"><p class="badge" >{{item.line_group.line6}}</p></ion-col>
                    <ion-col (click)="line7()" *ngIf="i<1"><p class="badge" >{{item.line_group.line7}}</p></ion-col>
                    
                  </ion-row>
                  <ion-row class="SlideContentBorderTop">
                    <ion-col col-12>
                      <p class="SlideSubTitle" style="color:#d0d0d0">SUMMARY</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                      <p class="SlideSubTitle SlideLastText" >1 Euromillions Lines on {{credit_filter_day}}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngFor="let item of credit_offer | filter:{line: credit_filter_line, draw: credit_filter_draw}" >
                    <ion-col col-12 >
                      <p class="SlideSubTitle SlideLastText" >1 Total at 30p per Lines : <span ion-text color="danger">£{{item.prize}}</span></p>
                    </ion-col>
                    
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                      <button ion-button class="BuyBtn" style="float: none">BUY NOW</button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
          </ion-slide>

           <ion-slide >
              <ion-card class="SlideSpace">
                <ion-grid>
                  <ion-row>
                    <ion-col col-12>
                        <p class="SlidePrice redClr"> £5,600,000</p> 
                    </ion-col>
                  </ion-row>
                  <ion-row class="SpaceBetweenRow">
                    <ion-col col-12>
                       <p class="SlideSubTitle">LOTTO</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="SlideContentBorderTop">
                    <ion-col col-12>
                      <p class="SlideSubTitle" style="color:#515050">Choose Draw day</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="SpaceBetweenRow">
                    <ion-col col-6>
                      <button ion-button class="slide2FontColor" [style.background-color]="drawdaywed" (click)="wed()">WED</button>
                    </ion-col>
                    <ion-col col-6>
                      <button ion-button [style.background-color]="drawdaysat" (click)="sat()">SAT</button>
                    </ion-col>
                  </ion-row>
                  <ion-row class="SlideContentBorderTop" >
                    <ion-col col-12>
                      <p class="SlideSubTitle" style="color:#515050">Choose Number Of Lines</p>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngFor="let item of fetch_lines; let i=index">
                    <ion-col (click)="line1()" *ngIf="i<1"><p class="badge badge2">{{item.line_group.line1}}</p></ion-col>
                    <ion-col (click)="line2()" *ngIf="i<1"><p class="badge badge2">{{item.line_group.line2}}</p></ion-col>
                    <ion-col (click)="line3()" *ngIf="i<1"><p class="badge badge2">{{item.line_group.line3}}</p></ion-col>
                    <ion-col (click)="line4()" *ngIf="i<1"><p class="badge badge2">{{item.line_group.line4}}</p></ion-col>
                    <ion-col (click)="line5()" *ngIf="i<1" ><p class="badge badge2">{{item.line_group.line5}}</p></ion-col>
                    <ion-col (click)="line6()" *ngIf="i<1"><p class="badge badge2">{{item.line_group.line6}}</p></ion-col>
                    <ion-col (click)="line7()" *ngIf="i<1"><p class="badge badge2">{{item.line_group.line7}}</p></ion-col>
                    
                  </ion-row>
                  <ion-row class="SlideContentBorderTop">
                    <ion-col col-12>
                      <p class="SlideSubTitle" style="color:#d0d0d0">SUMMARY</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                      <p class="SlideSubTitle SlideLastText" >1 Lotto Lines on {{fetch_filter_day}}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row  *ngFor="let item of fetch_offer | filter:{line: fetch_filter_line, draw: fetch_filter_draw}">
                    <ion-col col-12>
                      <p class="SlideSubTitle SlideLastText" >1 Total at 30p per Lines : <span ion-text color="danger">£{{item.prize}}</span></p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                      <button ion-button class="BuyBtn" style="float: none">BUY NOW</button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
          </ion-slide>

      </ion-slides>
  </ion-content>

</ion-content>