<!--
  Generated template for the Offers page.
  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
  
<cus-header title="Offers" notification-count="0"></cus-header>
    
  </ion-navbar>
      <ion-segment [(ngModel)]="toptab" mode="md" color="primary" >
            <ion-segment-button value="offer"   class="Menu_Tab">
                OFFER FOR YOU
            </ion-segment-button>
            <ion-segment-button value="bonus"  class="Menu_Tab">
                SPEND BONUS CREDIT
            </ion-segment-button>
      </ion-segment>
</ion-header>


<ion-content [ngSwitch]="toptab" style="background-color:#E8E8E8;">

  <ion-card class="Card_Padding"  *ngSwitchCase="'offer'"  >
       <div class="card-title">
        <img src="assets/image/euro-banner.png" class="img-responsive">
          <div>£43,000,000 JACKPOT</div>
          <h4>GET 20 EUROMILLIONS LINES</h4>
       </div>
       <div>
      <ion-row>
        <ion-col class="Item_img">
            <div class="img-overlay">
              <img src="assets/image/euro_offers@3x.png" class="img-responsive" alt="..." />
              <div class="post-content ">
                  <p class="Title">EUROMILLIONS 20 LINE </p>
                  <p class="Price"> £43,000,000</p> 
              </div>
            </div>
          </ion-col>
        </ion-row>
        </div>
          <ion-row class="item1" text-center>
                 <ion-col  width-30 class="content-left"  ><ion-icon name="md-stopwatch"></ion-icon>    TIMELEFT</ion-col>
                <ion-col col-1  class="content-center"><div class="timeBreak">2 <span class="time">day </span></div></ion-col>
                <ion-col col-1 class="content-center"> <div class="timeBreak">11 <span class="time">hrs </span></div></ion-col>
                <ion-col col-1 class="content-center"><div class="timeBreak">48 <span class="time">min </span></div></ion-col>
                <ion-col col-1 class="content-center"><div class="timeBreak">35 <span class="time">sec </span></div></ion-col>
                <ion-col width-30><button ion-button class="BuyBtn">BUY FOR £4.99</button></ion-col>
          </ion-row>
          <ion-row class="item2">
              <ion-col col-1><ion-icon name="ios-remove-circle-outline" style="font-weight: bold" (click)="hideElement1 = !hideElement1"></ion-icon></ion-col>
              <ion-col col-11><h2 style="font-size: 1.2rem; color: #2F76D1;">VIEW OTHER OPTIONS</h2></ion-col>
              <div [hidden]="!hideElement1">
                    <div class="itemCollapse" >
                      <ion-row>
                        <ion-col col-8>10 lines Tuesday and Friday ONGOING Syndicate</ion-col>
                        <ion-col col-4><button ion-button padding-left class="BuyBtn" >BUY FOR £5</button></ion-col>
                      </ion-row>
                    </div>
                    <div class="itemCollapse" >
                      <ion-row>
                        <ion-col col-8>10 lines Tuesday and Friday ONGOING Syndicate</ion-col>
                        <ion-col col-4><button ion-button class="BuyBtn">BUY FOR £4.00</button></ion-col>
                      </ion-row>
                    </div>
              </div>
          </ion-row>
        <ion-row>
          <ion-col col-12 class="Item_img">
            <div class="img-overlay">
              <img src="assets/image/lotto_offers@3x.png" class="img-responsive" alt="..." />
              <div class="post-content ">
                  <p class="Title">LOTTO 20 LINE </p>
                  <p class="Price redClr"> £43,000,000</p> 
              </div>
            </div>
          
          </ion-col>
        </ion-row>
          
          <ion-row class="item1 redClr" text-center>
                <ion-col  width-30 class="content-left"  ><ion-icon name="md-stopwatch"></ion-icon>    TIMELEFT</ion-col>
                <ion-col col-1  class="content-center"><div class="timeBreak">2 <span class="time">day </span></div></ion-col>
                <ion-col col-1 class="content-center"> <div class="timeBreak">11 <span class="time">hrs </span></div></ion-col>
                <ion-col col-1 class="content-center"><div class="timeBreak">48 <span class="time">min </span></div></ion-col>
                <ion-col col-1 class="content-center"><div class="timeBreak">35 <span class="time">sec </span></div></ion-col>
                <ion-col width-30><button ion-button class="BuyBtn">BUY FOR £4.99</button></ion-col>
          </ion-row>
          <ion-row class="item2" style="border-top: 1px solid #D8D8D8;border-bottom: 1px solid #D8D8D8;">
              <ion-col col-1><ion-icon name="ios-remove-circle-outline" style="font-weight: bold" (click)="hideElement2 = !hideElement2" ></ion-icon></ion-col>
              <ion-col col-11><h2 style="font-size:1.2rem;color: #2F76D1;">VIEW OTHER OPTIONS</h2></ion-col>
              <div [hidden]="!hideElement2">
                    <div class="itemCollapse" >
                      <ion-row>
                        <ion-col col-8>10 lines Tuesday and Friday ONGOING Syndicate</ion-col>
                        <ion-col col-4><button ion-button padding-left class="BuyBtn" >BUY FOR £5</button></ion-col>
                      </ion-row>
                    </div>
                    <div class="itemCollapse" >
                      <ion-row>
                        <ion-col col-8>10 lines Tuesday and Friday ONGOING Syndicate</ion-col>
                        <ion-col col-4><button ion-button class="BuyBtn">BUY FOR £4.00</button></ion-col>
                      </ion-row>
                    </div>
              </div>
          </ion-row>
          <ion-row>
          <ion-col col-12 class="Item_img">
            <div class="img-overlay">
              <img src="assets/image/power_offers@3x.png" alt="..." class="img-responsive" />
              <div class="post-content ">
                  <p class="Title">POWERBALL 10 LINE </p>
                  <p class="Price blackClr"> £43,000,000</p> 
              </div>
            </div>
          
          </ion-col>
        </ion-row>

          <ion-row class="item1" text-center >
                
                <ion-col  width-40 class="content-left"  ><ion-icon name="md-stopwatch"></ion-icon>    TIMELEFT</ion-col>
                <ion-col col-1  class="content-center"><div class="timeBreak">2 <span class="time">day </span></div></ion-col>
                <ion-col col-1 class="content-center"> <div class="timeBreak">11 <span class="time">hrs </span></div></ion-col>
                <ion-col col-1 class="content-center"><div class="timeBreak">48 <span class="time">min </span></div></ion-col>
                <ion-col col-1 class="content-center"><div class="timeBreak">35 <span class="time">sec </span></div></ion-col>
                <ion-col width-30><button ion-button class="BuyBtn">BUY FOR £4.99</button></ion-col>
          </ion-row>
          <ion-row class="item2" style="border-top: 1px solid #D8D8D8;border-bottom: 1px solid #D8D8D8;">
              <ion-col col-1><ion-icon name="ios-remove-circle-outline" style="font-weight: bold" (click)="hideElement3 = !hideElement3" ></ion-icon></ion-col>
              <ion-col col-11 ><h2 style="font-size: 1.2rem;   color: #2F76D1;">VIEW OTHER OPTIONS</h2></ion-col>
              <div [hidden]="!hideElement3">
                    <div class="itemCollapse" >
                      <ion-row>
                        <ion-col col-8>10 lines Tuesday and Friday ONGOING Syndicate</ion-col>
                        <ion-col col-4><button ion-button padding-left class="BuyBtn" >BUY FOR £5</button></ion-col>
                      </ion-row>
                    </div>
                    <div class="itemCollapse" >
                      <ion-row>
                        <ion-col col-8>10 lines Tuesday and Friday ONGOING Syndicate</ion-col>
                        <ion-col col-4><button ion-button class="BuyBtn">BUY FOR £4.00</button></ion-col>
                      </ion-row>
                    </div>
              </div>
          </ion-row>
  </ion-card>

 <div *ngSwitchCase="'bonus'" style="background-color:#E8E8E8" >

       <ion-item no-padding no-lines class="creditbox">
        <img src="assets/icon/credit_ico.png"  class="coinimg" >
        <span class="SlideTitle" >Your Bonus Credit Balance : <span ion-text class="PriceTxt">£{{Credit_Points}}</span></span>
       </ion-item>

      <ion-slides initialSlide=0 >
           <ion-slide *ngFor="let product of credit_product">
              <ion-card class="SlideSpace" *ngIf="!resultshow && !errorshow">
                <ion-grid>
                  <ion-row>
                    <ion-col col-12>
                        <p class="SlidePrice" [style.color]="product?.product_color"> £{{product?.jackpot}}</p> 
                    </ion-col>
                  </ion-row>
                  <ion-row class="SpaceBetweenRow">
                    <ion-col col-12>
                       <p class="SlideSubTitle">{{product?.name | uppercase}}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="SlideContentBorderTop">
                    <ion-col col-12>
                      <p class="SlideSubTitle" style="color:#333333">Choose Draw day</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="SpaceBetweenRow"  >
                    <ion-col *ngFor="let draw of  product?.draw_group| keys; let i = index">
                      <button ion-button class="slide1FontColor" [ngStyle]="(draw == credit_filter_draw )?{'background-color': product?.product_color}:{'background-color':  '#AAAAAA'}"  (click)="drawday(draw,product?.name)">{{draw}}</button>
                    </ion-col>
  
                  </ion-row>
                  <ion-row class="SlideContentBorderTop" >
                    <ion-col col-12>
                      <p class="SlideSubTitle" style="color:#333333">Choose Number Of Lines</p>
                    </ion-col>
                  </ion-row>
                  <!-- <ion-row>
                     <div  *ngFor="let line of  product?.line_group| keys;  let i = index">
                            <p  class="linebadge" [ngStyle]="(line == credit_filter_line )?{'background': product?.product_color, 'color':'#ffffff'}:{'background':  '#ffffff','color':'#AAAAAA'}"  (click)="credit_line(line)" >{{line}}</p> 
                          </div>   
                  </ion-row> -->
                  <ion-item >
                    <ion-range  class="rangeslider" [style.color]="product?.product_color" min="0" max="{{(product?.line_group|keys).length-1}}" snaps="true"  (ionChange)="watchSlider(product?.line_group)"  [(ngModel)]="slider">                       
                      <ion-label [style.color]="product?.product_color" range-left>{{(product?.line_group| keys)[0]}}</ion-label>
                      <ion-label  [style.color]="product?.product_color" range-right>{{(product?.line_group| keys)[(product?.line_group| keys).length-1]}}</ion-label>
                    </ion-range>
                  </ion-item>
                  <ion-row class="SlideContentBorderTop">
                    <ion-col col-12>
                      <p class="SlideSubTitle" style="color:#D8D8D8">SUMMARY</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                      <p class="SlideSubTitle SlideLastText" >{{credit_filter_line}} {{credit_lines?.name}} Lines on {{credit_filter_day}}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngFor="let item of credit_offer | filter:{ line: credit_filter_line, draw: credit_filter_draw, game: credit_game};let i=index;" >
                    <ion-col col-12 *ngIf="i<1">
                      <p class="SlideSubTitle SlideLastText" > Total at 30p per Lines : <span ion-text color="danger">£{{item?.prize}}</span></p>
                    </ion-col>
                    
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                      <button ion-button class="BuyBtn" style="float: none" (click)="buyCreditOffer()" >BUY NOW</button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
        
              <ion-card *ngIf="resultshow" class="buycard">
                      <button ion-button icon-only style="background:#F8F8F8; border-radius:50%" >
                        <ion-icon style="width:50px; "><img src="assets/icon/check_icon.png"> </ion-icon>
                      </button>
                  <ion-row text-center>
                    <ion-col col-12 class="messagecolor">
                     Syndicate TONY123 created! what you want to do next?
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                       <button ion-button outline round color="light"  >VIEW TICKETS</button>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                        <button ion-button outline round color="light" (click)="getmoreline()">GETMoreLines</button>
                    </ion-col>
                  </ion-row>
              </ion-card>
                 <ion-card *ngIf="erroshow" class="errorcard">
                      <button ion-button icon-only style="background:#F8F8F8; border-radius:50%" >
                        <ion-icon style="width:50px; "><img src="assets/icon/failed_icon.png"> </ion-icon>
                      </button>
                  <ion-row text-center>
                    <ion-col col-12 class="messagecolor">
                    An error as occurred. please try again
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                        <button ion-button outline round color="light" (click)="tryagain()">TRY AGAIN</button>
                    </ion-col>
                  </ion-row>
              </ion-card>
           
          </ion-slide>    
      </ion-slides>     
 </div>
    

</ion-content>
