page-create-syndicate4 {
    .toolbar-background-md {
        background: rgb(37, 95, 199);
    }
    .toolbar-md {
        min-height: 42px;
    }
    .toolbar-title-md {
        color: white;
        font-size: 16px;
        font-family: Lato-Black;
    }
    .bar-button-default-md, .bar-button-clear-md-default, 
    .bar-button-md-default {
        color: white;
        font-size: 12px;
    }
    .marg-top-12{
        margin-top: 12px;
    }
    .main-bg {
        background: #e3e3e3;
        font-family: Lato;
    }
    .inner-body {
        background: white;
        padding-bottom: 20px;
    }
    .pad-top-5 {
        padding-top: 5px;
    }
    .pad-10 {
        padding: 10px;
    }
    font-family: Lato;
    .syndicateRow {
        background: white;
        margin-bottom: 10px;
    }
    .h-title {
        padding-bottom: 8px;
        font-family: Lato-Black;
        font-size: 14px;
    }
    .desc-p {
        text-align: center;
        padding: 0 5px;
        font-weight: normal;
    }
    .t-card {
        text-align: center;
        border: 2px solid #ccc;
        border-radius: 5px;
        height: 100%;
    }
    .pad-5-top {
        padding: 5px 0;
    }
    .tcard-selected {
        width: 40px;
        float: right;
    }
    .tcard-selected2 {
        width: 40px;
        float: right;
    }
    .card-img {
        margin-top: -10px;
    }
    .check-div {
        height: 50px;
    }
    .img1{
        margin-top: -20px;
        margin-bottom: -10px;
        padding: 0px 10px 0;
    }
    .img2{
        margin-top: -20px;
        margin-bottom: -10px;
        padding: 0px 10px 0;
    }
    .btn {
        background: #00A651;
        height: 34px;
        border-radius: 3px;
        width: 50%;
    }
    .errorDiv {
        text-align: left;
        padding: 15px;
        background: #FEE5E5;
        color: #C10A09;
    }
    .lot-img {
        width: 40px;
        vertical-align: middle;
    }
    .my-grid {
        margin-top: -15px;
        padding: 0px;
    }
    .check-icon {
        padding-right: 6px;
        vertical-align: middle;
        // font-weight: bold;
    }
    .count-text {
        text-align: center;
        font-size: 20px;
    }
    .pm-icon {
        width: 30px;
    }
    .text-right {
        text-align: right;
    }
    .text-center {
        text-align: center;
    }
    .pad-side-10 {
        padding: 0 10px;
    }
    .border-btm {
        border-bottom: 1px solid #ccc;
    }
    .selected-desc {
        font-size: 10px;
        text-align: center;
    }
    .tickb {
        line-height: 0;
        font-size: 30px;
        font-weight: bold;
        color: #2f76d1;
    }
    .cico {
        width: 24px;
        //height: 32px;
        padding: 0px 5px 2px;
        opacity: 0.9;
    }
}
