<!--
  Generated template for the CreateSyndicate4 page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>
  <ion-navbar>
    <ion-title>Create your syndicate</ion-title>
    <ion-buttons end>
        <button ion-button icon-only>
            <ion-icon ios="md-close" md="md-close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>-->
<ion-header><synd-cus-header1 title="Create your syndicate" notification-count="5"></synd-cus-header1></ion-header>


<ion-content class="marg-top-12 main-bg">
  <div class="syndicateRow" (click)="backTosyndicate1()">
        <ion-grid>
          <ion-row>
            <ion-col col-11 class="pad-top-5"><div class="h-title"> SYNDICATE DETAILS </div></ion-col>
            <ion-col col-1><img src="./assets/img/check.svg" /></ion-col>
          </ion-row>
        </ion-grid>
  </div>
  <div class="syndicateRow" (click)="backTosyndicate2()">
        <ion-grid>
          <ion-row>
            <ion-col col-11 class="pad-top-5"><div class="h-title"> TYPE OF SYNDICATE </div></ion-col>
            <ion-col col-1><img src="./assets/img/check.svg" /></ion-col>
          </ion-row>
        </ion-grid>
  </div>
  <div class="syndicateRow" (click)="backTosyndicate3()">
        <ion-grid>
          <ion-row>
            <ion-col col-11 class="pad-top-5"><div class="h-title"> LOTTERIES </div></ion-col>
            <ion-col col-1><img src="./assets/img/check.svg" /></ion-col>
          </ion-row>
        </ion-grid>
  </div>
  <div class="syndicateRow">
    <div class="pad-10"><div class="h-title" style="border-bottom: 1.5px solid #ccc;"> DRAWS </div></div>
    <div class="pad-side-10" *ngFor="let d of dataArr | lotselecetd; let i=index;">
      <p class="desc-p"><img src="{{d.image}}" class="lot-img"/> Choose {{d.name}} draws</p>
        <ion-grid class="my-grid border-btm">
          <ion-row style="text-align: center">
            <ion-col *ngFor="let da of d.days; let di=index">
             <span (click)="tick(i, di)" style="font-size: 16px;">
               <ion-icon ios="ios-square-outline" md="md-square-outline" class="check-icon cico" [hidden]="d.dayactive[di]" style="font-size: 20px;"></ion-icon>
               <ion-icon ios="ios-checkmark" md="md-checkmark" class="check-icon tickb cico" [hidden]="!d.dayactive[di]" style="content: url('./assets/img/check_b.svg');"></ion-icon>
                {{da}}
                </span>
            </ion-col>
            <!--<ion-col col-1></ion-col>
            <ion-col col-5>
              <span (click)="tick(i, 1)">
                <ion-icon ios="ios-square-outline" md="md-square-outline" class="check-icon cico" [hidden]="d.dayactive[1]"></ion-icon>
                <ion-icon ios="ios-checkmark" md="md-checkmark" class="check-icon tickb cico" [hidden]="!d.dayactive[1]" style="content: url('./assets/img/check_b.svg');"></ion-icon>
                 {{d.days[1]}}
              </span>
            </ion-col>-->
          </ion-row>
          <ion-row><ion-col class="text-center" style="font-weight: bold">Choose number of lines for each member</ion-col></ion-row>
          <ion-row>
            <ion-col col-5 class="text-right"><img src="./assets/img/minus.svg" class="pm-icon" (click)="decrease(i)"/></ion-col>
            <ion-col col-2 class="count-text">{{d.linecount}}</ion-col>
            <ion-col col-5><img src="./assets/img/plus.svg" class="pm-icon" (click)="increase(i)"/></ion-col>
          </ion-row>
        </ion-grid>
        <p class="selected-desc" *ngIf="i == dataArr.length - 1">Your selection: <span *ngFor="let t of dataArr; let li=index"><span *ngIf="li != 0">+</span>{{t.linecount}} line(s) in {{t.name}} <span *ngIf="t.dayactive[0]">{{t.days[0]}}</span> <span *ngIf="t.dayactive[0] && t.dayactive[1]">and</span>  <span *ngIf="t.dayactive[1]">{{t.days[1]}}</span> </span></p>
    </div>
    <!--<div class="pad-side-10">
      <p class="desc-p"><img src="./assets/img/lottoball@3x.png" class="lot-img"/> Choose Lotto draws</p>
        <ion-grid class="my-grid border-btm">
          <ion-row>
            <ion-col col-6 style="text-align: right;">
             <span (click)="tick('wed')">
               <ion-icon ios="ios-square-outline" md="md-square-outline" class="check-icon cico" [hidden]="lottoDays.wed"></ion-icon>
               <ion-icon ios="ios-checkmark" md="md-checkmark" class="check-icon tickb cico" [hidden]="!lottoDays.wed" style="content: url('./assets/img/check_b.svg');"></ion-icon>
                Wednesday
              </span>
            </ion-col>
            <ion-col col-1></ion-col>
            <ion-col col-5>
              <span (click)="tick('sat')">
                <ion-icon ios="ios-square-outline" md="md-square-outline" class="check-icon cico" [hidden]="lottoDays.sat"></ion-icon>
                <ion-icon ios="ios-checkmark" md="md-checkmark" class="check-icon tickb cico" [hidden]="!lottoDays.sat" style="content: url('./assets/img/check_b.svg');"></ion-icon>
                 Saturday
              </span>
            </ion-col>
          </ion-row>
          <ion-row><ion-col class="text-center" style="font-weight: bold">Choose number of lines for each member</ion-col></ion-row>
          <ion-row>
            <ion-col col-5 class="text-right"><img src="./assets/img/minus.svg" class="pm-icon" (click)="decrease('c2')"/></ion-col>
            <ion-col col-2 class="count-text">{{count2}}</ion-col>
            <ion-col col-5><img src="./assets/img/plus.svg" class="pm-icon" (click)="increase('c2')"/></ion-col>
          </ion-row>
        </ion-grid>
        <p class="selected-desc">Your selection: {{count1}} line in EuroMillions <span [hidden]="!euroDays.tue">Tuesday</span> <span *ngIf="euroDays.tue && euroDays.fri">and</span> <span [hidden]="!euroDays.fri">Friday </span>+ {{count2}} lines in Lotto  <span [hidden]="!lottoDays.wed">Wednesday</span> <span *ngIf="lottoDays.wed && lottoDays.sat"> and</span><span [hidden]="!lottoDays.sat"> Saturday</span></p>
    </div>-->
    <div>
        
        <!--<div style="text-align: center;" class="pad-10">
          <button ion-button type="submit" class="btn" (click)="next()" [disabled]="!valid">CREATE</button>
        </div>-->
    </div>
        
  </div>
  
</ion-content>
<ion-footer>
    <div class="bottom_bar">
        <button ion-button type="submit" class="btn" (click)="next()">Next</button>
    </div>
</ion-footer>

