<!--
  Generated template for the CreateSyndicate3 page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>
  <ion-navbar>
    <ion-title>Create your syndicate</ion-title>
    <ion-buttons end>
        <button ion-button icon-only>
            <ion-icon ios="md-close" md="md-close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>-->
<ion-header><synd-cus-header1 title="Create your syndicate" notification-count="5"></synd-cus-header1></ion-header>

<ion-content class="marg-top-12 main-bg">
  <div class="syndicateRow" (click)="backTosyndicate1()">
        <ion-grid>
          <ion-row>
            <ion-col col-11 class="pad-top-5"><div class="h-title"> SYNDICATE DETAILS </div></ion-col>
            <ion-col col-1><img src="./assets/img/check.svg" /></ion-col>
          </ion-row>
        </ion-grid>
  </div>
  <div class="syndicateRow" (click)="backTosyndicate2()">
        <ion-grid>
          <ion-row>
            <ion-col col-11 class="pad-top-5"><div class="h-title"> TYPE OF SYNDICATE </div></ion-col>
            <ion-col col-1><img src="./assets/img/check.svg" /></ion-col>
          </ion-row>
        </ion-grid>
  </div>
  <div class="syndicateRow">
    <div class="pad-10"><div class="h-title" style="border-bottom: 1.5px solid #ccc;"> LOTTERIES </div></div>
    <div class="pad-10">
      <p class="desc-p" style="margin: 0">Select the lotteries for your syndicate</p>
        <ion-grid>
          <ion-row>
            <ion-col col-4 *ngFor="let c of lotteries; let i=index">
              <div class="t-card" (click)="selected(i)">
                <div class="check-div"><img src="./assets/img/tick_opt.svg" class="tcard-selected" [hidden]="!c.selected" /></div>
                <div class="l-image-div"><img src="{{c.image}}" class="card-img img1"/></div>
                <div class="pad-5-top">{{c.name}}</div>
              </div>
            </ion-col>
            <!--<ion-col col-4>
              <div class="t-card" style="float: none;" (click)="selected('lotto')">
                <div class="check-div"><img src="./assets/img/tick_opt.svg" class="tcard-selected2" [hidden]="!lottoselected" /></div>
                <img src="./assets/img/lottoball@3x.png" class="card-img img2"/>
                <div class="pad-5-top">Lotto</div>
              </div>
              
            </ion-col>
            <ion-col col-4>
              <div class="t-card" style="float: none;" (click)="selected('powerball')">
                <div class="check-div"><img src="./assets/img/tick_opt.svg" class="tcard-selected2" [hidden]="!powerselected" /></div>
                <img src="./assets/img/powerball@3x.png" class="card-img img2"/>
                <div class="pad-5-top">Powerball</div>
              </div>
            </ion-col>-->
          </ion-row>
        </ion-grid>
        <p class="desc-p" style="margin: 0; font-size: 12px;">These are genuine tickets from the National lottery</p>
        
    </div>
    <div>
        <p class="errorDiv" *ngIf="!oneSelected"><span style="content: url('./assets/img/warning.svg'); width: 12px;"></span> Please select at least one lottery to play </p>
        <!--<div style="text-align: center;" class="pad-10">
          <button ion-button type="submit" class="btn" (click)="next()">Next</button>
        </div>-->
    </div>
        
  </div>
  
</ion-content>
<ion-footer>
    <div class="bottom_bar">
        <button ion-button type="submit" class="btn" (click)="next()">Next</button>
    </div>
</ion-footer>
