refer-friend{


.headding{
    height: 190px;
    width: auto;
    margin-top: 13px;
    background-color: red;
}
.redrow{
    color: white;
    font-weight: bold;
    padding: 8PX;
    font-size: larger;
}
.shareContent{
    height: 186px;
    width: auto;
    background-color: white;
    text-align: center;
    font-style: normal;
    padding: 2%;
}
.social-share{
    background-color: white;
    height: 90px;
    

}
.bold-large{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
}
.social-image{
    height:50px;
}
.social-share-name{
    margin-top: 0%;
    font-size: small;
}
.left{
    float: left;
    // padding: 18px;
    // margin-left: 2%;
    text-align: center;
    margin-left: 8.5px;
}
.footer{
    padding: 2%;
    text-align: center;
    background-color: white;
    margin-top: 0.5%;
}
.footer p{
    font-size: initial;
}
.social-share hr{
    color: black
}
.scroll-content{
    margin-top: 29px !important;
}
}

//media 
@media screen and (max-width:414px) {
    refer-friend .left {
        float: left;
        text-align: center;
        margin-left: 9.5%;
    }
    refer-friend .headding {
        height: 200px;
        width: auto;
        margin-top: 13px;
        background-color: red;
    }
}

@media screen and (max-width:375px) {
    refer-friend .left {
        float: left;
        text-align: center;
        margin-left: 8.5%;
    }
    refer-friend .headding {
        height: 190px;
        width: auto;
        margin-top: 13px;
        background-color: red;
        font-size: smaller;
    }
}

@media screen and (max-width:320px) {
    refer-friend .left {
        float: left;
        text-align: center;
        margin-left: 6.5%;
    }
    refer-friend .headding {
        height: 168px;
        width: auto;
        margin-top: 13px;
        background-color: red;
        font-size: smaller;
    }
}