page-view-tickets {
    .toolbar-background-md { background: black; }
    .mynav { min-height: 42px; }
    .toolbar-title-md {
        color: white;
        font-size: 16px;
        font-family: lato-black;
    }
}
