page-your-offers {
.grid{
   // margin-bottom: 45px;
  //  height: 140vh;
}
.scroll-content {
   
    -webkit-overflow-scrolling: initial;
    scroll-behavior: auto;
    
  
}
ion-slide{
    width: 50%!important;
}
@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}
@keyframes bounce {
    0%   {top:0px;}
    25%  {top:5px;}
    50%  {top:10px;}
    75%  {top:15px;}
    100% {top:20px;}
}
.arrow {
  position: fixed;
  left: 50%;
  margin-left:-20px;
  width: 35px;
  height: 35px;
  bottom: 20px;
  margin-top: 150%;
  opacity: 0.5;
  background-size: contain;
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: 10;
  animation-direction: alternate;
}
 
.tcard-selected {
    width: 40px;
    float: right;

  
    animation-name: pulse_animation;
    animation-duration: 2000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@media only screen and (max-width: 320px) {
    
       .arrow {
           position: fixed;
           left: 50%;
           margin-left:-20px;
           width: 35px;
           height: 35px;
           bottom: 20px;
           opacity: 0.5;
           margin-top: 145%;
           background-size: contain;
           animation-name: bounce;
           animation-duration: 1s;
           animation-timing-function: linear;
           animation-delay: 1s;
           animation-iteration-count: 10;
           animation-direction: alternate;
         }
   }

}
