<div class="modal-page" text-center>
    <div *ngIf="status" class="buycard">
        <button ion-button icon-only style="background:#F8F8F8; border-radius:50%">
                  <ion-icon style="width:50px; "><img src="assets/icon/check_icon.png"> </ion-icon>
                </button>
        <ion-row text-center>
            <ion-col col-12 class="messagecolor">
                Syndicate {{syndicateName}} created! what you want to do next?
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <button ion-button outline round color="light" (click)="moveToSyndicate()">VIEW TICKETS</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 *ngIf="!homeOffer">
                <button ion-button outline round color="light" (click)="getmoreline()">GET More Lines</button>
            </ion-col>
            <ion-col col-12 *ngIf="homeOffer">
                <button ion-button outline round color="light" (click)="getmoreline()">Not now</button>
            </ion-col>
        </ion-row>

    </div>
    <div *ngIf="!status" class="errorcard">
        <button ion-button icon-only style="background:#F8F8F8; border-radius:50%">
                  <ion-icon style="width:50px; "><img src="assets/icon/failed_icon.png"> </ion-icon>
                </button>
        <ion-row text-center>
            <ion-col col-12 class="messagecolor">
                An error has occured. please try again
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <button ion-button outline round color="light" (click)="tryAgain()">TRY AGAIN</button>
            </ion-col>
        </ion-row>
    </div>
</div>