<!--
  Generated template for the ConfirmNumber page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-icon class="icon" ios="ios-arrow-back" md="md-arrow-back" (click)="close()"></ion-icon>
    <ion-title class="title">Confirm your selection</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="skip()">
            <!--<ion-icon ios="md-close" md="md-close"></ion-icon>-->
            SKIP
        </button>
    </ion-buttons>
  </ion-navbar>
  <!--<ion-navbar>
    <ion-title>Confirm your selection</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="skip()">-->
            <!--<ion-icon ios="md-close" md="md-close"></ion-icon>-->
            <!--SKIP
        </button>
    </ion-buttons>
  </ion-navbar>-->
</ion-header>

<popup-confirm-payment #confirmPayment [existing-cards]="userCards" (onPaymentComplete)="onPaymentComplete()"></popup-confirm-payment>

<ion-content class="marg-top-12 main-bg">
  <div class="syndicateRow" *ngFor="let data of dataArr; let r = index;">
        <p class="desc-p"><img src="{{data.product_image}}" class="lot-img"/> Choose your {{data.product_name}} numbers</p>
        <p class="s-title"> Enter {{data.numbers}} numbers from {{data.regular_from}} to {{data.regular_to}} and {{data.bonus}} Lucky Stars from {{data.bonus_from}} to {{data.bonus_to}} </p>
        <div class="text-center">
          <ion-grid>
            <ion-row class="grid-row" style="width: auto;" *ngFor="let l of dataArr[r].lines; let i = index">
                <ion-col *ngFor="let c of l; let j = index; trackBy: small" > <div class="input-number" [ngClass]="{ 'st-input': j>data.numbers-1 }">{{c}}</div> </ion-col>
            </ion-row>  
          </ion-grid>  
        </div>
        <p class="s-title">Valid for: Ongoing every <span *ngFor="let day of data.draw_day; let di = index"><span><span *ngIf="di > 0"> and </span>{{day.long}}</span></span> - &#x20A4;{{data.value | number : '1.2-2'}} </p>
  </div>

  <div class="like-div">
      <div>
        <div class="divider"></div>
        <p>SPECIAL OFFERS FOR YOU</p>
      </div>
  </div>
  <div style="padding:0px;">
     <ion-slides style="height: auto;" (ionSlideDidChange)="slideChanged($event)">
        <ion-slide *ngFor="let d of offerArr; let mi = index;">
          <div style="background: white">
            <div class="baner-img">
              <img src="./assets/img/managed-syndicate-upsell.png" />
            </div>
            <div style="margin-top: -3px;" [style.background]="d?.product_details?.product_color">
              <ion-grid>
                <ion-row class="offerRow">
                  <ion-col col-2> <img [src]="d?.product_details?.image_url" /> </ion-col>
                  <ion-col col-7 class="text-center"> 
                    <div *ngIf="d?.app_lines">{{d?.product_title}}</div>
                    <div *ngIf="!d?.app_lines">{{d?.product_name}}</div>
                    <div>{{d?.product_details?.draw_countdown | date}}</div>
                  </ion-col>
                  <ion-col col-3 class="jprice"> &#x20A4;{{d?.product_details?.jackpot}} </ion-col>
                </ion-row>  
              </ion-grid> 
            </div>
            <div class="homeTime-left" text-center>
                <span  text-center style="text-align: center"><img style="height: 33px;width: 14%" src="assets/icon/timer.svg"/><span style="color:white;vertical-align: super;">TIME LEFT: </span></span>
                <div style="display: -webkit-inline-box;color: #fff;">
                    <div style="margin-right: 10px; margin-left: 15px;"><b style="font-size:18px">{{day}}</b> <br><span>Days</span></div>
                    <div style="margin-right: 10px;"><b style="font-size:18px">{{hrs}}</b> <br><span>Hrs</span></div>
                    <div style="margin-right: 10px;"><b style="font-size:18px">{{min}}</b> <br><span>Mins</span></div>
                    <div style="margin-right: 10px;"><b style="font-size:18px">{{sec}}</b> <br><span>Secs</span></div>
                </div>
              <div class="lines-type" *ngIf="d?.app_lines">
                <div style="float: left;width: 50%;border-bottom: 1px solid lightgrey;border-right: 1px solid lightgrey;height: 8vh"> 
                    <div style="margin-top: 6px"><b style="font-size:18px">{{d?.app_lines}}</b> <br><span>LINES</span></div>
                    <span style="float: right;bottom: 18px;position: relative;right: 12px;"><ion-icon ios="ios-alert" md="md-alert"></ion-icon></span>
                </div>
                <div  style="float: left;width: 50%;border-bottom: 1px solid lightgrey;height: 8vh;border-right: 1px solid lightgrey;height: 8vh">
                    <div style="margin-top: 6px"><b style="font-size:18px">{{d?.app_type | uppercase}}</b> <br><span>TYPE</span></div>
                    <span style="float: right;bottom: 18px;position: relative;right: 12px;"><ion-icon ios="ios-alert" md="md-alert"></ion-icon></span>
                </div>
              </div>
              <div class="lines-type" *ngIf="!d?.app_lines">
                <div style="float: left;width: 33.3%;border-bottom: 1px solid lightgrey;border-right: 1px solid lightgrey;height: 8vh"> 
                    <div style="margin-top: 6px"><b style="font-size:18px">{{d?.lines_count}}</b> <br><span>LINES</span></div>
                    <span style="float: right;bottom: 18px;position: relative;right: 12px;"><ion-icon ios="ios-alert" md="md-alert"></ion-icon></span>
                </div>
                <div  style="float: left;width: 33.3%;border-bottom: 1px solid lightgrey;height: 8vh;border-right: 1px solid lightgrey;height: 8vh">
                    <div style="margin-top: 6px"><b style="font-size:18px">{{d?.app_type | uppercase}}</b> <br><span>TYPE</span></div>
                    <span style="float: right;bottom: 18px;position: relative;right: 12px;"><ion-icon ios="ios-alert" md="md-alert"></ion-icon></span>
                </div>
                <div  style="float: left;width: 33.3%;border-bottom: 1px solid lightgrey;height: 8vh">
                    <div style="margin-top: 6px"><b style="font-size:18px">&#x20A4;{{d?.jackpot_value | uppercase}}</b> <br><span>TRIGGER</span></div>
                    <span style="float: right;bottom: 18px;position: relative;right: 12px;"><ion-icon ios="ios-alert" md="md-alert"></ion-icon></span>
                </div>
              </div>
            </div>
            <div text-center style="clear: both;padding: 15px;">
              <button class="center" padding ion-button text-center color="secondary" style="width: 160px;height: 40px;margin-bottom: 15px;" (click)="selecetOffer(mi)">
                <span style="font-size: 17px;font-weight: lighter;" [hidden]="d?.selected">
                ADD FOR &#x20A4;
                <span *ngIf="d?.app_lines"><span *ngIf="d?.product_price == ''">0</span><span *ngIf="d?.product_price != ''">{{d?.product_price}} </span></span>
                <span *ngIf="!d?.app_lines"><span *ngIf="d?.package_price == ''">0</span><span *ngIf="d?.package_price != ''">{{d?.package_price}} </span></span>
                </span>
                <span style="font-size: 14px;font-weight: lighter;" [hidden]="!d?.selected">
                Remove from cart
                </span>
              </button>

              <a (click)="nextSlide()" *ngIf="mi != offerArr?.length-1">No, Thanks</a>
              <!--<a (click)="nextSlide()" *ngIf="mi == offerArr?.length-1" >Remove from cart</a>-->

            </div>
          </div>
        </ion-slide>
     </ion-slides>
  </div>
  <div class="syndicateRow" style="margin-bottom: 4px;margin-top: 20px;">
    <div style="padding: 6px;">
      <div style="text-align: center;font-size: 16px;font-weight: bold;color: #444;padding-bottom: 20px;">YOUR CART</div>
      <ion-grid style="border-bottom: 2px solid #888;">
        <ion-row >
          <ion-col col-8 text-left>
            <!--<ion-icon ios="md-close" md="md-close" style="font-size: 20px; color: rgb(25, 57, 116); vertical-align: middle;"></ion-icon> -->
            <span class="icon-cross" style="content: url(./assets/img/close2.svg);max-width: 12px;margin-right: 5px;"></span>
            <span>Private Syndicate</span>
          </ion-col>
          <ion-col col-4 text-right>&#x20A4;{{syndicatePrice | number : '1.2-2'}} </ion-col>
        </ion-row>
        <ion-row *ngIf="!offerSelected">
          <ion-col col-12 style="text-align: center; padding: 20px;">
            Don’t forget to add your special offers
          </ion-col>
        </ion-row>
        <ion-row *ngIf="offerSelected">
          <ion-col col-12>
            <div class="like-div2">
              <div>
                <div class="divider"></div>
                <p>SPECIAL OFFERS ADDED</p>
                <!--Don’t forget to add your special offers-->
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let o of offerArr; let oi = index;" [hidden]="!o.selected">
          <ion-col col-8>
            <span (click)="selecetOffer(oi)" class="icon-cross" style="content: url(./assets/img/close2.svg);max-width: 12px;margin-right: 5px;"></span>
            <span *ngIf="o?.app_lines">{{o?.product_title}}</span>
            <span *ngIf="!o?.app_lines">{{o?.product_name}}</span>
          </ion-col>
          <ion-col col-4 text-right> &#x20A4;
            <!--<span *ngIf="o?.product_price != ''">{{o?.product_price}}</span> 
            <span *ngIf="o?.product_price == ''">0</span>-->

            <span *ngIf="o?.app_lines"><span *ngIf="o?.product_price == ''">0</span><span *ngIf="o?.product_price != ''">{{o?.product_price | number : '1.2-2'}} </span></span>
            <span *ngIf="!o?.app_lines"><span *ngIf="o?.package_price == ''">0</span><span *ngIf="o?.package_price != ''">{{o?.package_price | number : '1.2-2'}} </span></span>
            </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row >
          <ion-col col-8 text-left>
            <span>TOTAL PAYABLE TODAY</span>
          </ion-col>
          <ion-col col-4 text-right>&#x20A4;{{TotalPaybale | number : '1.2-2'}} </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div class="syndicateRow" style="display: none;">
      <div class="baner-img">
        <img src="./assets/img/jkp_trigger_bnr@3x.png" />
      </div>
      <div class="desc-div text-center">
        <p class="b-desc">
            Select Lotto and Euro jackpots below - when the jackpot reaches the ‘trigger’ jackpot, you’ll be auto entered in to the big draws only (including rollovers)
        </p>
        <a href="#" class="anch">Click here for more info</a>
      </div>
      <div class="desc-div text-left">
        <p class="desc-p text-left header-b"><img src="./assets/img/euroball@3x.png" class="lot-img"/>EuroMillions jackpot over <span style="color:#2f76d1;">&#x20A4;30M</span></p>
        <ion-item class="toggle-item">
            <ion-label> Get 20 Lines for &#x20A4;4.50 per draw</ion-label>
            <ion-toggle checked="true"></ion-toggle>
        </ion-item>
      </div>
      <div class="desc-div text-left" style="border: none;">
        <p class="desc-p text-left header-b"><img src="./assets/img/lottoball@3x.png" class="lot-img"/>Lotto jackpot over <span style="color: #ff3333;">&#x20A4;20M</span></p>
        <ion-item class="toggle-item">
            <ion-label> Get 20 Lines for &#x20A4;4.99 per draw</ion-label>
            <ion-toggle checked="false"></ion-toggle>
        </ion-item>
      </div>
  </div>
    

    <!--<div class="bottom_bar">
    <!--<p class="s-title" style="color: white; padding-bottom: 5px;">Includes jackpot trigger for EuroMillions jackpots over &#x20A4;30M </p>
    <button ion-button (click)="next()">BUY NOW </button>
    </div>-->
</ion-content>
<ion-footer>
  <!--<ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>-->
  <div class="bottom_bar">
    <!--<p class="s-title" style="color: white; padding-bottom: 5px;">Includes jackpot trigger for EuroMillions jackpots over &#x20A4;30M </p>-->
    <button ion-button (click)="next()">BUY NOW </button>
    </div>
</ion-footer>
