cus-header {
	height: 42px;
	position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 100%;

    .ion-ios-menu-left, .ion-md-menu-left, .ion-ios-menu-left-outline,
    .ion-md-menu-left-outline {
        content: url(../assets/icon/menu-left.svg);
        width: 24px;
    }

    .ion-ios-notification_ico, .ion-md-notification_ico, .ion-ios-notification_ico-outline,
    .ion-md-notification_ico-outline {
        content: url(../assets/icon/notification_ico.svg);
        width: 24px;
    }
    .menu2{
        min-width: 20px;
        font-size: 36px;
    }
    .badge-ios-badge{
        position: absolute;
        color: #FF0000;
        background-color: #E7D011;
        top: 16px;
        left: 24px;
        padding: 2px 4px;
    }
    .toolbar-title{
        padding: 0;
    }


    .bar-button-menutoggle{
    	display: inline;
    }
}
