<ion-header>
    <ion-navbar>
        <!-- <button class="menu2" ion-button icon-only clear menuToggle="menu2">
            <ion-icon name="menu-left"></ion-icon>
        </button> -->

        <ion-title>{{title}}</ion-title>
        <ion-buttons end>
            <!-- <button *ngIf="!isHome" ion-button icon-only (click)="goHomePage()">
                <ion-icon name="md-home"></ion-icon>
            </button> -->
            <button ion-button class="buttonNotification" icon-only menuToggle="menu1" *ngIf="showBell && unreadCount>0">
                <ion-icon name="notification_ico" class="bell-icon"></ion-icon>
                <ion-badge item-right mode="ios" color="badge">{{unreadCount}}</ion-badge>
            </button>
            <button ion-button icon-only menuToggle="menu1" *ngIf="showBell && unreadCount==0">
                <ion-icon name="notification_ico" class="bell-icon"></ion-icon>
                <ion-badge item-right mode="ios" color="badgehomePage">{{unreadCount}}</ion-badge>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>