page-syndicates {
	.tabbar{
		// margin-top: $toolbar-md-height;
    height: $toolbar-md-height;
	}

.marg-top-12{
    margin-top: 12px;
}
.syn-tab {
    margin-top: 42px;
}
.marg-top-12{
   margin-top: 12px;
}
.main-bg {
    background: #e3e3e3;
    font-family: lato-regular;
}
.tabs-ios .tabbar, .tabs-md .tabbar {
    background-color: #304d85;
    border-bottom: 1px solid #ccc;

    .tab-highlight{
      top: auto !important;
      height: 4px;
      background-color: #FFFFFF;
    }

    .tab-button {
	    max-width: 100%;
	    text-transform: uppercase;
	    font-weight: bold;
	    color: #fff !important;
	    min-height: 48px;
	  }
}
   
    
}