page-redeem-games {
	.content{
		margin-top: 18px;
		height: calc(100% - #{$toolbar-md-height});
	}

	no-internet-message{
		position: absolute;
		width: 100%;
	}

	.redeemgameslist{
	    margin-bottom:-8px;
	}
	.header-widthGetGame{
		width: 100%;
		background-color: #E9E9E9;
	}
	.bottom-contentGtagme{
		margin-top: 51%;
		
	}
	.scroll-content {
		z-index: 0; 
	
	   -webkit-overflow-scrolling: auto !important;
	   scroll-behavior: auto;
	 }
}
