page-redeem-games {
	.content{
		margin-top: 18px;
		height: calc(100% - #{$toolbar-md-height});
	}
	@keyframes bounce {
        0%   {top:0px;}
        25%  {top:5px;}
        50%  {top:10px;}
        75%  {top:15px;}
        100% {top:20px;}
    }
    .arrow {
      position: fixed;
      left: 52%;
      margin-left:-20px;
      width: 35px;
      height: 35px;
      bottom: 20px;
      margin-top: 140%;
      background-size: contain;
      animation-name: bounce;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-delay: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

	no-internet-message{
		position: absolute;
		width: 100%;
	}

	.redeemgameslist{
	    margin-bottom:-16px;
	}
	.header-widthGetGame{
		width: 100%;
		background-color: #E9E9E9;
	}
	.bottom-contentGtagme{
		position: absolute;
		margin-top: 58%;

		
	}
	.scroll-content {
		z-index: 0; 
		height: unset;
	   -webkit-overflow-scrolling: auto;
	   scroll-behavior: auto;
	   margin-bottom: 10%;
	 }
}
