<div class="carousel-container">
  <div class="carousel">

<!-- 
     <div class="carousel-slide-item" *ngIf="offersForYou.card_title != ''" [ngStyle]="{'transform': 'rotateY(-60deg) translateZ('+tz+'px)', '-webkit-transform': 'rotateY(60deg) translateZ('+tz+'px)', '-ms-transform': 'rotateY(60deg) translateZ('+tz+'px)', '-o-transform': 'rotateY(60deg) translateZ('+tz+'px)'}" (swipeleft)="onSwipeLeft($event);" (swiperight)="onSwipeRight($event);" >

      <ion-card>
        <div class="card-top" >
          <div class="card-title">
            <img src="assets/img/home/ch_offers@3x.png">
            <h4>{{offersForYou.card_title}}</h4>
          </div>
        </div>
        <div *ngFor="let offer of offersForYou.offer_group | slice:0:2">
            <div *ngIf="offer.name=='lotto'">
                <ion-item margin-top class="offer-up lotto">
                    <img src="{{offer.offer_img}}">
                    <p>{{offer.offer_title}}</p>
                    <h1>{{offer.offer_jackpot}}</h1>
                </ion-item>

                <ion-item class="offer-down lotto">
                    <div class="timer-new">
                        <div class="time-left"><img src="assets/icon/timer.svg" /></div>
                        <div class="time-left"><span>TIME LEFT:</span></div>
                        <div>{{offer.countdown | date:'dd'}}<span>Days</span></div>
                        <div>{{offer.countdown | date:'hh'}}<span>Hrs</span></div>
                        <div>{{offer.countdown | date:'mm'}}<span>Mins</span></div>
                        <div>{{offer.countdown | date:'ss'}}<span>Secs</span></div>
                    </div>
                    <button item-right ion-button color="secondary" (click)="playFor()"> {{ offer.button_text }} </button>
                </ion-item>
                
            </div>

            <div *ngIf=" offer.name == 'euro'">
                <ion-item margin-top class="offer-up euro">
                    <img src="{{offer.offer_img}}">
                    <p>{{offer.offer_title}}</p>
                    <h1>{{offer.offer_jackpot}}</h1>
                </ion-item>
                
                <ion-item class="offer-down euro">
                    <div class="timer-new">
                        <div class="time-left"><img src="assets/icon/timer.svg" /></div>
                        <div class="time-left"><span>TIME LEFT:</span></div>
                        <div>{{offer.countdown | date:'dd'}}<span>Days</span></div>
                        <div>{{offer.countdown | date:'hh'}}<span>Hrs</span></div>
                        <div>{{offer.countdown | date:'mm'}}<span>Mins</span></div>
                        <div>{{offer.countdown | date:'ss'}}<span>Secs</span></div>
                    </div>
                  
                  <button item-right ion-button color="secondary" (click)="playFor()"> {{ offer.button_text }} </button>
                  
                </ion-item>
            </div>
            
        </div>
        
        <button class="center" padding ion-button text-center clear small (click)="viewAllOffers()" >View all offers</button>
      </ion-card>

    </div> 

    <div class="carousel-slide-item" *ngFor="let game of gameGroup; let i=index;" [ngStyle]="{'transform': 'rotateY(-'+((i+1)*60)+'deg) translateZ('+tz+'px)', '-webkit-transform': 'rotateY('+((i+1)*60)+'deg) translateZ('+tz+'px)', '-ms-transform': 'rotateY('+((i+1)*60)+'deg) translateZ('+tz+'px)', '-o-transform': 'rotateY('+((i+1)*60)+'deg) translateZ('+tz+'px)'}" (swipeleft)="onSwipeLeft($event);" (swiperight)="onSwipeRight($event);" >

      <ion-card>
        <div class="card-top" >
          <div class="card-title">
            <img src="assets/img/home/ch_games@3x.png">
            <h4>YOU HAVE GAMES TO PLAY</h4>
          </div>
        </div>

        <div class="lucky" padding padding-top>
          <h3>{{game.game_name}}</h3>
          <p>{{i}} {{game.game_description1}}</p>
        </div>
        <img class="center game-play-img" *ngIf="!game.game_icon_url" src="assets/icon/account_ico.svg" padding width="100" height="100">
        <img class="center game-play-img" *ngIf="game.game_icon_url" src="{{game.game_icon_url}}" padding width="100" height="100">

        <p>{{game.user_game_target}}</p>
        
        <div padding>
          <button class="center" padding ion-button text-center color="secondary" (click)="gameTargetLink(game.target_url)">{{game.button_label}}</button>
        </div>
      </ion-card>

    </div>
     -->



    <div radio-group class="carousel-slide-item" *ngFor="let item of items; let i = index;" [style.background-color]="item.color" [ngStyle]="{'transform': 'rotateY(-'+item.currentPlacement+'deg) translateZ('+tz+'px)', '-webkit-transform': 'rotateY('+item.currentPlacement+'deg) translateZ('+tz+'px)', '-ms-transform': 'rotateY('+item.currentPlacement+'deg) translateZ('+tz+'px)', '-o-transform': 'rotateY('+item.currentPlacement+'deg) translateZ('+tz+'px)'}" (swipeleft)="onSwipeLeft($event);" (swiperight)="onSwipeRight($event);" >
      <ion-img src="{{item.imgUrl}}" style="width:200px; height:200px; margin-top: 10px;"></ion-img>
      <p>{{ i }}{{ '. ' + item.description }}</p>
      <ion-checkbox [(ngModel)]="item.isSelected" (click)="selectItem(item)" ></ion-checkbox>
    </div>


  </div>
</div>
