<ion-content class="modalLeaveOne">
  <ion-list *ngIf="!paused && !leave">
    <div></div>
    <ion-col col-12>
      <ion-item no-lines style="font-weight: bold;text-align: center;white-space: normal">
        Did you know you can pause ypur syndicate for one month?
      </ion-item>
      <p class="pClass" style="font-size:0.9em;">This service is absolutely
        <b>FREE OF CHARGE</b> and no money will be talen from your account during this period.</p>
      <ion-item center no-lines>
        <p style="font-size:0.9em;" class="pClass">Your Normal billing will resume on</p>
        <p style="font-size:0.9em;font-weight: bold" class="pClass">
          <b>{{resumeBilling}}</b>
        </p>
        <br>
        <p style="font-size:0.9em;" class="pClass">Do you want to pause the syndicate?</p>
      </ion-item>
    </ion-col>
    <ion-col col-12>
      <div text-center>
        <button ion-button color='secondary' (tap)="pauseSyndicate()">YES, PAUSE SYNDICATE</button>
        <br>
        <br>
        <button class="Leave-btn-transparent" (tap)="leaveSyndicateManaged()">
          No, I want to leave
        </button>
      </div>
    </ion-col>
  </ion-list>

  <ion-list *ngIf="paused && !leave">
    <ion-col col-12>
      <div style="height: 70%">
        <ion-item no-lines style="font-weight: bold;text-align: center;white-space: normal;">
          <span style="color:green"> Your syndicate has been successfully paused.</span>
          <p class="pClassPaused" style="margin-top: 8px;">Your Normal billing will resume on</p>
          <p class="pClassPaused" style="font-weight: bold;margin-top: 3px">
            <b>18/07/2017</b>
          </p>
          <br>
          <p class="pClassPaused">Meanwhile why don't you take advantage of other offers available?
            <br>You can still open your bonus credit to buy one-off lotterylines or redeem your points to play game</p>
          <br>
          <p class="pClassPaused">You've got to be in to win it!</p>
        </ion-item>
      </div>
    </ion-col>
    <ion-col col-12>
      <div text-center>
        <button ion-button color='secondary' (tap)="moveTOffer()">VIEW OFFERS</button>
      </div>
    </ion-col>
  </ion-list>

  <ion-list *ngIf="leave && !paused">
    <ion-col>
      <div>
        <ion-item no-lines style="text-align: center">
          <span style="font-size: 1.2em">Are you sure you wan to leave your syndicate and stop any further payments?</span>
        </ion-item>
        <ion-item no-lines style="text-align: center;margin: 20px 0px;">
          <button ion-button color="secondary" style="height: 36px;width: 50%;font-size: 1em" (tap)="leaveSynd()">LEAVE SYNDICATE</button>
        </ion-item>
        <ion-item>
          <span style="font-size: 1.2em">Why dont you pause your syndicate for a month instead for
            <b>FREE?</b>
          </span>
        </ion-item>
        <ion-item no-lines style="text-align: center;margin-top:20px">
          <button class="Leave-btn-transparent" (tap)="pauseSyndicate()">
            Go back to pause syndicate
          </button>
        </ion-item>
      </div>
    </ion-col>
  </ion-list>

  <ion-list class="leaveSuccess" *ngIf="leaveSuccess && !paused && !leave" ion-fixed>
    <button ion-button icon-only class="successIconLeave">
      <ion-icon style="width:70px; ">
        <img class="thumbNailImgLeave" src="assets/image/dark-green-check-mark-md.png"> </ion-icon>
    </button>
    <p>We're processing your request.</p>
    <p>A confirmation message will be sent to you via text</p>
    <br>
    <p>Do you want to join a new syndicate?</p>
    <p>Check out the offers available</p>
    <ion-row style="padding-top: 5%; height: 45px">
      <ion-col col-12>
        <button ion-button outline round class="moveToOffers" color="light" (click)="moveTOffer()">VIEW OFFERS</button>
      </ion-col>
    </ion-row>
  </ion-list>

</ion-content>