recentwinner-tips{
    .scroll-content{
        margin-top: 34px !important;
    }
    .play-game-tips{
        height: 240px;
        background-color: white;
        position: relative;
      
    }
    .spantips{
        font-size: medium;
        top: 15px;
        position: relative;
    }
    .talk-bubbleTips {
        margin: 30px 0px 0px -30px;
        display: inline-block;
        position: relative;
        width: 85%;
        height: auto;
        background-color: #E6E7EC;
    }
    .roundTips{
        border-radius: 18px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
    }
    .tri-rightTips.btm-leftTips:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 0px;
        right: auto;
        top: auto;
        bottom: -20px;
        border: 22px solid;
        border-color: transparent transparent transparent #E6E7EC;;
    }
    
    .talktextTips{
      padding: 1em;
      text-align: left;
      line-height: 1.5em;
    }
    .talktextTips p{
        font-size: 1em;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
    }
    .image-settingTips{
        width:9px;height:9px;
    }






    .talk-bubbleTipsNext {
        margin: 30px 0px 0px 30px;
        display: inline-block;
        position: relative;
        width: 85%;
        height: auto;
        background-color: #E6E7EC;
    }
    .roundTipsNext{
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
    }
    .tri-rightTipsNext.btm-leftTipsNext:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 86%;
        right: auto;
        top: auto;
        bottom: -20px;
        border: 22px solid;
        border-color: transparent transparent transparent #E6E7EC;
        transform: rotate(180deg);
    }
    
    .talktextTipsNext{
      padding: 1em;
      text-align: left;
      line-height: 1.5em;
    }
    .talktextTipsNext p{
        font-size: 1em;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
    }
    .image-settingTipsNext{
        width:9px;height:9px;
    }
    .redHeart{
        height: 25px;
        width: 25px;
        margin-top: 85%;
    }
}