<ion-header>
    <synd-cus-header1 title="Recent winners tips" notification-count="5"></synd-cus-header1>
</ion-header>
<ion-content>
    <ion-list style="background-color: white">
        <ion-row style="margin-top: 10px;background-color: whi">
            <ion-col col-12>
                <div text-center>
                    <img src="{{gameInfo?.game_imageurl}}" style="height: 125px;width: 90%" />
                    <br>
                    <ion-label class="label label-md">
                        <div text-wrap>
                            Check out how other users have beat Looto Woggle's level
                        </div>
                    </ion-label>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-10>
                <div class="play-game-tips" text-center>
                    <!-- <div *ngFor=" let tip of tipsData"> -->
                        <div class="talk-bubbleTips tri-rightTips roundTips btm-leftTips">
                            <div class="talktextTips">
                                <p *ngIf="tipsData?.comment_content">{{tipsData?.comment_content}}</p>
                                <p *ngIf="!tipsData?.comment_content">No data in API response</p>
                            </div>
                        </div>
                        <br>
                        <span style="color:#D8D8D8;top: 6px;position: relative;">
                            <span *ngIf="tipsData?.comment_author">{{tipsData?.comment_author}}</span>
                            <span *ngIf="!tipsData?.comment_author">NO DATA</span>
                            <span>
                                <img src="assets/icon/arw_feed_ico.svg" class="image-settingTips" />
                            </span>
                            <span> Conqueror of level 2</span>
                        </span>
                    <!-- </div> -->
                    <!-- <br>
                    <div class="talk-bubbleTipsNext tri-rightTipsNext roundTipsNext btm-leftTipsNext">
                        <div class="talktextTipsNext">
                            <p>bkdsjfkljcxvlkjhxcvx ZDKjfhsA ZDLKfjhsDIAK klughjDZXLfgha jihkgSDLFGiy.</p>
                        </div>
                    </div>
                    <br>
                    <span style="color:#D8D8D8">
                    <span>Matt </span><span> <img src="assets/icon/arw_feed_ico.svg" class="image-settingTips" /></span><span> Conqueror of level 2</span>
                    </span> -->
                </div>
            </ion-col>
            <ion-col col-2>
                <img src="assets/icon/hart-like.svg" class="redHeart">
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>