<!--
  Generated template for the CheckWinningsNext page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="green-div">
  <img (tap)=close() src="assets/img/button.png" class="imgClassClose">
  <div class="head-text">Check your winnings</div>
  <div *ngIf="!loading">
    <span style="content: url('./assets/icon/user2.svg'); width:40px;"></span>
    <span style="content: url('./assets/icon/user2.svg'); width:40px;"></span>
    <span style="content: url('./assets/icon/user2.svg'); width:40px;"></span>
  </div>
  <div *ngIf="loading">
    <span style="content: url('./assets/vid/new1.gif'); width:140px;"></span>
  </div>
  <div>
    <marquee *ngIf="loading">
      <div style="padding:30px;">Munching numbers...</div>
    </marquee>
    <div *ngIf="!loading" style="padding:30px;">Munching numbers...</div>
  </div>
  <div class="move1" style="padding-top:30px;" *ngIf="errorMsg != ''">{{errorMsg}}</div>
  <div *ngIf="hideAtFinish" style="height: 55px;overflow: hidden;" id="tickerMain">
    <div id="ticker">
      <div class="" style="padding: 10px 0;" *ngFor="let l of sList2 let i=index">
        <div style="font-size: large">SYNDICATE {{l?.syndicate_name}}</div>
        <!-- <div class="h-ticker"> -->
        <!-- <span style="margin-left: 5px" *ngFor="let product of l.Product_Name | filter:{syndicate:l[i]}"> {{product}} - </span> -->
        <ion-slides [autoplay]="slideAutoplay" speed="6000">
          <ion-slide *ngFor="let productData of l.Product_Name">
            <marquee *ngIf="l.Product_Name.length<=1">{{productData.product}}</marquee>
            <span *ngIf="l.Product_Name.length>1"> {{productData.product}}</span>
          </ion-slide>
        </ion-slides>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="fadeIn" *ngIf="!hideAtFinish">
    <img src="assets/image/completed.png">
  </div>
</ion-content>
<ion-footer no-lines>
  <ion-slides *ngIf="slidesWinnings && slidesWinnings.length>0" pager loop autoplay="3000" slidesPerView=1 style="padding: 0 20px 15px;">
    <ion-slide *ngFor="let slidechk of slidesWinnings">

      <div class="imgOverLay">{{slidechk?.title}}</div>
      <div class="imgOverLay">{{slidechk?.description}}</div>

      <img style="position: relative" src="{{slidechk?.image}}">
    </ion-slide>
    <!-- <ion-slide>
      <div class="imgOverLay">Title2</div>
      <div class="imgOverLay">description</div>

      <img style="position: relative" src="http://lottosocial.s3.amazonaws.com/app_assets/checkmywinnings_slider/slider2.jpg">
    </ion-slide>
    <ion-slide>
      <div class="imgOverLay">Title3</div>
      <div class="imgOverLay">description</div>

      <img style="position: relative" src="http://lottosocial.s3.amazonaws.com/app_assets/checkmywinnings_slider/slider3.jpg">
    </ion-slide> -->
  </ion-slides>
</ion-footer>