.thanks-page{
    background-color: transparent;
    z-index: 10;
    position:absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 50px;
}

.thanks-page-heading
{
    font-size:32px;
    font-weight: bolder;
}

.orange-text
{
    color:#EE6D24;
}

.thanks-page-img
{
    margin-top:60px;
    margin-bottom: 60px;
}

.btn-transparent{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: blue;
    font-size: 16px;
}
#celebration{
    background-color: white;
    height: 100%;
    width: 100%;
}
.thanku-page-footer{
    background-color: white;
      margin-top: 250px;
}