page-account {
	no-internet-message{
		position: absolute;
		width: 100%;
	}
	progress-bar{
		width: 60%;
	}
	.pulsateButton{
		animation-name: example;
		animation-duration: 3s;
		animation-timing-function: linear;
		animation-delay: 1s;
		animation-iteration-count: 5;
		animation-direction: alternate;
		border-radius: 50%
	  
	  
	  }
	  @keyframes example {
		0%   {background-color: #2BB085; left:0px; top:0px;}
		25%  {background-color: green; left:200px; top:0px;}
		50%  {background-color: #2BB085; left:200px; top:200px;}
		75%  {background-color: green; left:0px; top:200px;}
		100% {background-color:#2BB085; left:0px; top:0px;}
	  }
	  @keyframes bounce {
		0%   {top:0px;}
		25%  {top:5px;}
		50%  {top:10px;}
		75%  {top:15px;}
		100% {top:20px;}
	}
	.arrow {
	  position: fixed;
	  left: 52%;
	  margin-left:-20px;
	  width: 35px;
	  height: 35px;
	  bottom: 20px;
	  margin-top: 150%;
	  opacity: 0.5;

	  background-size: contain;
	  animation-name: bounce;
	  animation-duration: 1s;
	  animation-timing-function: linear;
	  animation-delay: 1s;
	  animation-iteration-count: 10;
	  animation-direction: alternate;
	}
	.profile-completion{
		font-size: .6em;
	}

	.content{
		height: calc(100% - 2%);
	}
	.card{
		margin: 10px 1px;
		width: calc(100% - 2px);
	}

	.account-avatar {
	    width: 70px;
	    position: relative;
	    img{
	    	width: 70px;
	    	height: 70px;
	    	border-radius: 50%;
	    }
	    .update-icon{
	    	position: absolute;
	    	background: white;
	    	border-radius: 50%;
	    	padding: 0.1em;
	    	width: 1.4em;
	    	height: 1.4em;
	    	bottom: 1px;
	    	right: 3px
	    }
	}
	.profile-picture{
		background: #e3e3e3;
	}
	ion-slide{
		width: 15%!important;
	}
	.badge{
		font-size: 1.4rem;
		border-radius: 10px;
	}

	.account-badge{
		background: #33ba97;
	    color: white;
	    border-radius: 50%;
	    height: 4em;
	    width: 4em;
	    line-height: 4em;
	    font-size: .8em;
	}

	.your-achievements{
		background-color: #33ba97;
		padding: 8px;

		h3{
			font-size: 1.2em;
			font-family: Lato-Bold;
			color: #FFF;
		}
		.slides{
			min-height: 4em;

			.slide-zoom{
				padding: 5px;
			}

			img{
				width: 100%;
				height: 100%;
			}
			p{
				font-size: .6em;
				color: #FFF;
			}
		}
	}

/* 	.info{
		padding: 10px;

		h1{
			font-size: 1.5em;
			font-weight: bold;
		}
		p{
			font-size: .9em;
		}
		.col{
			border-right: 1px solid #e8e8e8;
		}
		.col:last-of-type{
			border:none;
		}
	}
 */
	.options{
		img{
			width: 14px;
			min-width: 14px;
		}
		.help p{
			font-weight: bold;
		}
	}

	.item{ 
		margin: 0;
		.icon{
			margin: 0 8px 0 0;
		}
		.update-img{
			width: 12px;
			max-width: 14px;
			display: inherit;
		    margin: 0 4px;
		}
	}

	.links{
		height: $toolbar-md-height;
		background-color: #e8e8e8;
		div{
			height: 100%;
		}
		a{
			padding: 0 1em;
			text-transform: none;
			border-right: 1px solid #3478ce;
			line-height: $toolbar-md-height;
		}
		a:last-of-type {
			border: none;
		}

	}

	
@media only screen and (max-width: 320px) {
 
    .arrow {
        position: fixed;
        left: 52%;
        margin-left:-20px;
        width: 35px;
        height: 35px;
		bottom: 20px;
		opacity: 0.5;
        margin-top: 144%;
        background-size: contain;
        animation-name: bounce;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 1s;
        animation-iteration-count: 10;
        animation-direction: alternate;
      }
}
}
