page-check-winnings {
    .scroll-content {
        margin-bottom: 115px;
    }
    .button-md {
        height: 4.5rem;
        border-radius: 25px;
        font-size: 1.8rem;
        font-weight: 500;
        width: 100%;
        background: #14993f;
}
.main-div {
    background: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
.g-header {
    font-family: lato-black;
    font-size: 16px;
    color: #14993f;
    text-transform: uppercase;
}
.list-div {
    background: white;
    padding: 10px 0 10px 0;
    text-align: center;
}
.list-d {
   padding: 5px 0;
}
.border-b {
    border-bottom: 1px solid #ccc;
}
.icon-s {
    width: 20px;
}
}
