<ion-content class="overlay" text-center ion-fixed padding scroll="false">
    <!-- Home Menu -->
    
    <div *ngIf="counter==0"style="position: absolute;width: 8%">
         <img src="assets/img/sideMenu.png" style="border: 5px solid red;height: 46px">
        <img src="assets/img/arrow-1.png" style=" left: 35%; color: white; height: 51px; position: relative; top: -1vh;z-index: inherit;transform:scaleX(-1);">
       
    </div>
    <div  *ngIf="counter==0" class="homeDiv"><p style="font-size: 16px;font-weight: bold;padding:4px">Click here for useful links on the app.</p>  </div>
    

     <div *ngIf="counter==2" style="margin-top: 26%;width: 100%;">
         
            <img src="assets/img/homepage.png" style="border: 5px solid red;height: 53vh;width: 89%;opacity: 0.8"><br>
            <img src="assets/img/arrow-1.png" style=" left: 15%; color: white; height: 51px; position: relative; top: -1vh;z-index: inherit;transform:scaleX(-1);">
            <div class="homeCardDiv"><p style="font-size: 16px;font-weight: bold;padding:5px">Useful information about the service .</p>  </div>
     </div>


    <!-- Credit and Points Menu -->

     <div *ngIf="counter==8 || counter==9" style="top: 7%;position: absolute;width: 100%">
        <img src="assets/img/creditPoints.png" style="width: 100%;border: 5px solid red">
        <span *ngIf="counter==9">
                <img src="assets/img/arrow-1.png" style=" left: -33%; color: white; height: 51px; position: relative; top: -2vh;z-index: inherit;">
                <div class="rotetDiv fstDiv11"><p style="font-size: 16px;font-weight: bold;padding: 0px 5px 0px 5px">Your Credit in Store / Offers pages.</p> </div>
        </span>
        <span  *ngIf="counter==8">
                <img src="assets/img/arrow-1.png" style=" right: -16%; color: white; height: 51px; position: relative; top: -2vh;z-index: inherit;">
                
                <div class="rotetDiv fstDiv12"><p style="font-size: 16px;font-weight: bold;padding: 0px 5px 0px 5px">Spend your points on the Games section.</p> </div>
            
        </span>
    </div>
    
    
     <!-- Store Information -->
     <span  *ngIf="counter==4">
    <div class="rotetDiv fstDiv"><p style="font-size: 16px;font-weight: bold">Browse through the store for Amazing offers.</p>  </div>

    <img src="assets/img/arrow-1.png" style=" left: -36%; color: white; height: 79px; position: relative; top: 80vh;z-index: 999;"> 
</span>

        <!-- Manage Syndicate -->
        <span *ngIf="counter==5">
    <div class="rotetDiv sndDiv"><p style="font-size: 16px;font-weight: bold">Manage your syndicates.</p> </div>
    <img src="assets/img/arrow-1.png" style=" left: -17%; color: white; height: 79px; position: relative; top: 80vh;z-index: 999; ">
</span>

    <!-- Games -->
    <span *ngIf="counter==6">
    <div class="rotetDiv thrdDiv"><p style="font-size: 16px;font-weight: bold;padding: 4px">Your games & games for you.</p>  </div>
    <img src="assets/img/arrow-1.png" style=" right: -18%; color: white; height: 79px; position: relative; top: 80vh;z-index: 999;transform:scaleX(-1)"> 
</span>
        <!-- offer -->
<span *ngIf="counter==7" >
<div class="rotetDiv fourthDiv"><p style="font-size: 16px;font-weight: bold;padding: 4px">Special offers available.</p>  </div>
    <img src="assets/img/arrow-1.png" style="right: -36%; color: white; height: 79px; position: relative; top: 80vh;z-index: 999;transform:scaleX(-1)"> 
</span>
   <!-- pullup -->
   <span *ngIf="counter==3">
   <div class="rotetDiv pullUpDiv"><p style="font-size: 16px;font-weight: bold;padding: 4px">Latest news and  programmes for you.</p>  </div>
    <img src="assets/img/arrow-1.png" style="right: 0%; color: white; height: 79px; position: relative; top: 75vh;z-index: 999;transform:scaleX(-1)"> 
    </span> 
    <!-- bottom image -->
     
    <div *ngIf="counter==4 || counter==5 || counter==6 || counter==7 "  class="overlayDiv1">
        <img src="assets/img/overlay.png" style="width:100%;border: 5px solid red">
    </div>

    <div *ngIf="counter==3"  class="overlayDiv">
            <img src="assets/img/pullup.png" style="width:95%;border: 5px solid red">
        </div>

    <!-- Notification -->

    <span *ngIf="counter==1">
    <img src="assets/img/message-count.png" class="messageCountIcon">
    <div  class=" fourthDivRight"><p style="font-size: 16px;font-weight: bold;padding: 4px">Click here for in app messages. </p></div>
    <img src="assets/img/arrow-1.png" class="message_count_icon-arrow"> 
    </span>

    <button class="button-got-it" (click)="closeOverlay()">Next !!! </button>

</ion-content>


