<div class="popup" *ngIf="confirmPayment" style="z-index: 102;">
  <ion-backdrop disable-activated="" style="opacity:.5; z-index: 10;" role="presentation" ></ion-backdrop>
  
    <div class="popup-content animated" [ngClass] = "(slideInUp) ? 'slideInUp' : 'slideOutDown' ">

      <div class="payment-popover">
        <p class="header" text-center>Confirm Purchase</p>
        <p text-center><!-- This is 2 line description for payment --></p>
        <ion-scroll style="width:100%;height:40vh" scrollY="true">
          <ion-list radio-group class="windows" [(ngModel)]="cardSelected" scroll="true">
            <ion-list-header text-center><span><ion-icon name="md-lock" color="secondary"></ion-icon> </span> Secure payment details</ion-list-header>
            
            <ion-item *ngFor="let card of cardsList; let i = index">
              <ion-label>Use preferred card:<br>{{card.card_type | uppercase}} ending with {{card.last4_digit}}</ion-label>
              <ion-radio value="{{i}}" item-left color="secondary" checked="{{(i==0)?true:false}}"></ion-radio> 
            </ion-item>
            <ion-item>
              <ion-label>Use a different card</ion-label>
              <ion-radio value="-1" item-left color="secondary"></ion-radio>
            </ion-item>

          </ion-list>
        </ion-scroll>


        
        
      </div>

    </div>
</div>
