page-new-syndicate {
	.toolbar-content p{
		color: white;
	}
	.content{
		background-color: #E8E8E8;
	}

	.join{
		margin: 20vw 0 0 0;
		width: 100%;
		background-color: white;
		overflow: visible;
		p{
			width: 100%;
		}
		img{
			max-width: 60vw;
			height: 60vw;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		h4{
			font-size: 1.2em;
			font-weight: bold;
		}

		.img-right{
			right: -12vw;
		}
		.img-left{
			left: -12vw;
		}
	}

}
