page-new-syndicate {
	.toolbar-content p{
		color: white;
	}
	.content{
		background-color: #E8E8E8;
	}
	.fontstyle{
		text-align: center;
		font-size: inherit;
	}

	.join{
		margin: 9vw 0 0 0;
		width: 100%;
		background-color: white;
		overflow: visible;
		p{
			width: 100%;
		}
		img{
			max-width: 58vw;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		h4{
			font-size: 1.2em;
			font-weight: bold;
		}

		.img-right{
			height: 105%!important;
			left: -5px;
		}
		.img-left{
			left: -12vw;
			height: 133% !important;
		}
	}

}
