<ion-header>

  <ion-navbar>
    <p padding-left>You have been invited!</p>
  </ion-navbar>

</ion-header>

<ion-content >
    <div class="card-top" >
      <div class="card-image">
        <img [src]="sDetails?.private_syndicate_image_url">
        <h4 text-center text-bold>{{sDetails?.syndicate_name}}</h4>
      </div>
    </div>

    <ion-item >
      <ion-avatar item-left>
        <img [src]="sDetails?.invitee_profile_pic_url" onerror="this.src='assets/icon/account_ico.svg'">
      </ion-avatar>
      <p item-content>{{sDetails?.invitee_member_name}} has invited you to join their syndicate with other {{sDetails?.syndicate_invited_count}} players</p>
    </ion-item>
        	
  	<div class="lotteries">
  		<p item-left>Lotteries played in this syndicate</p>
  		<p *ngFor="let d of sDetails?.product_group"><span>{{d?.product_name}}</span> x{{d?.ticket_count}} tickets valid for {{d?.ticket_valid_date}}</p>
  		
  		<!-- <p><span>EURO FRI</span> x10 tickets valid for 17 Feb 2017</p> -->
  	</div>
    

    <button class="btn btn-functional" >VIEW TICKETS</button>	
    <div margin-top class="line"></div>
    
    
    <ion-grid class="members">
      <ion-row >
      	<p class="center">{{sDetails?.member_count}} current members</p>
      </ion-row>
      <ion-row justify-content-center>
        <ion-slides loop slidesPerView=4 spaceBetween=0>
          <ion-slide *ngFor="let u of sDetails?.member_group">
            <img [src]="u?.profile_image" onerror="this.src='assets/icon/account_ico.svg'"><p>{{u?.name}}</p>
          </ion-slide>
          <!-- <ion-slide>
            <img src="assets/icon/account_ico.svg"><p>Martin</p>
          </ion-slide>
          <ion-slide>
            <img src="assets/icon/account_ico.svg"><p>Jessica</p>
          </ion-slide>
          <ion-slide>
            <img src="assets/icon/account_ico.svg"><p>Laura</p>
          </ion-slide>
          <ion-slide>
            <img src="assets/icon/account_ico.svg"><p>Martin</p>
          </ion-slide> -->
        </ion-slides>
      </ion-row>
      <ion-row justify-content-center>
        	<ion-col col-5><button class="btn btn-negative  btn-block" (click)="decline()">DECLINE</button></ion-col>
        	<ion-col col-5><button class="btn btn-positive btn-block" (click)="joinSyndicate()">VIEW</button></ion-col>
        </ion-row>
        <ion-row class="decide-later">
        	<button class="center" padding ion-button text-center clear small (click)="goHome()">Decide later</button>
        </ion-row>
    </ion-grid>
    

    

</ion-content>
