<ion-header>
  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons end>
    	<button ion-button clear icon-only (click)="closeMe()">
    		<ion-icon name="md-close" ></ion-icon>
    	</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content >
	<form #passForm="ngForm" (ngSubmit)="submitPassword(passwordForm)">
	<ion-grid>
		<ion-row>
			<ion-item >
				<ion-label stacked>Current password</ion-label>
				<ion-input #current_password type="password" name="current_password" [(ngModel)]="password.current_password" required minlength="6" [attr.minlength]="6" ></ion-input>
				<ion-icon item-right *ngIf="showPass" name="ios-eye" (click)="showPassword(current_password)"></ion-icon>
				<ion-icon item-right *ngIf="!showPass" name="ios-eye-off" (click)="showPassword(current_password)"></ion-icon>
			</ion-item>
		</ion-row>
	
		<ion-row>
			<ion-item >
				<ion-label stacked>New password</ion-label>
				<ion-input #new_password type="password" name="new_password" [(ngModel)]="password.new_password" required minlength="6" [attr.minlength]="6" ></ion-input>
				<ion-icon item-right *ngIf="showPass" name="ios-eye" (click)="showPassword(new_password)"></ion-icon>
				<ion-icon item-right *ngIf="!showPass" name="ios-eye-off" (click)="showPassword(new_password)"></ion-icon>
			</ion-item>			
		</ion-row>
	
		<ion-row>
			<ion-item >
				<ion-label stacked>Confirm password</ion-label>
				<ion-input #confirm_password type="password" name="confirm_password" [(ngModel)]="password.confirm_password" required minlength="6" [attr.minlength]="6" ></ion-input>
				<ion-icon item-right *ngIf="showPass" name="ios-eye" (click)="showPassword(confirm_password)"></ion-icon>
				<ion-icon item-right *ngIf="!showPass" name="ios-eye-off" (click)="showPassword(confirm_password)"></ion-icon>
			</ion-item>
		</ion-row>
	
	</ion-grid>

	
	<p *ngIf="warningPassword" class="warning"><ion-icon name="ios-warning-outline"> </ion-icon> Please enter a valid password</p>
	<p *ngIf="warningPasswordMatch" class="warning"><ion-icon name="ios-warning-outline"> </ion-icon> Passwords does not match</p>

	<p><a text-center class="center" (click)="forgotPassword($event)">Forgot Password</a></p>

	<div padding>
		<button class="center" type="submit" ion-button text-center full color="secondary" >UPdate password</button>
	</div>
		
	
	</form>
</ion-content>
