<ion-header>
  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons end>
    	<button ion-button clear icon-only (click)="closeMe()">
    		<ion-icon name="md-close" ></ion-icon>
    	</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content >
	<form #signupForm="ngForm" (ngSubmit)="submitSignup(signupForm)">
	<ion-grid>
		<ion-row>
			<ion-item >
				<ion-label stacked>Current password</ion-label>
				<ion-input #current type="password" name="current" [(ngModel)]="password.current" required minlength="6" [attr.minlength]="6" ></ion-input>
				<ion-icon item-right *ngIf="showPass" name="ios-eye" (click)="showPassword(current)"></ion-icon>
				<ion-icon item-right *ngIf="!showPass" name="ios-eye-off" (click)="showPassword(current)"></ion-icon>
			</ion-item>
		</ion-row>
	
		<ion-row>
			<ion-item >
				<ion-label stacked>New password</ion-label>
				<ion-input #new type="password" name="new" [(ngModel)]="password.new" required minlength="6" [attr.minlength]="6" ></ion-input>
				<ion-icon item-right *ngIf="showPass" name="ios-eye" (click)="showPassword(new)"></ion-icon>
				<ion-icon item-right *ngIf="!showPass" name="ios-eye-off" (click)="showPassword(new)"></ion-icon>
			</ion-item>			
		</ion-row>
	
		<ion-row>
			<ion-item >
				<ion-label stacked>Confirm password</ion-label>
				<ion-input #confirm type="password" name="confirm" [(ngModel)]="password.confirm" required minlength="6" [attr.minlength]="6" ></ion-input>
				<ion-icon item-right *ngIf="showPass" name="ios-eye" (click)="showPassword(confirm)"></ion-icon>
				<ion-icon item-right *ngIf="!showPass" name="ios-eye-off" (click)="showPassword(confirm)"></ion-icon>
			</ion-item>
		</ion-row>
	
	</ion-grid>

	
	<p *ngIf="!warningPassword" class="warning"><ion-icon name="ios-warning-outline"> </ion-icon> Please enter a valid password</p>

	<p><a text-center class="center" (click)="forgotPassword($event)">Forgot Password</a></p>

	<div padding>
		<button class="center" type="submit" ion-button text-center full color="secondary" >UPdate password</button>
	</div>
		
	
	</form>
</ion-content>
